Product/Production/Common/CONNECTCoreLib/xml-resources/web-service-references/AdapterXDRResponseSecured/schemas/nhinc/common/xdr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:ihe:iti:xdr:2007"
            xmlns:tns="urn:ihe:iti:xdr:2007"
            elementFormDefault="qualified" >
	<xsd:complexType name="AcknowledgementType">
		<xsd:sequence>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Acknowledgement" type="tns:AcknowledgementType"/>
</xsd:schema>
