Product/Production/Common/CONNECTCoreLib/src/main/resources/xml-resources/web-service-references/AdapterSubjectDiscoverySecured/wsdl/AdapterSubjectDiscoverySecured.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:adaptersubjectdiscoverysecured" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:nccommonadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   name="AdapterSubjectDiscoverySecured" 
   targetNamespace="urn:gov:hhs:fha:nhinc:adaptersubjectdiscoverysecured">
    <wsdl:documentation>
     WSDL for Adapter interface of Subject Discovery
    </wsdl:documentation>
    
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
            <xsd:include schemaLocation="../schemas/nhinc/hl7/HL7PatientDiscoveryMessages.xsd"/>
            <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201301UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201301UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201301UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201302UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201302UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201302UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201302UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201302UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
<!--    <wsdl:message name="PIXConsumer_PRPA_IN201303UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201303UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201303UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201303UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201303UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>-->
    <wsdl:message name="PIXConsumer_PRPA_IN201304UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201304UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201304UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201304UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201304UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201309UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201309UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201309UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201309UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201309UVResponse" 
               element="hl7:PIXConsumer_PRPA_IN201309UVResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="AdapterSubjectDiscoverySecuredPortType">
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201301UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" 
                   message="tns:PIXConsumer_PRPA_IN201301UVResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201302UVRequestMessage"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse"  
                   message="tns:PIXConsumer_PRPA_IN201302UVResponseMessage"/>
        </wsdl:operation>
<!--        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201303UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201303UVResponseMessage"/>
        </wsdl:operation>-->
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201304UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201304UVResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201309UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201309UVResponseMessage" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="AdapterSubjectDiscoverySecuredBindingSoap" 
                type="tns:AdapterSubjectDiscoverySecuredPortType">
        <soap:binding style="document" 
                     transport="http://schemas.xmlsoap.org/soap/http"/>
                     <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_SoapPolicy"/>
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201301UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201302UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
<!--        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201303UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>-->
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201304UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201309UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse" >
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Adapter_SubjectDiscovery_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AdapterSubjectDiscoverySecured">
        <wsdl:port name="AdapterSubjectDiscoverySecuredPortSoap" 
               binding="tns:AdapterSubjectDiscoverySecuredBindingSoap">
            <soap:address 
         location="https://localhost:${HttpsDefaultPort}/NhinConnect/AdapterSubjectDiscoverySecured"/>
        </wsdl:port>
    </wsdl:service>
    
    <wsp:Policy wsu:Id="Adapter_SubjectDiscovery_SoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
        <sc:KeyStore wspp:visibility="private" 
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector" 
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
        <sc:TrustStore wspp:visibility="private" 
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:RequireClientCertificate/>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:SamlToken 
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV20Token11/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
            <sp:RequireSignatureConfirmation/>
          </wsp:Policy>
        </sp:Wss11>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="Adapter_SubjectDiscovery_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="Adapter_SubjectDiscovery_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  
    <plnk:partnerLinkType name="AdapterSubjectDiscoverySecured">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
        <plnk:role name="AdapterSubjectDiscoverySecuredPortTypeRole" 
               portType="tns:AdapterSubjectDiscoverySecuredPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
