Product/Production/Common/CONNECTCommonWeb/src/main/resources/wsdl/NhincComponentConnectionManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentconnectionmanager"
    xmlns:conninfo="urn:gov:hhs:fha:nhinc:common:connectionmanagerinfo" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon"
    xmlns:uddi="urn:uddi-org:api_v3" name="ConnectionManagerService" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentconnectionmanager">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:connectionmanagerinfo" schemaLocation="classpath:schemas/nhinc/common/ConnectionManagerInfo.xsd" />
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="classpath:schemas/nhinc/common/NhincCommon.xsd" />
            <xsd:import namespace="urn:uddi-org:api_v3" schemaLocation="classpath:schemas/uddi/uddi_v3.xsd" />
        </xsd:schema>
    </wsdl:types>

    <message name="GetAllBusinessEntitiesRequestMessage">
        <part name="body" element="conninfo:GetAllBusinessEntitiesRequest" />
    </message>
    <message name="GetAllBusinessEntitiesResponseMessage">
        <part name="body" element="conninfo:GetAllBusinessEntitiesResponse" />
    </message>

    <message name="GetBusinessEntityRequestMessage">
        <part name="body" element="conninfo:GetBusinessEntityRequest" />
    </message>
    <message name="GetBusinessEntityResponseMessage">
        <part name="body" element="conninfo:GetBusinessEntityResponse" />
    </message>

    <message name="GetBusinessEntitySetRequestMessage">
        <part name="body" element="conninfo:GetBusinessEntitySetRequest" />
    </message>
    <message name="GetBusinessEntitySetResponseMessage">
        <part name="body" element="conninfo:GetBusinessEntitySetResponse" />
    </message>

    <message name="GetBusinessEntityByServiceNameRequestMessage">
        <part name="body" element="conninfo:GetBusinessEntityByServiceNameRequest" />
    </message>
    <message name="GetBusinessEntityByServiceNameResponseMessage">
        <part name="body" element="conninfo:GetBusinessEntityByServiceNameResponse" />
    </message>

    <message name="GetDefaultEndpointURLByServiceNameRequestMessage">
        <part name="body" element="conninfo:GetDefaultEndpointURLByServiceNameRequest" />
    </message>
    <message name="GetDefaultEndpointURLByServiceNameResponseMessage">
        <part name="body" element="conninfo:GetDefaultEndpointURLByServiceNameResponse" />
    </message>

    <message name="GetInternalEndpointURLByServiceNameRequestMessage">
        <part name="body" element="conninfo:GetInternalEndpointURLByServiceNameRequest" />
    </message>
    <message name="GetInternalEndpointURLByServiceNameResponseMessage">
        <part name="body" element="conninfo:GetInternalEndpointURLByServiceNameResponse" />
    </message>

    <message name="GetEndpointURLFromNhinTargetRequestMessage">
        <part name="body" element="conninfo:GetEndpointURLFromNhinTargetRequest" />
    </message>
    <message name="GetEndpointURLFromNhinTargetResponseMessage">
        <part name="body" element="conninfo:GetEndpointURLFromNhinTargetResponse" />
    </message>

    <message name="GetEndpointURLFromNhinTargetCommunitiesRequestMessage">
        <part name="body" element="conninfo:GetEndpointURLFromNhinTargetCommunitiesRequest" />
    </message>
    <message name="GetEndpointURLFromNhinTargetCommunitiesResponseMessage">
        <part name="body" element="conninfo:GetEndpointURLFromNhinTargetCommunitiesResponse" />
    </message>

    <message name="GetBusinessEntitySetByServiceNameRequestMessage">
        <part name="GetBusinessEntitySetByServiceNameRequest" element="conninfo:GetBusinessEntitySetByServiceNameRequest" />
    </message>
    <message name="GetBusinessEntitySetByServiceNameResponseMessage">
        <part name="body" element="conninfo:GetBusinessEntitySetByServiceNameResponse" />
    </message>

    <message name="GetAllBusinessEntitySetByServiceNameRequestMessage">
        <part name="body" element="conninfo:GetAllBusinessEntitySetByServiceNameRequest" />
    </message>
    <message name="GetAllBusinessEntitySetByServiceNameResponseMessage">
        <part name="body" element="conninfo:GetAllBusinessEntitySetByServiceNameResponse" />
    </message>

    <message name="GetAdapterEndpointURLRequestMessage">
        <part name="body" element="conninfo:GetAdapterEndpointURLRequest" />
    </message>
    <message name="GetAdapterEndpointURLResponseMessage">
        <part name="body" element="conninfo:GetAdapterEndpointURLResponse" />
    </message>

    <message name="ForceRefreshUDDICacheRequestMessage">
        <part name="body" element="conninfo:ForceRefreshUDDICacheRequest" />
    </message>
    <message name="ForceRefreshUDDICacheResponseMessage">
        <part name="body" element="conninfo:ForceRefreshUDDICacheResponse" />
    </message>
    
    <message name="ForceRefreshInternalConnectCacheRequestMessage">
        <part name="body" element="conninfo:ForceRefreshInternalConnectCacheRequest" />
    </message>
    <message name="ForceRefreshInternalConnectCacheResponseMessage">
        <part name="body" element="conninfo:ForceRefreshInternalConnectCacheResponse" />
    </message>

    <message name="GetAssigningAuthoritiesByHomeCommunityRequestMessage">
        <part name="body" element="conninfo:GetAssigningAuthoritiesByHomeCommunityRequest" />
    </message>
    <message name="GetAssigningAuthoritiesByHomeCommunityResponseMessage">
        <part name="body" element="conninfo:GetAssigningAuthoritiesByHomeCommunityResponse" />
    </message>

    <message name="GetHomeCommunityByAssigningAuthorityRequestMessage">
        <part name="body" element="conninfo:GetHomeCommunityByAssigningAuthorityRequest" />
    </message>
    <message name="GetHomeCommunityByAssigningAuthorityResponseMessage">
        <part name="body" element="conninfo:GetHomeCommunityByAssigningAuthorityResponse" />
    </message>

    <portType name="NhincComponentConnectionManagerPortType">

        <operation name="GetAllBusinessEntities">
            <input name="GetAllBusinessEntitiesRequest" message="tns:GetAllBusinessEntitiesRequestMessage" />
            <output name="GetAllBusinessEntitiesResponse" message="tns:GetAllBusinessEntitiesResponseMessage" />
        </operation>
        <operation name="GetBusinessEntity">
            <input name="GetBusinessEntityRequest" message="tns:GetBusinessEntityRequestMessage" />
            <output name="GetBusinessEntityResponse" message="tns:GetBusinessEntityResponseMessage" />
        </operation>
        <operation name="GetBusinessEntitySet">
            <input name="GetBusinessEntitySetRequest" message="tns:GetBusinessEntitySetRequestMessage" />
            <output name="GetBusinessEntitySetResponse" message="tns:GetBusinessEntitySetResponseMessage" />
        </operation>
        <operation name="GetBusinessEntityByServiceName">
            <input name="GetBusinessEntityByServiceNameRequest" message="tns:GetBusinessEntityByServiceNameRequestMessage" />
            <output name="GetBusinessEntityByServiceNameResponse" message="tns:GetBusinessEntityByServiceNameResponseMessage" />
        </operation>
        <operation name="GetDefaultEndpointURLByServiceName">
            <input name="GetDefaultEndpointURLByServiceNameRequest" message="tns:GetDefaultEndpointURLByServiceNameRequestMessage" />
            <output name="GetDefaultEndpointURLByServiceNameResponse" message="tns:GetDefaultEndpointURLByServiceNameResponseMessage" />
        </operation>

        <operation name="GetInternalEndpointURLByServiceName">
            <input name="GetInternalEndpointURLByServiceNameRequest" message="tns:GetInternalEndpointURLByServiceNameRequestMessage" />
            <output name="GetInternalEndpointURLByServiceNameResponse" message="tns:GetInternalEndpointURLByServiceNameResponseMessage" />
        </operation>

        <operation name="GetEndpointURLFromNhinTarget">
            <input name="GetEndpointURLFromNhinTargetRequest" message="tns:GetEndpointURLFromNhinTargetRequestMessage" />
            <output name="GetEndpointURLFromNhinTargetResponse" message="tns:GetEndpointURLFromNhinTargetResponseMessage" />
        </operation>

        <operation name="GetEndpointURLFromNhinTargetCommunities">
            <input name="GetEndpointURLFromNhinTargetCommunitiesRequest" message="tns:GetEndpointURLFromNhinTargetCommunitiesRequestMessage" />
            <output name="GetEndpointURLFromNhinTargetCommunitiesResponse" message="tns:GetEndpointURLFromNhinTargetCommunitiesResponseMessage" />
        </operation>

        <operation name="GetBusinessEntitySetByServiceName">
            <input name="GetBusinessEntitySetByServiceNameRequest" message="tns:GetBusinessEntitySetByServiceNameRequestMessage" />
            <output name="GetBusinessEntitySetByServiceNameResponse" message="tns:GetBusinessEntitySetByServiceNameResponseMessage" />
        </operation>

        <operation name="GetAllBusinessEntitySetByServiceName">
            <input name="GetAllBusinessEntitySetByServiceNameRequest" message="tns:GetAllBusinessEntitySetByServiceNameRequestMessage" />
            <output name="GetAllBusinessEntitySetByServiceNameResponse" message="tns:GetAllBusinessEntitySetByServiceNameResponseMessage" />
        </operation>

        <operation name="GetAdapterEndpointURL">
            <input name="GetAdapterEndpointURLRequest" message="tns:GetAdapterEndpointURLRequestMessage" />
            <output name="GetAdapterEndpointURLResponse" message="tns:GetAdapterEndpointURLResponseMessage" />
        </operation>

        <operation name="ForceRefreshUDDICache">
            <input name="ForceRefreshUDDICacheRequest" message="tns:ForceRefreshUDDICacheRequestMessage" />
            <output name="ForceRefreshUDDICacheResponse" message="tns:ForceRefreshUDDICacheResponseMessage" />
        </operation>
        <operation name="ForceRefreshInternalConnectCache">
            <input name="ForceRefreshInternalConnectCacheRequest" message="tns:ForceRefreshInternalConnectCacheRequestMessage" />
            <output name="ForceRefreshInternalConnectCacheResponse" message="tns:ForceRefreshInternalConnectCacheResponseMessage" />
        </operation>

        <operation name="GetAssigningAuthoritiesByHomeCommunity">
            <input name="GetAssigningAuthoritiesByHomeCommunityRequest" message="tns:GetAssigningAuthoritiesByHomeCommunityRequestMessage" />
            <output name="GetAssigningAuthoritiesByHomeCommunityResponse" message="tns:GetAssigningAuthoritiesByHomeCommunityResponseMessage" />
        </operation>
        <operation name="GetHomeCommunityByAssigningAuthority">
            <input name="GetHomeCommunityByAssigningAuthorityRequest" message="tns:GetHomeCommunityByAssigningAuthorityRequestMessage" />
            <output name="GetHomeCommunityByAssigningAuthorityResponse" message="tns:GetHomeCommunityByAssigningAuthorityResponseMessage" />
        </operation>

    </portType>
    <binding name="NhincComponentConnectionManagerBindingSoap" type="tns:NhincComponentConnectionManagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="GetAllBusinessEntities">
            <soap:operation soapAction="urn:GetAllBusinessEntities" />
            <input name="GetAllBusinessEntitiesRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetAllBusinessEntitiesResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetBusinessEntity">
            <soap:operation soapAction="urn:GetBusinessEntity" />
            <input name="GetBusinessEntityRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetBusinessEntityResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetBusinessEntitySet">
            <soap:operation soapAction="urn:GetBusinessEntitySet" />
            <input name="GetBusinessEntitySetRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetBusinessEntitySetResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetBusinessEntityByServiceName">
            <soap:operation soapAction="urn:GetBusinessEntityByServiceName" />
            <input name="GetBusinessEntityByServiceNameRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetBusinessEntityByServiceNameResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetDefaultEndpointURLByServiceName">
            <soap:operation soapAction="urn:GetDefaultEndpointURLByServiceName" />
            <input name="GetDefaultEndpointURLByServiceNameRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetDefaultEndpointURLByServiceNameResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetInternalEndpointURLByServiceName">
            <soap:operation soapAction="urn:GetInternalEndpointURLByServiceName" />
            <input name="GetInternalEndpointURLByServiceNameRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetInternalEndpointURLByServiceNameResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetEndpointURLFromNhinTarget">
            <soap:operation soapAction="urn:GetEndpointURLFromNhinTarget" />
            <input name="GetEndpointURLFromNhinTargetRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetEndpointURLFromNhinTargetResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetEndpointURLFromNhinTargetCommunities">
            <soap:operation soapAction="urn:GetEndpointURLFromNhinTargetCommunities" />
            <input name="GetEndpointURLFromNhinTargetCommunitiesRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetEndpointURLFromNhinTargetCommunitiesResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetBusinessEntitySetByServiceName">
            <soap:operation soapAction="urn:GetBusinessEntitySetByServiceName" />
            <input name="GetBusinessEntitySetByServiceNameRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetBusinessEntitySetByServiceNameResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetAllBusinessEntitySetByServiceName">
            <soap:operation soapAction="urn:GetAllBusinessEntitySetByServiceName" />
            <input name="GetAllBusinessEntitySetByServiceNameRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetAllBusinessEntitySetByServiceNameResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetAdapterEndpointURL">
            <soap:operation soapAction="urn:GetAdapterEndpointURL" />
            <input name="GetAdapterEndpointURLRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetAdapterEndpointURLResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="ForceRefreshUDDICache">
            <soap:operation soapAction="urn:ForceRefreshUDDICache" />
            <input name="ForceRefreshUDDICacheRequest">
                <soap:body use="literal" />
            </input>
            <output name="ForceRefreshUDDICacheResponse">
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ForceRefreshInternalConnectCache">
            <soap:operation soapAction="urn:ForceRefreshInternalConnectCache" />
            <input name="ForceRefreshInternalConnectCacheRequest">
                <soap:body use="literal" />
            </input>
            <output name="ForceRefreshInternalConnectCacheResponse">
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="GetAssigningAuthoritiesByHomeCommunity">
            <soap:operation soapAction="urn:GetAssigningAuthoritiesByHomeCommunity" />
            <input name="GetAssigningAuthoritiesByHomeCommunityRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetAssigningAuthoritiesByHomeCommunityResponse">
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetHomeCommunityByAssigningAuthority">
            <soap:operation soapAction="urn:GetHomeCommunityByAssigningAuthority" />
            <input name="GetHomeCommunityByAssigningAuthorityRequest">
                <soap:body use="literal" />
            </input>
            <output name="GetHomeCommunityByAssigningAuthorityResponse">
                <soap:body use="literal" />
            </output>
        </operation>

    </binding>
    <service name="NhincComponentConnectionManager">
        <port name="NhincComponentConnectionManagerPortSoap" binding="tns:NhincComponentConnectionManagerBindingSoap">
            <soap:address location="http://localhost:${HttpDefaultPort}/CONNECTCommon/NhincComponentConnectionManager" />
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentConnectionManager">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by 
            BPEL processes. In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. 
            Each partner link is associated with a partner link type. A partner link type characterizes the conversational relationship 
            between two services. The partner link type can have one or two roles. -->
        <plnk:role name="NhincComponentConnectionManagerPortTypeRole" portType="tns:NhincComponentConnectionManagerPortType" />
    </plnk:partnerLinkType>
</definitions>




