Current/Product/Production/Common/UDDIUpdateManagerEJB/src/conf/xml-resources/web-service-references/uddi_v3_service/wsdl/uddi_api_v3_binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:uddi_api_v3_portType="urn:uddi-org:api_v3_portType" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:uddi-org:api_v3_binding">
	<!-- 
	Copyright (c) 2000-2002 by Accenture, Ariba, Inc., Commerce One, Inc. Fujitsu Limited, Hewlett-Packard Company, i2 Technologies, Inc., Intel Corporation, 
	International Business Machines Corporation, Microsoft Corporation, Oracle Corporation, SAP AG, Sun Microsystems, Inc., and VeriSign, Inc.  All Rights Reserved.
	
	Copyright (c) OASIS Open 2002-2004. All Rights Reserved.
	Version 3.0.2 
	-->
	<documentation>
		WSDL SOAP/HTTP binding for UDDI API V3.0
        </documentation>
	<import namespace="urn:uddi-org:api_v3_portType" location="uddi_api_v3_portType.wsdl"/>
	<binding name="UDDI_Inquiry_SoapBinding" type="uddi_api_v3_portType:UDDI_Inquiry_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="find_binding">
			<soap:operation soapAction="find_binding"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="find_business">
			<soap:operation soapAction="find_business"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="find_relatedBusinesses">
			<soap:operation soapAction="find_relatedBusinesses"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="find_service">
			<soap:operation soapAction="find_service"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="find_tModel">
			<soap:operation soapAction="find_tModel"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_bindingDetail">
			<soap:operation soapAction="get_bindingDetail"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_businessDetail">
			<soap:operation soapAction="get_businessDetail"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_operationalInfo">
			<soap:operation soapAction="get_operationalInfo"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_serviceDetail">
			<soap:operation soapAction="get_serviceDetail"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_tModelDetail">
			<soap:operation soapAction="get_tModelDetail"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="UDDI_Publication_SoapBinding" type="uddi_api_v3_portType:UDDI_Publication_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="add_publisherAssertions">
			<soap:operation soapAction="add_publisherAssertions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="delete_binding">
			<soap:operation soapAction="delete_binding"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="delete_business">
			<soap:operation soapAction="delete_business"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="delete_publisherAssertions">
			<soap:operation soapAction="delete_publisherAssertions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="delete_service">
			<soap:operation soapAction="delete_service"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="delete_tModel">
			<soap:operation soapAction="delete_tModel"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_assertionStatusReport">
			<soap:operation soapAction="get_assertionStatusReport"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_publisherAssertions">
			<soap:operation soapAction="get_publisherAssertions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_registeredInfo">
			<soap:operation soapAction="get_registeredInfo"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="save_binding">
			<soap:operation soapAction="save_binding"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="save_business">
			<soap:operation soapAction="save_business"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="save_service">
			<soap:operation soapAction="save_service"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="save_tModel">
			<soap:operation soapAction="save_tModel"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="set_publisherAssertions">
			<soap:operation soapAction="set_publisherAssertions"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="UDDI_Security_SoapBinding" type="uddi_api_v3_portType:UDDI_Security_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="discard_authToken">
			<soap:operation soapAction="discard_authToken"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
		<operation name="get_authToken">
			<soap:operation soapAction="get_authToken"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="error">
				<soap:fault name="error" use="literal"/>
			</fault>
		</operation>
	</binding>
</definitions>
