Product/Production/Common/Interfaces/src/schemas/HL7V3/NE2008/multicacheschemas/RCMR_MT000003UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type RCMR_MT000003UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:complexType name="RCMR_MT000003UV01.AssignedAuthor.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ClinicalDocument.code">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ClinicalDocument.effectiveTime">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="IVL_TS_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ClinicalDocument.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.EncompassingEncounter.effectiveTime">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="IVL_TS_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.EncompassingEncounter.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.EncounterParticipant.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.HealthCareFacility.code">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.Patient.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.PatientLivingSubject.administrativeGenderCode">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.PatientLivingSubject.birthTime">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.PatientLivingSubject.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.Performer.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.QueryByParameter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="queryId" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modifyCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="responseModalityCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="responsePriorityCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="initialQuantity" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="initialQuantityCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="executionAndDeliveryTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedAuthor.id" type="RCMR_MT000003UV01.AssignedAuthor.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="clinicalDocument.code" type="RCMR_MT000003UV01.ClinicalDocument.code" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clinicalDocument.effectiveTime" type="RCMR_MT000003UV01.ClinicalDocument.effectiveTime" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clinicalDocument.id" type="RCMR_MT000003UV01.ClinicalDocument.id" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="encompassingEncounter.effectiveTime" type="RCMR_MT000003UV01.EncompassingEncounter.effectiveTime" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="encompassingEncounter.id" type="RCMR_MT000003UV01.EncompassingEncounter.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="encounterParticipant.id" type="RCMR_MT000003UV01.EncounterParticipant.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="healthCareFacility.code" type="RCMR_MT000003UV01.HealthCareFacility.code" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="patient.id" type="RCMR_MT000003UV01.Patient.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patientLivingSubject.administrativeGenderCode" type="RCMR_MT000003UV01.PatientLivingSubject.administrativeGenderCode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patientLivingSubject.birthTime" type="RCMR_MT000003UV01.PatientLivingSubject.birthTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patientLivingSubject.id" type="RCMR_MT000003UV01.PatientLivingSubject.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer.id" type="RCMR_MT000003UV01.Performer.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="representedOrganization.id" type="RCMR_MT000003UV01.RepresentedOrganization.id" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="serviceEvent.classCode" type="RCMR_MT000003UV01.ServiceEvent.classCode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="serviceEvent.code" type="RCMR_MT000003UV01.ServiceEvent.code" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="serviceEvent.effectiveTime" type="RCMR_MT000003UV01.ServiceEvent.effectiveTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sortControl" type="RCMR_MT000003UV01.SortControl" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.RepresentedOrganization.id">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ServiceEvent.classCode">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ServiceEvent.code">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.ServiceEvent.effectiveTime">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="IVL_TS_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000003UV01.SortControl">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="elementName" type="SC" minOccurs="0" maxOccurs="1"/>
			<xs:element name="directionCode" type="CS" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
</xs:schema>
