Product/Production/Common/Interfaces/src/schemas/HL7V3/NE2008/multicacheschemas/RCMR_MT000002UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type RCMR_MT000002UV02.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:complexType name="RCMR_MT000002UV02.AssignedAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="assignedPerson" type="RCMR_MT000002UV02.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="assignedAuthoringDevice" type="RCMR_MT000002UV02.AuthoringDevice" nillable="true" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
			<xs:element name="representedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.AssignedCustodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.AssociatedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="associatedPerson" type="RCMR_MT000002UV02.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="scopingOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssociative" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Authenticator">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUTHEN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="assignedAuthor" type="RCMR_MT000002UV02.AssignedAuthor" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="AUT"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.AuthoringDevice">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="manufacturerModelName" type="SC_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="softwareName" type="SC_explicit" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Authorization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="consent" type="RCMR_MT000002UV02.Consent" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="AUTH"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.ClinicalDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="1" maxOccurs="1"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="completionCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="storageCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="copyTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subject" type="RCMR_MT000002UV02.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="RCMR_MT000002UV02.RecordTarget" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="author" type="RCMR_MT000002UV02.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="RCMR_MT000002UV02.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="custodian" type="RCMR_MT000002UV02.Custodian" minOccurs="1" maxOccurs="1"/>
			<xs:element name="informationRecipient" type="RCMR_MT000002UV02.InformationRecipient" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="legalAuthenticator" type="RCMR_MT000002UV02.LegalAuthenticator" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="authenticator" type="RCMR_MT000002UV02.Authenticator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="RCMR_MT000002UV02.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="RCMR_MT000002UV02.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="documentationOf" type="RCMR_MT000002UV02.DocumentationOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="relatedDocument" type="RCMR_MT000002UV02.RelatedDocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="RCMR_MT000002UV02.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="RCMR_MT000002UV02.Component1" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassClinicalDocument" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encompassingEncounter" type="RCMR_MT000002UV02.EncompassingEncounter" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Consent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="CONS"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedCustodian" type="RCMR_MT000002UV02.AssignedCustodian" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="ENT"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.DocumentationOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceEvent" type="RCMR_MT000002UV02.ServiceEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required" fixed="DOC"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.EncompassingEncounter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="encounterParticipant" type="RCMR_MT000002UV02.EncounterParticipant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="RCMR_MT000002UV02.Location" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.EncounterParticipant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_EncounterParticipant" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.HealthCareFacility">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="location" type="RCMR_MT000002UV02.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceProviderOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="order" type="RCMR_MT000002UV02.Order" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.InformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="intendedRecipient" type="RCMR_MT000002UV02.IntendedRecipient" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_InformationRecipient" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.IntendedRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informationRecipient" type="RCMR_MT000002UV02.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="receivedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_InformationRecipientRole" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.LegalAuthenticator">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="LA"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="healthCareFacility" type="RCMR_MT000002UV02.HealthCareFacility" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Order">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.ParentDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassClinicalDocument" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Participant1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="associatedEntity" type="RCMR_MT000002UV02.AssociatedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Performer1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ServiceEventPerformer" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN_explicit" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClass" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required" fixed="RCT"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.RelatedDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="parentDocument" type="RCMR_MT000002UV02.ParentDocument" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.RelatedSubject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="RCMR_MT000002UV02.SubjectPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_DocumentSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.ServiceEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS_explicit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="performer" type="RCMR_MT000002UV02.Performer1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="relatedSubject" type="RCMR_MT000002UV02.RelatedSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="RCMR_MT000002UV02.SubjectPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN_explicit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClass" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required" fixed="INSTANCE"/>
	</xs:complexType>
</xs:schema>
