Product/Production/Services/DocumentQueryCore/src/main/resources/wsdl/NhincComponentInternalPolicyEngineTransform.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform" xmlns:pdte="urn:gov:hhs:fha:nhinc:common:policyenginedte" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:nccommadapt="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter" name="NhincInternalComponentPolicyEngineTransform" targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform">
	<types>
		<xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform">
			<xsd:import schemaLocation="../schemas/nhinc/common/PolicyEngineDte.xsd" namespace="urn:gov:hhs:fha:nhinc:common:policyenginedte"/>
			<xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter" schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
		</xsd:schema>
	</types>
	<message name="TransformSubjectAddedToCheckPolicyRequestMessage">
		<part name="TransformSubjectAddedToCheckPolicyRequest" element="pdte:TransformSubjectAddedToCheckPolicyRequest"/>
	</message>
	<message name="TransformResponseMessage">
		<part name="TransformResponse" element="nccommadapt:CheckPolicyRequest"/>
	</message>
	<message name="TransformSubjectRevisedToCheckPolicyRequestMessage">
		<part name="TransformSubjectRevisedToCheckPolicyRequest" element="pdte:TransformSubjectRevisedToCheckPolicyRequest"/>
	</message>
	<message name="TransformAdhocQueryToCheckPolicyRequestMessage">
		<part name="TransformAdhocQueryToCheckPolicyRequest" element="pdte:TransformAdhocQueryToCheckPolicyRequest"/>
	</message>
	<message name="TransformAdhocQueryResultToCheckPolicyRequestMessage">
		<part name="TransformAdhocQueryResultToCheckPolicyRequest" element="pdte:TransformAdhocQueryResultToCheckPolicyRequest"/>
	</message>
	<message name="TransformDocRetrieveToCheckPolicyRequestMessage">
		<part name="TransformDocRetrieveToCheckPolicyRequest" element="pdte:TransformDocRetrieveToCheckPolicyRequest"/>
	</message>
	<message name="TransformDocRetrieveResultToCheckPolicyRequestMessage">
		<part name="TransformDocRetrieveResultToCheckPolicyRequest" element="pdte:TransformDocRetrieveResultToCheckPolicyRequest"/>
	</message>
	<message name="TransformFindAuditEventsToCheckPolicyRequestMessage">
		<part name="TransformFindAuditEventsToCheckPolicyRequest" element="pdte:TransformFindAuditEventsToCheckPolicyRequest"/>
	</message>
	<message name="TransformSubjectReidentificationToCheckPolicyRequestMessage">
		<part name="TransformSubjectReidentificationToCheckPolicyRequest" element="pdte:TransformSubjectReidentificationToCheckPolicyRequest"/>
	</message>
	<message name="TransformSubscribeToCheckPolicyRequestMessage">
		<part name="TransformSubscribeToCheckPolicyRequest" element="pdte:TransformSubscribeToCheckPolicyRequest"/>
	</message>
	<message name="TransformUnsubscribeToCheckPolicyRequestMessage">
		<part name="TransformUnsubscribeToCheckPolicyRequest" element="pdte:TransformUnsubscribeToCheckPolicyRequest"/>
	</message>
	<message name="TransformNotifyToCheckPolicyRequestMessage">
		<part name="TransformNotifyToCheckPolicyRequest" element="pdte:TransformNotifyToCheckPolicyRequest"/>
	</message>
	<portType name="NhincInternalComponentPolicyEngineTransformPortType">
		
		<!--        <operation name="TransformSubjectRevokedToCheckPolicy">
            <input name="TransformSubjectRevokedToCheckPolicyRequest" message="tns:TransformSubjectRevokedToCheckPolicyRequestMessage"/>
            <output name="TransformSubjectRevokedToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>-->
		<operation name="TransformAdhocQueryToCheckPolicy">
			<input name="TransformAdhocQueryToCheckPolicyRequest" message="tns:TransformAdhocQueryToCheckPolicyRequestMessage"/>
			<output name="TransformAdhocQueryToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformAdhocQueryResultToCheckPolicy">
			<input name="TransformAdhocQueryResultToCheckPolicyRequest" message="tns:TransformAdhocQueryResultToCheckPolicyRequestMessage"/>
			<output name="TransformAdhocQueryResultToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformDocRetrieveToCheckPolicy">
			<input name="TransformDocRetrieveToCheckPolicyRequest" message="tns:TransformDocRetrieveToCheckPolicyRequestMessage"/>
			<output name="TransformDocRetrieveToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformDocRetrieveResultToCheckPolicy">
			<input name="TransformDocRetrieveResultToCheckPolicyRequest" message="tns:TransformDocRetrieveResultToCheckPolicyRequestMessage"/>
			<output name="TransformDocRetrieveResultToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformFindAuditEventsToCheckPolicy">
			<input name="TransformFindAuditEventsToCheckPolicyRequest" message="tns:TransformFindAuditEventsToCheckPolicyRequestMessage"/>
			<output name="TransformFindAuditEventsToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformSubscribeToCheckPolicy">
			<input name="TransformSubscribeToCheckPolicyRequest" message="tns:TransformSubscribeToCheckPolicyRequestMessage"/>
			<output name="TransformSubscribeToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformUnsubscribeToCheckPolicy">
			<input name="TransformUnsubscribeToCheckPolicyRequest" message="tns:TransformUnsubscribeToCheckPolicyRequestMessage"/>
			<output name="TransformUnsubscribeToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
		<operation name="TransformNotifyToCheckPolicy">
			<input name="TransformNotifyToCheckPolicyRequest" message="tns:TransformNotifyToCheckPolicyRequestMessage"/>
			<output name="TransformNotifyToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
		</operation>
	</portType>
	<binding name="NhincInternalComponentPolicyEngineTransformPortTypeBinding" type="tns:NhincInternalComponentPolicyEngineTransformPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!--     <operation name="TransformSubjectRevokedToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubjectRevokedToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectRevokedToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>-->
		<operation name="TransformAdhocQueryToCheckPolicy">
			<soap:operation soapAction="urn:TransformAdhocQueryToCheckPolicy"/>
			<input name="TransformAdhocQueryToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformAdhocQueryToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformAdhocQueryResultToCheckPolicy">
			<soap:operation soapAction="urn:TransformAdhocQueryResultToCheckPolicy"/>
			<input name="TransformAdhocQueryResultToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformAdhocQueryResultToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformDocRetrieveToCheckPolicy">
			<soap:operation soapAction="urn:TransformDocRetrieveToCheckPolicy"/>
			<input name="TransformDocRetrieveToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformDocRetrieveToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformDocRetrieveResultToCheckPolicy">
			<soap:operation soapAction="urn:TransformDocRetrieveResultToCheckPolicy"/>
			<input name="TransformDocRetrieveResultToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformDocRetrieveResultToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformFindAuditEventsToCheckPolicy">
			<soap:operation soapAction="urn:TransformFindAuditEventsToCheckPolicy"/>
			<input name="TransformFindAuditEventsToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformFindAuditEventsToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformSubscribeToCheckPolicy">
			<soap:operation soapAction="urn:TransformSubscribeToCheckPolicy"/>
			<input name="TransformSubscribeToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformSubscribeToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformUnsubscribeToCheckPolicy">
			<soap:operation soapAction="urn:TransformUnsubscribeToCheckPolicy"/>
			<input name="TransformUnsubscribeToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformUnsubscribeToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="TransformNotifyToCheckPolicy">
			<soap:operation soapAction="urn:TransformNotifyToCheckPolicy"/>
			<input name="TransformNotifyToCheckPolicyRequest">
				<soap:body use="literal"/>
			</input>
			<output name="TransformNotifyToCheckPolicyResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="NhincComponentInternalPolicyEngineTransformService">
		<port name="NhincInternalComponentPolicyEngineTransformPort" binding="tns:NhincInternalComponentPolicyEngineTransformPortTypeBinding">
			<soap:address location="http://localhost:${NhincHttpPort}/NhinConnect/PolicyEngineGatewayTransformationService"/>
		</port>
	</service>
	<!--   <message name="TransformSubjectRevokedToCheckPolicyRequestMessage">
        <part name="TransformSubjectRevokedToCheckPolicyRequest" element="pdte:TransformSubjectRevokedToCheckPolicyRequest"/>
    </message>-->
</definitions>
