Product/Production/Gateway/PatientCorrelationEJB/src/conf/xml-resources/web-services/PatientCorrelationServiceSecured/wsdl/NhincComponentPatientCorrelationSecured.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="PatientCorrelation" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:ncpc="urn:gov:hhs:fha:nhinc:common:patientcorrelation" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:hl7="urn:hl7-org:v3" 
    xmlns:pc="urn:hl7-org:v3" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   	xmlns:wsaw="http://www.w3.org/2005/08/addressing"
   	xmlns:ihe="urn:ihe:iti:xds-b:2007" 
   	xmlns:sxnmp="http://www.sun.com/wsbpel/2.0/process/executable/SUNExtension/NMProperty"
   	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
   	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
    >
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation">
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/nhinc/common/PatientCorrelation.xsd"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata" schemaLocation="../schemas/nhinc/gateway/SamlTokenData.xsd"/>
        </xsd:schema>
    </types>
    <message name="RetrievePatientCorrelationsRequestMessage">
        <part name="RetrievePatientCorrelationsRequest" 
              element="pc:RetrievePatientCorrelationsRequest"/>
    </message>
    <message name="RetrievePatientCorrelationsResponseMessage">
        <part name="RetrievePatientCorrelationsResponse" 
              element="pc:RetrievePatientCorrelationsResponse"/>
    </message>
    <message name="AddPatientCorrelationRequestMessage">
        <part name="AddPatientCorrelationRequest" 
              element="pc:AddPatientCorrelationRequest"/>
    </message>
    <message name="AddPatientCorrelationResponseMessage">
        <part name="AddPatientCorrelationResponse" 
              element="pc:AddPatientCorrelationResponse"/>
    </message>
    <message name="RemovePatientCorrelationRequestMessage">
        <part name="RemovePatientCorrelationRequest" 
              element="pc:RemovePatientCorrelationRequest"/>
    </message>
    <message name="RemovePatientCorrelationResponseMessage">
        <part name="RemovePatientCorrelationResponse" 
              element="pc:RemovePatientCorrelationResponse"/>
    </message>
    <portType name="PatientCorrelationSecuredPortType">
        <operation name="RetrievePatientCorrelations">
            <input name="RetrievePatientCorrelationsRequest" 
                   message="tns:RetrievePatientCorrelationsRequestMessage"/>
            <output name="RetrievePatientCorrelationsResponse" 
                    message="tns:RetrievePatientCorrelationsResponseMessage"/>
        </operation>
        <operation name="AddPatientCorrelation">
            <input name="AddPatientCorrelationRequest" 
                   message="tns:AddPatientCorrelationRequestMessage"/>
            <output name="AddPatientCorrelationResponse" 
                    message="tns:AddPatientCorrelationResponseMessage"/>
        </operation>
        <operation name="RemovePatientCorrelation">
            <input name="RemovePatientCorrelationRequest" 
                   message="tns:RemovePatientCorrelationRequestMessage"/>
            <output name="RemovePatientCorrelationResponse" 
                    message="tns:RemovePatientCorrelationResponseMessage"/>
        </operation>
    </portType>
    <binding name="PatientCorrelationSecuredBinding" type="tns:PatientCorrelationSecuredPortType">
    		<wsp:PolicyReference URI="#PatientCorrelationService_Binding_SoapPolicy"/>
        <soap:binding style="document" 
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RetrievePatientCorrelations">
            <soap:operation soapAction="RetrievePatientCorrelations"/>
            <input name="RetrievePatientCorrelationsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrievePatientCorrelationsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddPatientCorrelation">
            <soap:operation soapAction="AddPatientCorrelation"/>
            <input name="AddPatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="AddPatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RemovePatientCorrelation">
            <soap:operation soapAction="RemovePatientCorrelation"/>
            <input name="RemovePatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RemovePatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientCorrelationServiceSecured">
        <port name="PatientCorrelationSecuredPort"
              binding="tns:PatientCorrelationSecuredBinding">
            <soap:address
                location="https://localhost:${HttpsDefaultPort}/PatientCorrelationServiceSecured"/>
        </port>
    </service>

  <wsp:Policy wsu:Id="PatientCorrelationService_Binding_SoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="false"/>
          <sp:TransportBinding>
              <wsp:Policy>
                  <sp:TransportToken>
                      <wsp:Policy>
                          <sp:HttpsToken RequireClientCertificate="false"/>
                      </wsp:Policy>
                  </sp:TransportToken>
                  <sp:Layout>
                      <wsp:Policy>
                          <sp:Lax/>
                      </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:AlgorithmSuite>
                      <wsp:Policy>
                          <sp:Basic128/>
                      </wsp:Policy>
                  </sp:AlgorithmSuite>
              </wsp:Policy>
          </sp:TransportBinding>
          <sp:Wss10/>
          <sp:SignedSupportingTokens>
              <wsp:Policy>
                  <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                      <wsp:Policy>
                          <sp:WssUsernameToken10/>
                      </wsp:Policy>
                  </sp:UsernameToken>
              </wsp:Policy>
          </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

    <plnk:partnerLinkType name="PatientCorrelationSecured">
        <plnk:role name="PatientCorrelationSecuredPortTypeRole"
                   portType="tns:PatientCorrelationSecuredPortType"/>
    </plnk:partnerLinkType>
</definitions>
