Current/Product/Production/Adapters/Mural/MuralMpiEJB/src/conf/xml-resources/web-service-references/PatientEJB/schemas/mural/patientejb.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. -->
<xs:schema xmlns:tns="http://webservice.index.mdm.sun.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.index.mdm.sun.com/">

<xs:element name="PageException" type="tns:PageException" />

<xs:element name="ProcessingException" type="tns:ProcessingException" />

<xs:element name="UserException" type="tns:UserException" />

<xs:element name="activateEnterpriseRecord" type="tns:activateEnterpriseRecord" />

<xs:element name="activateEnterpriseRecordResponse" type="tns:activateEnterpriseRecordResponse" />

<xs:element name="activateSystemRecord" type="tns:activateSystemRecord" />

<xs:element name="activateSystemRecordResponse" type="tns:activateSystemRecordResponse" />

<xs:element name="addSystemRecord" type="tns:addSystemRecord" />

<xs:element name="addSystemRecordResponse" type="tns:addSystemRecordResponse" />

<xs:element name="deactivateEnterpriseRecord" type="tns:deactivateEnterpriseRecord" />

<xs:element name="deactivateEnterpriseRecordResponse" type="tns:deactivateEnterpriseRecordResponse" />

<xs:element name="deactivateSystemRecord" type="tns:deactivateSystemRecord" />

<xs:element name="deactivateSystemRecordResponse" type="tns:deactivateSystemRecordResponse" />

<xs:element name="executeMatch" type="tns:executeMatch" />

<xs:element name="executeMatchResponse" type="tns:executeMatchResponse" />

<xs:element name="executeMatchUpdate" type="tns:executeMatchUpdate" />

<xs:element name="executeMatchUpdateResponse" type="tns:executeMatchUpdateResponse" />

<xs:element name="getEUID" type="tns:getEUID" />

<xs:element name="getEUIDResponse" type="tns:getEUIDResponse" />

<xs:element name="getEnterpriseRecordByEUID" type="tns:getEnterpriseRecordByEUID" />

<xs:element name="getEnterpriseRecordByEUIDResponse" type="tns:getEnterpriseRecordByEUIDResponse" />

<xs:element name="getEnterpriseRecordByLID" type="tns:getEnterpriseRecordByLID" />

<xs:element name="getEnterpriseRecordByLIDResponse" type="tns:getEnterpriseRecordByLIDResponse" />

<xs:element name="getLIDs" type="tns:getLIDs" />

<xs:element name="getLIDsByStatus" type="tns:getLIDsByStatus" />

<xs:element name="getLIDsByStatusResponse" type="tns:getLIDsByStatusResponse" />

<xs:element name="getLIDsResponse" type="tns:getLIDsResponse" />

<xs:element name="getSBR" type="tns:getSBR" />

<xs:element name="getSBRResponse" type="tns:getSBRResponse" />

<xs:element name="getSystemRecord" type="tns:getSystemRecord" />

<xs:element name="getSystemRecordResponse" type="tns:getSystemRecordResponse" />

<xs:element name="getSystemRecordsByEUID" type="tns:getSystemRecordsByEUID" />

<xs:element name="getSystemRecordsByEUIDResponse" type="tns:getSystemRecordsByEUIDResponse" />

<xs:element name="getSystemRecordsByEUIDStatus" type="tns:getSystemRecordsByEUIDStatus" />

<xs:element name="getSystemRecordsByEUIDStatusResponse" type="tns:getSystemRecordsByEUIDStatusResponse" />

<xs:element name="lookupLIDs" type="tns:lookupLIDs" />

<xs:element name="lookupLIDsResponse" type="tns:lookupLIDsResponse" />

<xs:element name="lookupPotentialDuplicates" type="tns:lookupPotentialDuplicates" />

<xs:element name="lookupPotentialDuplicatesResponse" type="tns:lookupPotentialDuplicatesResponse" />

<xs:element name="mergeEnterpriseRecord" type="tns:mergeEnterpriseRecord" />

<xs:element name="mergeEnterpriseRecordResponse" type="tns:mergeEnterpriseRecordResponse" />

<xs:element name="mergeSystemRecord" type="tns:mergeSystemRecord" />

<xs:element name="mergeSystemRecordResponse" type="tns:mergeSystemRecordResponse" />

<xs:element name="searchBlock" type="tns:searchBlock" />

<xs:element name="searchBlockResponse" type="tns:searchBlockResponse" />

<xs:element name="searchExact" type="tns:searchExact" />

<xs:element name="searchExactResponse" type="tns:searchExactResponse" />

<xs:element name="searchPhonetic" type="tns:searchPhonetic" />

<xs:element name="searchPhoneticResponse" type="tns:searchPhoneticResponse" />

<xs:element name="transferSystemRecord" type="tns:transferSystemRecord" />

<xs:element name="transferSystemRecordResponse" type="tns:transferSystemRecordResponse" />

<xs:element name="updateEnterpriseRecord" type="tns:updateEnterpriseRecord" />

<xs:element name="updateEnterpriseRecordResponse" type="tns:updateEnterpriseRecordResponse" />

<xs:element name="updateSystemRecord" type="tns:updateSystemRecord" />

<xs:element name="updateSystemRecordResponse" type="tns:updateSystemRecordResponse" />

<xs:complexType name="executeMatch">
<xs:sequence>
<xs:element name="sysObjBean" type="tns:systemPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="systemPatient">
<xs:sequence>
<xs:element name="clearFieldIndicator" type="xs:anyType" minOccurs="0" />
<xs:element name="createDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="createFunction" type="xs:string" minOccurs="0" />
<xs:element name="createUser" type="xs:string" minOccurs="0" />
<xs:element name="localId" type="xs:string" minOccurs="0" />
<xs:element name="patient" type="tns:patientBean" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="updateUser" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="patientBean" final="extension restriction">
<xs:sequence>
<xs:element name="address" type="tns:addressBean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="alias" type="tns:aliasBean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="citizenship" type="xs:string" minOccurs="0" />
<xs:element name="DOB" type="xs:string" minOccurs="0" />
<xs:element name="death" type="xs:string" minOccurs="0" />
<xs:element name="deathCertificate" type="xs:string" minOccurs="0" />
<xs:element name="dod" type="xs:string" minOccurs="0" />
<xs:element name="driverLicense" type="xs:string" minOccurs="0" />
<xs:element name="driverLicenseSt" type="xs:string" minOccurs="0" />
<xs:element name="ethnic" type="xs:string" minOccurs="0" />
<xs:element name="fatherName" type="xs:string" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="firstName_Phon" type="xs:string" minOccurs="0" />
<xs:element name="firstName_Std" type="xs:string" minOccurs="0" />
<xs:element name="gender" type="xs:string" minOccurs="0" />
<xs:element name="language" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="lastName_Phon" type="xs:string" minOccurs="0" />
<xs:element name="lastName_Std" type="xs:string" minOccurs="0" />
<xs:element name="MStatus" type="xs:string" minOccurs="0" />
<xs:element name="maiden" type="xs:string" minOccurs="0" />
<xs:element name="middleName" type="xs:string" minOccurs="0" />
<xs:element name="motherMN" type="xs:string" minOccurs="0" />
<xs:element name="motherName" type="xs:string" minOccurs="0" />
<xs:element name="nationality" type="xs:string" minOccurs="0" />
<xs:element name="patientId" type="xs:string" minOccurs="0" />
<xs:element name="personCatCode" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="tns:phoneBean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="pobCity" type="xs:string" minOccurs="0" />
<xs:element name="pobCountry" type="xs:string" minOccurs="0" />
<xs:element name="pobState" type="xs:string" minOccurs="0" />
<xs:element name="race" type="xs:string" minOccurs="0" />
<xs:element name="religion" type="xs:string" minOccurs="0" />
<xs:element name="SSN" type="xs:string" minOccurs="0" />
<xs:element name="spouseName" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="suffix" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="VIPFlag" type="xs:string" minOccurs="0" />
<xs:element name="vetStatus" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addressBean" final="extension restriction">
<xs:sequence>
<xs:element name="addressId" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1_HouseNo" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1_StDir" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1_StName" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1_StPhon" type="xs:string" minOccurs="0" />
<xs:element name="addressLine1_StType" type="xs:string" minOccurs="0" />
<xs:element name="addressLine2" type="xs:string" minOccurs="0" />
<xs:element name="addressType" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="countryCode" type="xs:string" minOccurs="0" />
<xs:element name="county" type="xs:string" minOccurs="0" />
<xs:element name="postalCode" type="xs:string" minOccurs="0" />
<xs:element name="postalCodeExt" type="xs:string" minOccurs="0" />
<xs:element name="stateCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="aliasBean" final="extension restriction">
<xs:sequence>
<xs:element name="aliasId" type="xs:string" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="middleName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="phoneBean" final="extension restriction">
<xs:sequence>
<xs:element name="phone" type="xs:string" minOccurs="0" />
<xs:element name="phoneExt" type="xs:string" minOccurs="0" />
<xs:element name="phoneId" type="xs:string" minOccurs="0" />
<xs:element name="phoneType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeMatchResponse">
<xs:sequence>
<xs:element name="return" type="tns:matchColResult" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="matchColResult">
<xs:sequence>
<xs:element name="EUID" type="xs:string" minOccurs="0" />
<xs:element name="resultCode" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProcessingException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateEnterpriseRecord">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateEnterpriseRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="searchPhonetic">
<xs:sequence>
<xs:element name="objBean" type="tns:patientBean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPhoneticResponse">
<xs:sequence>
<xs:element name="return" type="tns:searchPatientResult" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPatientResult" final="extension restriction">
<xs:sequence>
<xs:element name="comparisonScore" type="xs:float" />
<xs:element name="EUID" type="xs:string" minOccurs="0" />
<xs:element name="patient" type="tns:patientBean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemRecord">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemRecordResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLIDsByStatus">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLIDsByStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatientPK" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="systemPatientPK">
<xs:sequence>
<xs:element name="localId" type="xs:string" minOccurs="0" />
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSystemRecord">
<xs:sequence>
<xs:element name="sysObjBean" type="tns:systemPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSystemRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="searchExact">
<xs:sequence>
<xs:element name="objBean" type="tns:patientBean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchExactResponse">
<xs:sequence>
<xs:element name="return" type="tns:searchPatientResult" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateEnterpriseRecord">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateEnterpriseRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getEUID">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEUIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEnterpriseRecord">
<xs:sequence>
<xs:element name="eoBean" type="tns:enterprisePatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="enterprisePatient">
<xs:sequence>
<xs:element name="EUID" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="systemPatient" type="tns:systemPatient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEnterpriseRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="addSystemRecord">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
<xs:element name="sysObjBean" type="tns:systemPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSystemRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getSBR">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSBRResponse">
<xs:sequence>
<xs:element name="return" type="tns:sbrPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sbrPatient">
<xs:sequence>
<xs:element name="patient" type="tns:patientBean" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemRecordsByEUID">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemRecordsByEUIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeMatchUpdate">
<xs:sequence>
<xs:element name="sysObjBean" type="tns:systemPatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeMatchUpdateResponse">
<xs:sequence>
<xs:element name="return" type="tns:matchColResult" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEnterpriseRecordByEUID">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEnterpriseRecordByEUIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:enterprisePatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateSystemRecord">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateSystemRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getEnterpriseRecordByLID">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEnterpriseRecordByLIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:enterprisePatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateSystemRecord">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateSystemRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getSystemRecordsByEUIDStatus">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemRecordsByEUIDStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBlock">
<xs:sequence>
<xs:element name="objBean" type="tns:patientBean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBlockResponse">
<xs:sequence>
<xs:element name="return" type="tns:searchPatientResult" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lookupPotentialDuplicates">
<xs:sequence>
<xs:element name="PotentialDuplicateSearchObjectBean" type="tns:potentialDuplicateSearchObjectBean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="potentialDuplicateSearchObjectBean">
<xs:sequence>
<xs:element name="createEndDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="createStartDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="createUser" type="xs:string" minOccurs="0" />
<xs:element name="EUIDs" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="localId" type="xs:string" minOccurs="0" />
<xs:element name="maxElements" type="xs:int" />
<xs:element name="pageNumber" type="xs:int" />
<xs:element name="pageSize" type="xs:int" />
<xs:element name="resolvedEndDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="resolvedStartDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="resolvedUser" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lookupPotentialDuplicatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:potentialDuplicateResult" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="potentialDuplicateResult">
<xs:sequence>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="createUser" type="xs:string" minOccurs="0" />
<xs:element name="EUID1" type="xs:string" minOccurs="0" />
<xs:element name="EUID2" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="reason" type="xs:string" minOccurs="0" />
<xs:element name="resolvedComment" type="xs:string" minOccurs="0" />
<xs:element name="resolvedDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="resolvedUser" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="weight" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="PageException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeSystemRecord">
<xs:sequence>
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="sourceLID" type="xs:string" minOccurs="0" />
<xs:element name="destLID" type="xs:string" minOccurs="0" />
<xs:element name="calculateOnly" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeSystemRecordResponse">
<xs:sequence>
<xs:element name="return" type="tns:mergePatientResult" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergePatientResult">
<xs:sequence>
<xs:element name="destinationEO" type="tns:destinationEO" minOccurs="0" />
<xs:element name="sourceEO" type="tns:sourceEO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="destinationEO">
<xs:sequence>
<xs:element name="enterprisePatient" type="tns:enterprisePatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sourceEO">
<xs:sequence>
<xs:element name="enterprisePatient" type="tns:enterprisePatient" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lookupLIDs">
<xs:sequence>
<xs:element name="sourceSystemCode" type="xs:string" minOccurs="0" />
<xs:element name="sourceLID" type="xs:string" minOccurs="0" />
<xs:element name="destSystemCode" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lookupLIDsResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatientPK" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferSystemRecord">
<xs:sequence>
<xs:element name="toEUID" type="xs:string" minOccurs="0" />
<xs:element name="systemCode" type="xs:string" minOccurs="0" />
<xs:element name="localid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferSystemRecordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="mergeEnterpriseRecord">
<xs:sequence>
<xs:element name="fromEUID" type="xs:string" minOccurs="0" />
<xs:element name="toEUID" type="xs:string" minOccurs="0" />
<xs:element name="calculateOnly" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeEnterpriseRecordResponse">
<xs:sequence>
<xs:element name="return" type="tns:mergePatientResult" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLIDs">
<xs:sequence>
<xs:element name="euid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLIDsResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemPatientPK" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>