Product/Production/Adapters/General/EntitySubjectDiscoveryProxyEJB/src/main/resources/xml-resources/web-services/EntitySubjectDiscovery/wsdl/EntitySubjectDiscovery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:entitysubjectdiscovery" 
   xmlns:wsoap11="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   name="EntitySubjectDiscovery" 
   targetNamespace="urn:gov:hhs:fha:nhinc:entitysubjectdiscovery">
  <wsdl:documentation>
     WSDL for Entity interface of Subject Discovery
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/nhinc/hl7/HL7PatientDiscoveryMessages.xsd"/>
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201310UV02.xsd"/>
    </xsd:schema>
    
  </wsdl:types>
  <wsdl:message name="PIXConsumer_PRPA_IN201301UVRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201301UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201301UVRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201301UVResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201301UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>

  <wsdl:message name="PIXConsumer_PRPA_IN201302UVRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201302UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201302UVRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201302UVResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201302UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>

<!--  <wsdl:message name="PIXConsumer_PRPA_IN201303UVRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201303UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201303UVRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201303UVResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201303UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>-->

  <wsdl:message name="PIXConsumer_PRPA_IN201304UVRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201304UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201304UVRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201304UVResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201304UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>
  
  <wsdl:message name="PIXConsumer_PRPA_IN201309UVRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201309UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201309UVRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201309UVResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201309UVResponse" 
               element="hl7:PIXConsumer_PRPA_IN201309UVResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="EntitySubjectDiscoveryPortType">
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201301UVRequestMessage" />
      <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" 
                   message="tns:PIXConsumer_PRPA_IN201301UVResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201302UVRequestMessage"/>
      <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse"  
                   message="tns:PIXConsumer_PRPA_IN201302UVResponseMessage"/>
    </wsdl:operation>
<!--    <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201303UVRequestMessage" />
      <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201303UVResponseMessage"/>
    </wsdl:operation>-->
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201304UVRequestMessage" />
      <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201304UVResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201309UVRequestMessage" />
      <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201309UVResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntitySubjectDiscoveryBindingSoap11" 
                type="tns:EntitySubjectDiscoveryPortType">
    <wsoap11:binding style="document" 
                     transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201301UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" >
        <wsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" >
        <wsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201302UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" >
        <wsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse" >
        <wsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
<!--    <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
      <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201303UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest" >
        <wsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse" >
        <wsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>-->
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201304UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest" >
        <wsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse" >
        <wsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201309UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest" >
        <wsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse" >
        <wsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntitySubjectDiscovery">
    <wsdl:port name="EntitySubjectDiscoveryPortSoap11" 
               binding="tns:EntitySubjectDiscoveryBindingSoap11">
      <wsoap11:address 
          location="http://localhost:${HttpDefaultPort}/NhinConnect/EntitySubjectDiscovery"/>
    </wsdl:port>
  </wsdl:service>
  <plnk:partnerLinkType name="EntitySubjectDiscovery">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
    <plnk:role name="EntitySubjectDiscoveryPortTypeRole" 
               portType="tns:EntitySubjectDiscoveryPortType"/>
  </plnk:partnerLinkType>
  
</wsdl:definitions>
