Product/Production/Adapters/General/AdapterPIPProxyImpl/xml-resources/web-service-references/AdapterPIP/wsdl/AdapterPIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Adapter Policy Enforcement Point WSDL
  -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="urn:gov:hhs:fha:nhinc:adapterpip"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:nccommonadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
   name="AdapterPIP"
   targetNamespace="urn:gov:hhs:fha:nhinc:adapterpip">
  <documentation>Adapter PIP Policy Enforcement Point</documentation>
  <types>
    <xsd:schema>
      <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
                  schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
    </xsd:schema>
  </types>
  
  <message name="RetrievePtConsentByPtIdRequestMessage">
    <part name="RetrievePtConsentByPtIdRequest"
          element="nccommonadapter:RetrievePtConsentByPtIdRequest"/>
  </message>
  <message name="RetrievePtConsentByPtIdResponseMessage">
    <part name="RetrievePtConsentByPtIdResponse"
          element="nccommonadapter:RetrievePtConsentByPtIdResponse"/>
  </message>
  <message name="RetrievePtConsentByPtDocIdRequestMessage">
    <part name="RetrievePtConsentByPtDocIdRequest"
          element="nccommonadapter:RetrievePtConsentByPtDocIdRequest"/>
  </message>
  <message name="RetrievePtConsentByPtDocIdResponseMessage">
    <part name="RetrievePtConsentByPtDocIdResponse"
          element="nccommonadapter:RetrievePtConsentByPtDocIdResponse"/>
  </message>
  <message name="StorePtConsentRequestMessage">
    <part name="StorePtConsentRequest"
          element="nccommonadapter:StorePtConsentRequest"/>
  </message>
  <message name="StorePtConsentResponseMessage">
    <part name="StorePtConsentResponse"
          element="nccommonadapter:StorePtConsentResponse"/>
  </message>
  
  <portType name="AdapterPIPPortType">
    <operation name="RetrievePtConsentByPtId">
      <input name="RetrievePtConsentByPtIdRequest"
             message="tns:RetrievePtConsentByPtIdRequestMessage" />
      <output name="RetrievePtConsentByPtIdResponse"
              message="tns:RetrievePtConsentByPtIdResponseMessage" />
    </operation>
    <operation name="RetrievePtConsentByPtDocId">
      <input name="RetrievePtConsentByPtDocIdRequest"
             message="tns:RetrievePtConsentByPtDocIdRequestMessage" />
      <output name="RetrievePtConsentByPtDocIdResponse"
              message="tns:RetrievePtConsentByPtDocIdResponseMessage" />
    </operation>
    <operation name="StorePtConsent">
      <input name="StorePtConsentRequest"
             message="tns:StorePtConsentRequestMessage" />
      <output name="StorePtConsentResponse"
              message="tns:StorePtConsentResponseMessage" />
    </operation>
  </portType>
  
  <binding name="AdapterPIPBindingSoap11" type="tns:AdapterPIPPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RetrievePtConsentByPtId">
      <soap:operation soapAction="urn:RetrievePtConsentByPtId"/>
      <input name="RetrievePtConsentByPtIdRequest">
        <soap:body use="literal"/>
      </input>
      <output name="RetrievePtConsentByPtIdResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RetrievePtConsentByPtDocId">
      <soap:operation soapAction="urn:RetrievePtConsentByPtDocId"/>
      <input name="RetrievePtConsentByPtDocIdRequest">
        <soap:body use="literal"/>
      </input>
      <output name="RetrievePtConsentByPtDocIdResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StorePtConsent">
      <soap:operation soapAction="urn:StorePtConsent"/>
      <input name="StorePtConsentRequest">
        <soap:body use="literal"/>
      </input>
      <output name="StorePtConsentResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
  <service name="AdapterPIP">
    <port name="AdapterPIPPortSoap11"
          binding="tns:AdapterPIPBindingSoap11">
      <soap:address 
         location="http://localhost:${HttpDefaultPort}/NhinConnect/AdapterPIP" />
    </port>
  </service>
  <plnk:partnerLinkType name="AdapterPIP">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
    <plnk:role name="AdapterPIPPortTypeRole"
               portType="tns:AdapterPIPPortType"/>
  </plnk:partnerLinkType>
  
</definitions>
