Product/Production/Adapters/Framework/NHINAdapterServiceEJB/src/conf/NIST_xdsregistryb.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviceclasses.ws.registry.nist.gov" 
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
      xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
      xmlns:http="http://schemas.xmlsoap.org/soap/http"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
      xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"

>
    <wsdl:documentation>xdsregistryb</wsdl:documentation>
    <wsdl:types>
        <xs:schema>
          <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
                      schemaLocation="../schemas/ebRS/query.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AdhocQueryRequestRequest">
        <wsdl:part name="parameters" element="query:AdhocQueryRequest"/>
    </wsdl:message>
    <wsdl:message name="AdhocQueryRequestResponse">
        <wsdl:part name="parameters" element="query:AdhocQueryRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="SubmitObjectsRequestRequest">
        <wsdl:part name="parameters" element="ns1:SubmitObjectsRequest"/>
    </wsdl:message>
    <wsdl:message name="SubmitObjectsRequestResponse">
        <wsdl:part name="parameters" element="ns1:SubmitObjectsRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="runContentValidationServiceRequest">
        <wsdl:part name="parameters" element="ns1:runContentValidationService"/>
    </wsdl:message>
    <wsdl:message name="runContentValidationServiceResponse">
        <wsdl:part name="parameters" element="ns1:runContentValidationServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceNameRequest"/>
    <wsdl:message name="getServiceNameResponse">
        <wsdl:part name="parameters" element="ns1:getServiceNameResponse"/>
    </wsdl:message>
    <wsdl:portType name="xdsregistrybPortType">
        <wsdl:operation name="AdhocQueryRequest">
            <wsdl:input message="ns1:AdhocQueryRequestRequest" wsaw:Action="urn:AdhocQueryRequest"/>
            <wsdl:output message="ns1:AdhocQueryRequestResponse" wsaw:Action="urn:AdhocQueryRequestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SubmitObjectsRequest">
            <wsdl:input message="ns1:SubmitObjectsRequestRequest" wsaw:Action="urn:SubmitObjectsRequest"/>
            <wsdl:output message="ns1:SubmitObjectsRequestResponse" wsaw:Action="urn:SubmitObjectsRequestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="runContentValidationService">
            <wsdl:input message="ns1:runContentValidationServiceRequest" wsaw:Action="urn:runContentValidationService"/>
            <wsdl:output message="ns1:runContentValidationServiceResponse" wsaw:Action="urn:runContentValidationServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <wsdl:input message="ns1:getServiceNameRequest" wsaw:Action="urn:getServiceName"/>
            <wsdl:output message="ns1:getServiceNameResponse" wsaw:Action="urn:getServiceNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="xdsregistrybSOAP11Binding" type="ns1:xdsregistrybPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AdhocQueryRequest">
            <soap:operation soapAction="urn:AdhocQueryRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitObjectsRequest">
            <soap:operation soapAction="urn:SubmitObjectsRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="runContentValidationService">
            <soap:operation soapAction="urn:runContentValidationService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="xdsregistrybSOAP12Binding" type="ns1:xdsregistrybPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AdhocQueryRequest">
            <soap12:operation soapAction="urn:AdhocQueryRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitObjectsRequest">
            <soap12:operation soapAction="urn:SubmitObjectsRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="runContentValidationService">
            <soap12:operation soapAction="urn:runContentValidationService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceName">
            <soap12:operation soapAction="urn:getServiceName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="xdsregistrybHttpBinding" type="ns1:xdsregistrybPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="AdhocQueryRequest">
            <http:operation location="xdsregistryb/AdhocQueryRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="AdhocQueryRequest"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="AdhocQueryRequest"/>
            </wsdl:output>
        </wsdl:operation>
-
        <wsdl:operation name="SubmitObjectsRequest">
            <http:operation location="xdsregistryb/SubmitObjectsRequest"/>
-
            <wsdl:input>
                <mime:content type="text/xml" part="SubmitObjectsRequest"/>
            </wsdl:input>
-
            <wsdl:output>
                <mime:content type="text/xml" part="SubmitObjectsRequest"/>
            </wsdl:output>
        </wsdl:operation>
-
        <wsdl:operation name="runContentValidationService">
            <http:operation location="xdsregistryb/runContentValidationService"/>
-
            <wsdl:input>
                <mime:content type="text/xml" part="runContentValidationService"/>
            </wsdl:input>
-
            <wsdl:output>
                <mime:content type="text/xml" part="runContentValidationService"/>
            </wsdl:output>
        </wsdl:operation>
-
        <wsdl:operation name="getServiceName">
            <http:operation location="xdsregistryb/getServiceName"/>
-
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:input>
-
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceName"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
-
    <wsdl:service name="xdsregistryb">
-
        <wsdl:port name="xdsregistrybSOAP11port_http" binding="ns1:xdsregistrybSOAP11Binding">
            <soap:address location="http://192.168.25.94:9080/axis2/services/xdsregistryb"/>
        </wsdl:port>
-
        <wsdl:port name="xdsregistrybSOAP12port_http" binding="ns1:xdsregistrybSOAP12Binding">
            <soap12:address location="http://192.168.25.94:9080/axis2/services/xdsregistryb"/>
        </wsdl:port>
-
        <wsdl:port name="xdsregistrybHttpport" binding="ns1:xdsregistrybHttpBinding">
            <http:address location="http://192.168.25.94:9080/axis2/services/xdsregistryb"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>