Product/Production/Gateway/CONNECTGatewayWeb/src/main/resources/xml-resources/web-services/NhincSubjectDiscoverySecured/wsdl/NhincProxySubjectDiscoverySecured.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
   xmlns:wsaws="http://www.w3.org/2005/08/addressing"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   name="NhincProxySubjectDiscoverySecured"
   targetNamespace="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured">
  <wsdl:documentation>
     WSDL for NHINC Proxy interface of Subject Discovery
  </wsdl:documentation>
  <wsdl:types>
     
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <xsd:include schemaLocation="../schemas/nhinc/hl7/HL7ProxyPatientDiscoveryMessages.xsd"/>
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201310UV02.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="PIXConsumer_PRPA_IN201301UVProxyRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201301UVProxyRequest" 
               element="hl7:PIXConsumer_PRPA_IN201301UVProxySecuredRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201301UVProxyResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201301UVProxyResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>

  <wsdl:message name="PIXConsumer_PRPA_IN201302UVProxyRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201302UVProxyRequest" 
               element="hl7:PIXConsumer_PRPA_IN201302UVProxySecuredRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201302UVProxyResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201302UVProxyResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>

  <wsdl:message name="PIXConsumer_PRPA_IN201304UVProxyRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201304UVProxyRequest" 
               element="hl7:PIXConsumer_PRPA_IN201304UVProxySecuredRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201304UVProxyResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201304UVProxyResponse" 
               element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>
  
  <wsdl:message name="PIXConsumer_PRPA_IN201309UVProxyRequestMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201309UVProxyRequest" 
               element="hl7:PIXConsumer_PRPA_IN201309UVProxySecuredRequest"/>
  </wsdl:message>
  <wsdl:message name="PIXConsumer_PRPA_IN201309UVProxyResponseMessage">
    <wsdl:part name="PIXConsumer_PRPA_IN201309UVProxyResponse" 
               element="hl7:PRPA_IN201310UV02"/>
  </wsdl:message>
  
  <wsdl:portType name="NhincProxySubjectDiscoverySecuredPortType">
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201301UVProxyRequest" 
                  message="tns:PIXConsumer_PRPA_IN201301UVProxyRequestMessage"
                  wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201301UVProxyRequestMessage"/>
      <wsdl:output name="PIXConsumer_PRPA_IN201301UVProxyResponse" 
                   message="tns:PIXConsumer_PRPA_IN201301UVProxyResponseMessage"
                   wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201301UVProxyResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201302UVProxyRequest" 
                  message="tns:PIXConsumer_PRPA_IN201302UVProxyRequestMessage"
                  wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201302UVProxyRequestMessage"/>
      <wsdl:output name="PIXConsumer_PRPA_IN201302UVProxyResponse"  
                   message="tns:PIXConsumer_PRPA_IN201302UVProxyResponseMessage"
                   wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201302UVProxyResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201304UVProxyRequest"
                  message="tns:PIXConsumer_PRPA_IN201304UVProxyRequestMessage"
                  wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201304UVProxyRequestMessage"/>
      <wsdl:output name="PIXConsumer_PRPA_IN201304UVProxyResponse"
                   message="tns:PIXConsumer_PRPA_IN201304UVProxyResponseMessage"
                   wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201304UVProxyResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <wsdl:input name="PIXConsumer_PRPA_IN201309UVProxyRequest"
                  message="tns:PIXConsumer_PRPA_IN201309UVProxyRequestMessage"
                  wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201309UVProxyRequestMessage"/>
      <wsdl:output name="PIXConsumer_PRPA_IN201309UVProxyResponse"
                   message="tns:PIXConsumer_PRPA_IN201309UVProxyResponseMessage"
                   wsaw:Action="urn:gov:hhs:fha:nhinc:nhincproxysubjectdiscoverysecured:PIXConsumer_PRPA_IN201309UVProxyResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="NhincProxySubjectDiscoverySecuredBindingSoap"
                type="tns:NhincProxySubjectDiscoverySecuredPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Binding_SoapPolicy"/>
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201301UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201301UVProxyRequest" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Input_Policy"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201301UVProxyResponse" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201302UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201302UVProxyRequest" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Input_Policy"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201302UVProxyResponse" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201304UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201304UVProxyRequest" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Input_Policy"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201304UVProxyResponse" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <soap:operation soapAction="urn:PIXConsumer_PRPA_IN201309UV"/>
      <wsdl:input name="PIXConsumer_PRPA_IN201309UVProxyRequest" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Input_Policy"/>
      </wsdl:input>
      <wsdl:output name="PIXConsumer_PRPA_IN201309UVProxyResponse" >
        <soap:body use="literal"/>
        <wsp:PolicyReference URI="#NhincSubjectDiscoveryProxy_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="NhincProxySubjectDiscoverySecured">
    <wsdl:port name="NhincProxySubjectDiscoverySecuredPortSoap"
               binding="tns:NhincProxySubjectDiscoverySecuredBindingSoap">
      <soap:address 
         location="https://localhost:${HttpDefaultPort}/NhinConnect/NhincProxySubjectDiscoverySecured"/>
    </wsdl:port>
  </wsdl:service>
  
  <wsp:Policy wsu:Id="NhincSubjectDiscoveryProxy_Binding_SoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
        <sc:KeyStore wspp:visibility="private"
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector"
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
        <sc:TrustStore wspp:visibility="private"
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:RequireClientCertificate/>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:SamlToken
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV20Token11/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
            <sp:RequireSignatureConfirmation/>
          </wsp:Policy>
        </sp:Wss11>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NhincSubjectDiscoveryProxy_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NhincSubjectDiscoveryProxy_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <plnk:partnerLinkType name="NhincProxySubjectDiscoverySecured">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
    <plnk:role name="NhincProxySubjectDiscoverySecuredPortTypeRole"
               portType="tns:NhincProxySubjectDiscoverySecuredPortType"/>
  </plnk:partnerLinkType>
  
</wsdl:definitions>
