Product/Production/Adapters/General/CONNECTDirectConfig/src/main/resources/wsdl/ConfigurationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://nhind.org/config" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nhind.org/config" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nhind.org/config" schemaLocation="ConfigurationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAddresss">
    <part name="parameters" element="tns:getAddresss"/>
  </message>
  <message name="getAddresssResponse">
    <part name="parameters" element="tns:getAddresssResponse"/>
  </message>
  <message name="ConfigurationServiceException">
    <part name="fault" element="tns:ConfigurationServiceException"/>
  </message>
  <message name="addAddress">
    <part name="parameters" element="tns:addAddress"/>
  </message>
  <message name="addAddressResponse">
    <part name="parameters" element="tns:addAddressResponse"/>
  </message>
  <message name="updateAddress">
    <part name="parameters" element="tns:updateAddress"/>
  </message>
  <message name="updateAddressResponse">
    <part name="parameters" element="tns:updateAddressResponse"/>
  </message>
  <message name="getAddressCount">
    <part name="parameters" element="tns:getAddressCount"/>
  </message>
  <message name="getAddressCountResponse">
    <part name="parameters" element="tns:getAddressCountResponse"/>
  </message>
  <message name="removeAddress">
    <part name="parameters" element="tns:removeAddress"/>
  </message>
  <message name="removeAddressResponse">
    <part name="parameters" element="tns:removeAddressResponse"/>
  </message>
  <message name="listAddresss">
    <part name="parameters" element="tns:listAddresss"/>
  </message>
  <message name="listAddresssResponse">
    <part name="parameters" element="tns:listAddresssResponse"/>
  </message>
  <message name="addDomain">
    <part name="parameters" element="tns:addDomain"/>
  </message>
  <message name="addDomainResponse">
    <part name="parameters" element="tns:addDomainResponse"/>
  </message>
  <message name="updateDomain">
    <part name="parameters" element="tns:updateDomain"/>
  </message>
  <message name="updateDomainResponse">
    <part name="parameters" element="tns:updateDomainResponse"/>
  </message>
  <message name="getDomainCount">
    <part name="parameters" element="tns:getDomainCount"/>
  </message>
  <message name="getDomainCountResponse">
    <part name="parameters" element="tns:getDomainCountResponse"/>
  </message>
  <message name="getDomains">
    <part name="parameters" element="tns:getDomains"/>
  </message>
  <message name="getDomainsResponse">
    <part name="parameters" element="tns:getDomainsResponse"/>
  </message>
  <message name="removeDomain">
    <part name="parameters" element="tns:removeDomain"/>
  </message>
  <message name="removeDomainResponse">
    <part name="parameters" element="tns:removeDomainResponse"/>
  </message>
  <message name="removeDomainById">
    <part name="parameters" element="tns:removeDomainById"/>
  </message>
  <message name="removeDomainByIdResponse">
    <part name="parameters" element="tns:removeDomainByIdResponse"/>
  </message>
  <message name="listDomains">
    <part name="parameters" element="tns:listDomains"/>
  </message>
  <message name="listDomainsResponse">
    <part name="parameters" element="tns:listDomainsResponse"/>
  </message>
  <message name="searchDomain">
    <part name="parameters" element="tns:searchDomain"/>
  </message>
  <message name="searchDomainResponse">
    <part name="parameters" element="tns:searchDomainResponse"/>
  </message>
  <message name="getDomain">
    <part name="parameters" element="tns:getDomain"/>
  </message>
  <message name="getDomainResponse">
    <part name="parameters" element="tns:getDomainResponse"/>
  </message>
  <message name="contains">
    <part name="parameters" element="tns:contains"/>
  </message>
  <message name="containsResponse">
    <part name="parameters" element="tns:containsResponse"/>
  </message>
  <message name="getCertificates">
    <part name="parameters" element="tns:getCertificates"/>
  </message>
  <message name="getCertificatesResponse">
    <part name="parameters" element="tns:getCertificatesResponse"/>
  </message>
  <message name="addCertificates">
    <part name="parameters" element="tns:addCertificates"/>
  </message>
  <message name="addCertificatesResponse">
    <part name="parameters" element="tns:addCertificatesResponse"/>
  </message>
  <message name="setCertificateStatus">
    <part name="parameters" element="tns:setCertificateStatus"/>
  </message>
  <message name="setCertificateStatusResponse">
    <part name="parameters" element="tns:setCertificateStatusResponse"/>
  </message>
  <message name="setCertificateStatusForOwner">
    <part name="parameters" element="tns:setCertificateStatusForOwner"/>
  </message>
  <message name="setCertificateStatusForOwnerResponse">
    <part name="parameters" element="tns:setCertificateStatusForOwnerResponse"/>
  </message>
  <message name="removeCertificates">
    <part name="parameters" element="tns:removeCertificates"/>
  </message>
  <message name="removeCertificatesResponse">
    <part name="parameters" element="tns:removeCertificatesResponse"/>
  </message>
  <message name="removeCertificatesForOwner">
    <part name="parameters" element="tns:removeCertificatesForOwner"/>
  </message>
  <message name="removeCertificatesForOwnerResponse">
    <part name="parameters" element="tns:removeCertificatesForOwnerResponse"/>
  </message>
  <message name="getCertificate">
    <part name="parameters" element="tns:getCertificate"/>
  </message>
  <message name="getCertificateResponse">
    <part name="parameters" element="tns:getCertificateResponse"/>
  </message>
  <message name="getCertificatesForOwner">
    <part name="parameters" element="tns:getCertificatesForOwner"/>
  </message>
  <message name="getCertificatesForOwnerResponse">
    <part name="parameters" element="tns:getCertificatesForOwnerResponse"/>
  </message>
  <message name="listCertificates">
    <part name="parameters" element="tns:listCertificates"/>
  </message>
  <message name="listCertificatesResponse">
    <part name="parameters" element="tns:listCertificatesResponse"/>
  </message>
  <message name="addAnchor">
    <part name="parameters" element="tns:addAnchor"/>
  </message>
  <message name="addAnchorResponse">
    <part name="parameters" element="tns:addAnchorResponse"/>
  </message>
  <message name="setAnchorStatusForOwner">
    <part name="parameters" element="tns:setAnchorStatusForOwner"/>
  </message>
  <message name="setAnchorStatusForOwnerResponse">
    <part name="parameters" element="tns:setAnchorStatusForOwnerResponse"/>
  </message>
  <message name="removeAnchors">
    <part name="parameters" element="tns:removeAnchors"/>
  </message>
  <message name="removeAnchorsResponse">
    <part name="parameters" element="tns:removeAnchorsResponse"/>
  </message>
  <message name="removeAnchorsForOwner">
    <part name="parameters" element="tns:removeAnchorsForOwner"/>
  </message>
  <message name="removeAnchorsForOwnerResponse">
    <part name="parameters" element="tns:removeAnchorsForOwnerResponse"/>
  </message>
  <message name="getAnchor">
    <part name="parameters" element="tns:getAnchor"/>
  </message>
  <message name="getAnchorResponse">
    <part name="parameters" element="tns:getAnchorResponse"/>
  </message>
  <message name="getAnchors">
    <part name="parameters" element="tns:getAnchors"/>
  </message>
  <message name="getAnchorsResponse">
    <part name="parameters" element="tns:getAnchorsResponse"/>
  </message>
  <message name="getAnchorsForOwner">
    <part name="parameters" element="tns:getAnchorsForOwner"/>
  </message>
  <message name="getAnchorsForOwnerResponse">
    <part name="parameters" element="tns:getAnchorsForOwnerResponse"/>
  </message>
  <message name="getIncomingAnchors">
    <part name="parameters" element="tns:getIncomingAnchors"/>
  </message>
  <message name="getIncomingAnchorsResponse">
    <part name="parameters" element="tns:getIncomingAnchorsResponse"/>
  </message>
  <message name="getOutgoingAnchors">
    <part name="parameters" element="tns:getOutgoingAnchors"/>
  </message>
  <message name="getOutgoingAnchorsResponse">
    <part name="parameters" element="tns:getOutgoingAnchorsResponse"/>
  </message>
  <message name="listAnchors">
    <part name="parameters" element="tns:listAnchors"/>
  </message>
  <message name="listAnchorsResponse">
    <part name="parameters" element="tns:listAnchorsResponse"/>
  </message>
  <message name="addSetting">
    <part name="parameters" element="tns:addSetting"/>
  </message>
  <message name="addSettingResponse">
    <part name="parameters" element="tns:addSettingResponse"/>
  </message>
  <message name="getAllSettings">
    <part name="parameters" element="tns:getAllSettings"/>
  </message>
  <message name="getAllSettingsResponse">
    <part name="parameters" element="tns:getAllSettingsResponse"/>
  </message>
  <message name="getSettingByName">
    <part name="parameters" element="tns:getSettingByName"/>
  </message>
  <message name="getSettingByNameResponse">
    <part name="parameters" element="tns:getSettingByNameResponse"/>
  </message>
  <message name="getSettingsByNames">
    <part name="parameters" element="tns:getSettingsByNames"/>
  </message>
  <message name="getSettingsByNamesResponse">
    <part name="parameters" element="tns:getSettingsByNamesResponse"/>
  </message>
  <message name="updateSetting">
    <part name="parameters" element="tns:updateSetting"/>
  </message>
  <message name="updateSettingResponse">
    <part name="parameters" element="tns:updateSettingResponse"/>
  </message>
  <message name="deleteSetting">
    <part name="parameters" element="tns:deleteSetting"/>
  </message>
  <message name="deleteSettingResponse">
    <part name="parameters" element="tns:deleteSettingResponse"/>
  </message>
  <message name="addDNS">
    <part name="parameters" element="tns:addDNS"/>
  </message>
  <message name="addDNSResponse">
    <part name="parameters" element="tns:addDNSResponse"/>
  </message>
  <message name="getDNSByName">
    <part name="parameters" element="tns:getDNSByName"/>
  </message>
  <message name="getDNSByNameResponse">
    <part name="parameters" element="tns:getDNSByNameResponse"/>
  </message>
  <message name="getDNSByNameAndType">
    <part name="parameters" element="tns:getDNSByNameAndType"/>
  </message>
  <message name="getDNSByNameAndTypeResponse">
    <part name="parameters" element="tns:getDNSByNameAndTypeResponse"/>
  </message>
  <message name="getDNSByRecordId">
    <part name="parameters" element="tns:getDNSByRecordId"/>
  </message>
  <message name="getDNSByRecordIdResponse">
    <part name="parameters" element="tns:getDNSByRecordIdResponse"/>
  </message>
  <message name="getDNSByRecordIds">
    <part name="parameters" element="tns:getDNSByRecordIds"/>
  </message>
  <message name="getDNSByRecordIdsResponse">
    <part name="parameters" element="tns:getDNSByRecordIdsResponse"/>
  </message>
  <message name="getDNSByType">
    <part name="parameters" element="tns:getDNSByType"/>
  </message>
  <message name="getDNSByTypeResponse">
    <part name="parameters" element="tns:getDNSByTypeResponse"/>
  </message>
  <message name="getDNSCount">
    <part name="parameters" element="tns:getDNSCount"/>
  </message>
  <message name="getDNSCountResponse">
    <part name="parameters" element="tns:getDNSCountResponse"/>
  </message>
  <message name="removeDNS">
    <part name="parameters" element="tns:removeDNS"/>
  </message>
  <message name="removeDNSResponse">
    <part name="parameters" element="tns:removeDNSResponse"/>
  </message>
  <message name="removeDNSByRecordId">
    <part name="parameters" element="tns:removeDNSByRecordId"/>
  </message>
  <message name="removeDNSByRecordIdResponse">
    <part name="parameters" element="tns:removeDNSByRecordIdResponse"/>
  </message>
  <message name="removeDNSByRecordIds">
    <part name="parameters" element="tns:removeDNSByRecordIds"/>
  </message>
  <message name="removeDNSByRecordIdsResponse">
    <part name="parameters" element="tns:removeDNSByRecordIdsResponse"/>
  </message>
  <message name="updateDNS">
    <part name="parameters" element="tns:updateDNS"/>
  </message>
  <message name="updateDNSResponse">
    <part name="parameters" element="tns:updateDNSResponse"/>
  </message>
  <message name="getTrustBundles">
    <part name="parameters" element="tns:getTrustBundles"/>
  </message>
  <message name="getTrustBundlesResponse">
    <part name="parameters" element="tns:getTrustBundlesResponse"/>
  </message>
  <message name="getTrustBundleByName">
    <part name="parameters" element="tns:getTrustBundleByName"/>
  </message>
  <message name="getTrustBundleByNameResponse">
    <part name="parameters" element="tns:getTrustBundleByNameResponse"/>
  </message>
  <message name="getTrustBundleById">
    <part name="parameters" element="tns:getTrustBundleById"/>
  </message>
  <message name="getTrustBundleByIdResponse">
    <part name="parameters" element="tns:getTrustBundleByIdResponse"/>
  </message>
  <message name="addTrustBundle">
    <part name="parameters" element="tns:addTrustBundle"/>
  </message>
  <message name="addTrustBundleResponse">
    <part name="parameters" element="tns:addTrustBundleResponse"/>
  </message>
  <message name="refreshTrustBundle">
    <part name="parameters" element="tns:refreshTrustBundle"/>
  </message>
  <message name="refreshTrustBundleResponse">
    <part name="parameters" element="tns:refreshTrustBundleResponse"/>
  </message>
  <message name="updateLastUpdateError">
    <part name="parameters" element="tns:updateLastUpdateError"/>
  </message>
  <message name="updateLastUpdateErrorResponse">
    <part name="parameters" element="tns:updateLastUpdateErrorResponse"/>
  </message>
  <message name="deleteTrustBundles">
    <part name="parameters" element="tns:deleteTrustBundles"/>
  </message>
  <message name="deleteTrustBundlesResponse">
    <part name="parameters" element="tns:deleteTrustBundlesResponse"/>
  </message>
  <message name="updateTrustBundleSigningCertificate">
    <part name="parameters" element="tns:updateTrustBundleSigningCertificate"/>
  </message>
  <message name="updateTrustBundleSigningCertificateResponse">
    <part name="parameters" element="tns:updateTrustBundleSigningCertificateResponse"/>
  </message>
  <message name="updateTrustBundleAttributes">
    <part name="parameters" element="tns:updateTrustBundleAttributes"/>
  </message>
  <message name="updateTrustBundleAttributesResponse">
    <part name="parameters" element="tns:updateTrustBundleAttributesResponse"/>
  </message>
  <message name="associateTrustBundleToDomain">
    <part name="parameters" element="tns:associateTrustBundleToDomain"/>
  </message>
  <message name="associateTrustBundleToDomainResponse">
    <part name="parameters" element="tns:associateTrustBundleToDomainResponse"/>
  </message>
  <message name="disassociateTrustBundleFromDomain">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomain"/>
  </message>
  <message name="disassociateTrustBundleFromDomainResponse">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomainResponse"/>
  </message>
  <message name="disassociateTrustBundlesFromDomain">
    <part name="parameters" element="tns:disassociateTrustBundlesFromDomain"/>
  </message>
  <message name="disassociateTrustBundlesFromDomainResponse">
    <part name="parameters" element="tns:disassociateTrustBundlesFromDomainResponse"/>
  </message>
  <message name="disassociateTrustBundleFromDomains">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomains"/>
  </message>
  <message name="disassociateTrustBundleFromDomainsResponse">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomainsResponse"/>
  </message>
  <message name="getTrustBundlesByDomain">
    <part name="parameters" element="tns:getTrustBundlesByDomain"/>
  </message>
  <message name="getTrustBundlesByDomainResponse">
    <part name="parameters" element="tns:getTrustBundlesByDomainResponse"/>
  </message>
  <message name="getPolicies">
    <part name="parameters" element="tns:getPolicies"/>
  </message>
  <message name="getPoliciesResponse">
    <part name="parameters" element="tns:getPoliciesResponse"/>
  </message>
  <message name="getPolicyByName">
    <part name="parameters" element="tns:getPolicyByName"/>
  </message>
  <message name="getPolicyByNameResponse">
    <part name="parameters" element="tns:getPolicyByNameResponse"/>
  </message>
  <message name="getPolicyById">
    <part name="parameters" element="tns:getPolicyById"/>
  </message>
  <message name="getPolicyByIdResponse">
    <part name="parameters" element="tns:getPolicyByIdResponse"/>
  </message>
  <message name="addPolicy">
    <part name="parameters" element="tns:addPolicy"/>
  </message>
  <message name="addPolicyResponse">
    <part name="parameters" element="tns:addPolicyResponse"/>
  </message>
  <message name="deletePolicies">
    <part name="parameters" element="tns:deletePolicies"/>
  </message>
  <message name="deletePoliciesResponse">
    <part name="parameters" element="tns:deletePoliciesResponse"/>
  </message>
  <message name="updatePolicyAttributes">
    <part name="parameters" element="tns:updatePolicyAttributes"/>
  </message>
  <message name="updatePolicyAttributesResponse">
    <part name="parameters" element="tns:updatePolicyAttributesResponse"/>
  </message>
  <message name="getPolicyGroups">
    <part name="parameters" element="tns:getPolicyGroups"/>
  </message>
  <message name="getPolicyGroupsResponse">
    <part name="parameters" element="tns:getPolicyGroupsResponse"/>
  </message>
  <message name="getPolicyGroupByName">
    <part name="parameters" element="tns:getPolicyGroupByName"/>
  </message>
  <message name="getPolicyGroupByNameResponse">
    <part name="parameters" element="tns:getPolicyGroupByNameResponse"/>
  </message>
  <message name="getPolicyGroupById">
    <part name="parameters" element="tns:getPolicyGroupById"/>
  </message>
  <message name="getPolicyGroupByIdResponse">
    <part name="parameters" element="tns:getPolicyGroupByIdResponse"/>
  </message>
  <message name="addPolicyGroup">
    <part name="parameters" element="tns:addPolicyGroup"/>
  </message>
  <message name="addPolicyGroupResponse">
    <part name="parameters" element="tns:addPolicyGroupResponse"/>
  </message>
  <message name="deletePolicyGroups">
    <part name="parameters" element="tns:deletePolicyGroups"/>
  </message>
  <message name="deletePolicyGroupsResponse">
    <part name="parameters" element="tns:deletePolicyGroupsResponse"/>
  </message>
  <message name="updateGroupAttributes">
    <part name="parameters" element="tns:updateGroupAttributes"/>
  </message>
  <message name="updateGroupAttributesResponse">
    <part name="parameters" element="tns:updateGroupAttributesResponse"/>
  </message>
  <message name="addPolicyUseToGroup">
    <part name="parameters" element="tns:addPolicyUseToGroup"/>
  </message>
  <message name="addPolicyUseToGroupResponse">
    <part name="parameters" element="tns:addPolicyUseToGroupResponse"/>
  </message>
  <message name="removePolicyUseFromGroup">
    <part name="parameters" element="tns:removePolicyUseFromGroup"/>
  </message>
  <message name="removePolicyUseFromGroupResponse">
    <part name="parameters" element="tns:removePolicyUseFromGroupResponse"/>
  </message>
  <message name="associatePolicyGroupToDomain">
    <part name="parameters" element="tns:associatePolicyGroupToDomain"/>
  </message>
  <message name="associatePolicyGroupToDomainResponse">
    <part name="parameters" element="tns:associatePolicyGroupToDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupFromDomain">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomain"/>
  </message>
  <message name="disassociatePolicyGroupFromDomainResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupsFromDomain">
    <part name="parameters" element="tns:disassociatePolicyGroupsFromDomain"/>
  </message>
  <message name="disassociatePolicyGroupsFromDomainResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupsFromDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupFromDomains">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomains"/>
  </message>
  <message name="disassociatePolicyGroupFromDomainsResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomainsResponse"/>
  </message>
  <message name="getPolicyGroupDomainReltns">
    <part name="parameters" element="tns:getPolicyGroupDomainReltns"/>
  </message>
  <message name="getPolicyGroupDomainReltnsResponse">
    <part name="parameters" element="tns:getPolicyGroupDomainReltnsResponse"/>
  </message>
  <message name="getPolicyGroupsByDomain">
    <part name="parameters" element="tns:getPolicyGroupsByDomain"/>
  </message>
  <message name="getPolicyGroupsByDomainResponse">
    <part name="parameters" element="tns:getPolicyGroupsByDomainResponse"/>
  </message>
  <portType name="ConfigurationService">
    <operation name="getAddresss">
      <input message="tns:getAddresss"/>
      <output message="tns:getAddresssResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addAddress">
      <input message="tns:addAddress"/>
      <output message="tns:addAddressResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateAddress">
      <input message="tns:updateAddress"/>
      <output message="tns:updateAddressResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getAddressCount">
      <input message="tns:getAddressCount"/>
      <output message="tns:getAddressCountResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeAddress">
      <input message="tns:removeAddress"/>
      <output message="tns:removeAddressResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="listAddresss">
      <input message="tns:listAddresss"/>
      <output message="tns:listAddresssResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addDomain">
      <input message="tns:addDomain"/>
      <output message="tns:addDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateDomain">
      <input message="tns:updateDomain"/>
      <output message="tns:updateDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDomainCount">
      <input message="tns:getDomainCount"/>
      <output message="tns:getDomainCountResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDomains">
      <input message="tns:getDomains"/>
      <output message="tns:getDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDomain">
      <input message="tns:removeDomain"/>
      <output message="tns:removeDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDomainById">
      <input message="tns:removeDomainById"/>
      <output message="tns:removeDomainByIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="listDomains">
      <input message="tns:listDomains"/>
      <output message="tns:listDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="searchDomain">
      <input message="tns:searchDomain"/>
      <output message="tns:searchDomainResponse"/>
    </operation>
    <operation name="getDomain">
      <input message="tns:getDomain"/>
      <output message="tns:getDomainResponse"/>
    </operation>
    <operation name="contains">
      <input message="tns:contains"/>
      <output message="tns:containsResponse"/>
    </operation>
    <operation name="getCertificates">
      <input message="tns:getCertificates"/>
      <output message="tns:getCertificatesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addCertificates">
      <input message="tns:addCertificates"/>
      <output message="tns:addCertificatesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="setCertificateStatus">
      <input message="tns:setCertificateStatus"/>
      <output message="tns:setCertificateStatusResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="setCertificateStatusForOwner">
      <input message="tns:setCertificateStatusForOwner"/>
      <output message="tns:setCertificateStatusForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeCertificates">
      <input message="tns:removeCertificates"/>
      <output message="tns:removeCertificatesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeCertificatesForOwner">
      <input message="tns:removeCertificatesForOwner"/>
      <output message="tns:removeCertificatesForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getCertificate">
      <input message="tns:getCertificate"/>
      <output message="tns:getCertificateResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getCertificatesForOwner">
      <input message="tns:getCertificatesForOwner"/>
      <output message="tns:getCertificatesForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="listCertificates">
      <input message="tns:listCertificates"/>
      <output message="tns:listCertificatesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addAnchor">
      <input message="tns:addAnchor"/>
      <output message="tns:addAnchorResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="setAnchorStatusForOwner">
      <input message="tns:setAnchorStatusForOwner"/>
      <output message="tns:setAnchorStatusForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeAnchors">
      <input message="tns:removeAnchors"/>
      <output message="tns:removeAnchorsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeAnchorsForOwner">
      <input message="tns:removeAnchorsForOwner"/>
      <output message="tns:removeAnchorsForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getAnchor">
      <input message="tns:getAnchor"/>
      <output message="tns:getAnchorResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getAnchors">
      <input message="tns:getAnchors"/>
      <output message="tns:getAnchorsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getAnchorsForOwner">
      <input message="tns:getAnchorsForOwner"/>
      <output message="tns:getAnchorsForOwnerResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getIncomingAnchors">
      <input message="tns:getIncomingAnchors"/>
      <output message="tns:getIncomingAnchorsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getOutgoingAnchors">
      <input message="tns:getOutgoingAnchors"/>
      <output message="tns:getOutgoingAnchorsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="listAnchors">
      <input message="tns:listAnchors"/>
      <output message="tns:listAnchorsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addSetting">
      <input message="tns:addSetting"/>
      <output message="tns:addSettingResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getAllSettings">
      <input message="tns:getAllSettings"/>
      <output message="tns:getAllSettingsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getSettingByName">
      <input message="tns:getSettingByName"/>
      <output message="tns:getSettingByNameResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getSettingsByNames">
      <input message="tns:getSettingsByNames"/>
      <output message="tns:getSettingsByNamesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateSetting">
      <input message="tns:updateSetting"/>
      <output message="tns:updateSettingResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="deleteSetting">
      <input message="tns:deleteSetting"/>
      <output message="tns:deleteSettingResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addDNS">
      <input message="tns:addDNS"/>
      <output message="tns:addDNSResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSByName">
      <input message="tns:getDNSByName"/>
      <output message="tns:getDNSByNameResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSByNameAndType">
      <input message="tns:getDNSByNameAndType"/>
      <output message="tns:getDNSByNameAndTypeResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSByRecordId">
      <input message="tns:getDNSByRecordId"/>
      <output message="tns:getDNSByRecordIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSByRecordIds">
      <input message="tns:getDNSByRecordIds"/>
      <output message="tns:getDNSByRecordIdsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSByType">
      <input message="tns:getDNSByType"/>
      <output message="tns:getDNSByTypeResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDNSCount">
      <input message="tns:getDNSCount"/>
      <output message="tns:getDNSCountResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDNS">
      <input message="tns:removeDNS"/>
      <output message="tns:removeDNSResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDNSByRecordId">
      <input message="tns:removeDNSByRecordId"/>
      <output message="tns:removeDNSByRecordIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDNSByRecordIds">
      <input message="tns:removeDNSByRecordIds"/>
      <output message="tns:removeDNSByRecordIdsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateDNS">
      <input message="tns:updateDNS"/>
      <output message="tns:updateDNSResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getTrustBundles">
      <input message="tns:getTrustBundles"/>
      <output message="tns:getTrustBundlesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getTrustBundleByName">
      <input message="tns:getTrustBundleByName"/>
      <output message="tns:getTrustBundleByNameResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getTrustBundleById">
      <input message="tns:getTrustBundleById"/>
      <output message="tns:getTrustBundleByIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addTrustBundle">
      <input message="tns:addTrustBundle"/>
      <output message="tns:addTrustBundleResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="refreshTrustBundle">
      <input message="tns:refreshTrustBundle"/>
      <output message="tns:refreshTrustBundleResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateLastUpdateError">
      <input message="tns:updateLastUpdateError"/>
      <output message="tns:updateLastUpdateErrorResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="deleteTrustBundles">
      <input message="tns:deleteTrustBundles"/>
      <output message="tns:deleteTrustBundlesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateTrustBundleSigningCertificate">
      <input message="tns:updateTrustBundleSigningCertificate"/>
      <output message="tns:updateTrustBundleSigningCertificateResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateTrustBundleAttributes">
      <input message="tns:updateTrustBundleAttributes"/>
      <output message="tns:updateTrustBundleAttributesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="associateTrustBundleToDomain">
      <input message="tns:associateTrustBundleToDomain"/>
      <output message="tns:associateTrustBundleToDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociateTrustBundleFromDomain">
      <input message="tns:disassociateTrustBundleFromDomain"/>
      <output message="tns:disassociateTrustBundleFromDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociateTrustBundlesFromDomain">
      <input message="tns:disassociateTrustBundlesFromDomain"/>
      <output message="tns:disassociateTrustBundlesFromDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociateTrustBundleFromDomains">
      <input message="tns:disassociateTrustBundleFromDomains"/>
      <output message="tns:disassociateTrustBundleFromDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getTrustBundlesByDomain">
      <input message="tns:getTrustBundlesByDomain"/>
      <output message="tns:getTrustBundlesByDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicies">
      <input message="tns:getPolicies"/>
      <output message="tns:getPoliciesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyByName">
      <input message="tns:getPolicyByName"/>
      <output message="tns:getPolicyByNameResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyById">
      <input message="tns:getPolicyById"/>
      <output message="tns:getPolicyByIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addPolicy">
      <input message="tns:addPolicy"/>
      <output message="tns:addPolicyResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="deletePolicies">
      <input message="tns:deletePolicies"/>
      <output message="tns:deletePoliciesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updatePolicyAttributes">
      <input message="tns:updatePolicyAttributes"/>
      <output message="tns:updatePolicyAttributesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyGroups">
      <input message="tns:getPolicyGroups"/>
      <output message="tns:getPolicyGroupsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyGroupByName">
      <input message="tns:getPolicyGroupByName"/>
      <output message="tns:getPolicyGroupByNameResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyGroupById">
      <input message="tns:getPolicyGroupById"/>
      <output message="tns:getPolicyGroupByIdResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addPolicyGroup">
      <input message="tns:addPolicyGroup"/>
      <output message="tns:addPolicyGroupResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="deletePolicyGroups">
      <input message="tns:deletePolicyGroups"/>
      <output message="tns:deletePolicyGroupsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateGroupAttributes">
      <input message="tns:updateGroupAttributes"/>
      <output message="tns:updateGroupAttributesResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="addPolicyUseToGroup">
      <input message="tns:addPolicyUseToGroup"/>
      <output message="tns:addPolicyUseToGroupResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removePolicyUseFromGroup">
      <input message="tns:removePolicyUseFromGroup"/>
      <output message="tns:removePolicyUseFromGroupResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="associatePolicyGroupToDomain">
      <input message="tns:associatePolicyGroupToDomain"/>
      <output message="tns:associatePolicyGroupToDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociatePolicyGroupFromDomain">
      <input message="tns:disassociatePolicyGroupFromDomain"/>
      <output message="tns:disassociatePolicyGroupFromDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociatePolicyGroupsFromDomain">
      <input message="tns:disassociatePolicyGroupsFromDomain"/>
      <output message="tns:disassociatePolicyGroupsFromDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="disassociatePolicyGroupFromDomains">
      <input message="tns:disassociatePolicyGroupFromDomains"/>
      <output message="tns:disassociatePolicyGroupFromDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyGroupDomainReltns">
      <input message="tns:getPolicyGroupDomainReltns"/>
      <output message="tns:getPolicyGroupDomainReltnsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getPolicyGroupsByDomain">
      <input message="tns:getPolicyGroupsByDomain"/>
      <output message="tns:getPolicyGroupsByDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
  </portType>
</definitions>

