Product/SoapUI_Test/RegressionSuite/NewFeature/DirectMessageTestingWithEventLogging/wsdl/ConfigurationServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://impl.service.config.nhindirect.org/" name="ConfigurationServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.service.config.nhindirect.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://nhind.org/config" location="ConfigurationService.wsdl"/>
  <binding name="ConfigurationServiceImplPortBinding" type="ns1:ConfigurationService" xmlns:ns1="http://nhind.org/config">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAddresss">
      <soap:operation soapAction="urn:GetAddresss"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addAddress">
      <soap:operation soapAction="urn:AddAddress"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAddress">
      <soap:operation soapAction="urn:UpdateAddress"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAddressCount">
      <soap:operation soapAction="urn:GetAddressCount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAddress">
      <soap:operation soapAction="urn:RemoveAddress"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listAddresss">
      <soap:operation soapAction="urn:ListAddresss"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addDomain">
      <soap:operation soapAction="urn:AddDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDomain">
      <soap:operation soapAction="urn:UpdateDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDomainCount">
      <soap:operation soapAction="urn:GetDomainCount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDomains">
      <soap:operation soapAction="urn:GetDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDomain">
      <soap:operation soapAction="urn:RemoveDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDomainById">
      <soap:operation soapAction="urn:RemoveDomainById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listDomains">
      <soap:operation soapAction="urn:listDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchDomain">
      <soap:operation soapAction="urn:SearchDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDomain">
      <soap:operation soapAction="urn:GetDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="contains">
      <soap:operation soapAction="urn:Contains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCertificates">
      <soap:operation soapAction="urn:GetCertificates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addCertificates">
      <soap:operation soapAction="urn:AddCertificates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setCertificateStatus">
      <soap:operation soapAction="urn:SetCertificateStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setCertificateStatusForOwner">
      <soap:operation soapAction="urn:SetCertificateStatusForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeCertificates">
      <soap:operation soapAction="urn:RemoveCertificates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeCertificatesForOwner">
      <soap:operation soapAction="urn:RemoveCertificatesForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCertificate">
      <soap:operation soapAction="urn:GetCertificate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCertificatesForOwner">
      <soap:operation soapAction="urn:GetCertificatesForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listCertificates">
      <soap:operation soapAction="urn:ListCertificates"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addAnchor">
      <soap:operation soapAction="urn:AddAnchor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setAnchorStatusForOwner">
      <soap:operation soapAction="urn:SetAnchorStatusForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAnchors">
      <soap:operation soapAction="urn:RemoveAnchors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAnchorsForOwner">
      <soap:operation soapAction="urn:RemoveAnchorsForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAnchor">
      <soap:operation soapAction="urn:GetAnchor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAnchors">
      <soap:operation soapAction="urn:GetAnchors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAnchorsForOwner">
      <soap:operation soapAction="urn:GetAnchorsForOwner"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getIncomingAnchors">
      <soap:operation soapAction="urn:GetIncomingAnchors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getOutgoingAnchors">
      <soap:operation soapAction="urn:GetOutgoingAnchors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listAnchors">
      <soap:operation soapAction="urn:ListAnchors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addSetting">
      <soap:operation soapAction="urn:AddSetting"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllSettings">
      <soap:operation soapAction="urn:GetAllSettings"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSettingByName">
      <soap:operation soapAction="urn:GetSettingByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSettingsByNames">
      <soap:operation soapAction="urn:GetSettingsByNames"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateSetting">
      <soap:operation soapAction="urn:UpdateSetting"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteSetting">
      <soap:operation soapAction="urn:DeleteSetting"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addDNS">
      <soap:operation soapAction="urn:AddDNS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSByName">
      <soap:operation soapAction="urn:GetDNSByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSByNameAndType">
      <soap:operation soapAction="urn:GetDNSByNameAndType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSByRecordId">
      <soap:operation soapAction="urn:GetDNSByRecordId"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSByRecordIds">
      <soap:operation soapAction="urn:GetDNSByRecordIds"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSByType">
      <soap:operation soapAction="urn:GetDNSByType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDNSCount">
      <soap:operation soapAction="urn:GetDNSCount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDNS">
      <soap:operation soapAction="urn:RemoveDNS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDNSByRecordId">
      <soap:operation soapAction="urn:RemoveDNSByRecordId"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDNSByRecordIds">
      <soap:operation soapAction="urn:RemoveDNSByRecordIds"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDNS">
      <soap:operation soapAction="urn:UpdateDNS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTrustBundles">
      <soap:operation soapAction="urn:GetTrustBundles"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTrustBundleByName">
      <soap:operation soapAction="urn:GetTrustBundleByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTrustBundleById">
      <soap:operation soapAction="urn:GetTrustBundleById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addTrustBundle">
      <soap:operation soapAction="urn:AddTrustBundle"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="refreshTrustBundle">
      <soap:operation soapAction="urn:RefreshTrustBundle"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateLastUpdateError">
      <soap:operation soapAction="urn:UpdateLastUpdateError"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteTrustBundles">
      <soap:operation soapAction="urn:DeleteTrustBundles"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTrustBundleSigningCertificate">
      <soap:operation soapAction="urn:UpdateTrustBundleSigningCertificate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTrustBundleAttributes">
      <soap:operation soapAction="urn:UpdateTrustBundleAttributes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="associateTrustBundleToDomain">
      <soap:operation soapAction="urn:AssociateTrustBundleToDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociateTrustBundleFromDomain">
      <soap:operation soapAction="urn:DisassociateTrustBundleFromDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociateTrustBundlesFromDomain">
      <soap:operation soapAction="urn:DisassociateTrustBundlesFromDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociateTrustBundleFromDomains">
      <soap:operation soapAction="urn:DisassociateTrustBundleFromDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTrustBundlesByDomain">
      <soap:operation soapAction="urn:GetTrustBundlesByDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicies">
      <soap:operation soapAction="urn:GetPolicies"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyByName">
      <soap:operation soapAction="urn:GetPolicyByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyById">
      <soap:operation soapAction="urn:GetPolicyById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addPolicy">
      <soap:operation soapAction="urn:AddPolicy"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePolicies">
      <soap:operation soapAction="urn:DeletePolicies"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePolicyAttributes">
      <soap:operation soapAction="urn:UpdatePolicyAttributes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyGroups">
      <soap:operation soapAction="urn:GetPolicyGroups"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyGroupByName">
      <soap:operation soapAction="urn:GetPolicyGroupByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyGroupById">
      <soap:operation soapAction="urn:GetPolicyGroupById"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addPolicyGroup">
      <soap:operation soapAction="urn:AddPolicyGroup"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePolicyGroups">
      <soap:operation soapAction="urn:DeletePolicyGroups"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateGroupAttributes">
      <soap:operation soapAction="urn:UpdateGroupAttributes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addPolicyUseToGroup">
      <soap:operation soapAction="urn:AddPolicyUseToGroup"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removePolicyUseFromGroup">
      <soap:operation soapAction="urn:RemovePolicyUseFromGroup"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="associatePolicyGroupToDomain">
      <soap:operation soapAction="urn:AssociatePolicyGroupToDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociatePolicyGroupFromDomain">
      <soap:operation soapAction="urn:DisassociatePolicyGroupFromDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociatePolicyGroupsFromDomain">
      <soap:operation soapAction="urn:DisassociatePolicyGroupsFromDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="disassociatePolicyGroupFromDomains">
      <soap:operation soapAction="urn:DisassociatePolicyGroupFromDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyGroupDomainReltns">
      <soap:operation soapAction="urn:GetPolicyGroupDomainReltns"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPolicyGroupsByDomain">
      <soap:operation soapAction="urn:GetPolicyGroupsByDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ConfigurationServiceImplService">
    <port name="ConfigurationServiceImplPort" binding="tns:ConfigurationServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

