Product/Production/Adapters/Framework/AdapterCommonDataLayerEJB/src/main/resources/xml-resources/web-service-references/DODConnectorService/wsdl/localhost_8080/DODConnectorService/DODConnectorService.xsd_50.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type MCAI_MT900001UV01.
* Source information:
*     Rendered by: RoseTree 3.0.19
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.25 2005/07/09 20:20:15 lmckenzi Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.12 2005/07/19 04:27:26 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.3 2005/04/17 03:20:15 lmckenzi Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.6 2005/04/17 03:20:15 lmckenzi Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.2 2005/04/17 03:20:15 lmckenzi Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.3 2005/07/31 05:19:52 lmckenzi Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://localhost:8080/DODConnectorService/DODConnectorService?xsd=4" />
   <xs:include schemaLocation="http://localhost:8080/DODConnectorService/DODConnectorService?xsd=1" />
   <xs:complexType name="MCAI_MT900001UV01.ActOrderRequired">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1" />
         <xs:element name="effectiveTime" type="SXCM_TS_explicit" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="subject" type="MCAI_MT900001UV01.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT" />
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.DetectedIssueEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1" />
         <xs:element name="text" type="ED_explicit" minOccurs="0" maxOccurs="1" />
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1" />
         <xs:element name="mitigatedBy" type="MCAI_MT900001UV01.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="triggerFor" type="MCAI_MT900001UV01.Requires" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ALRT" />
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.DetectedIssueManagement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1" />
         <xs:element name="text" type="ED_explicit" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT" />
      <xs:attribute name="moodCode" type="x_ActMoodDefEvn" use="required" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Requires">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="actOrderRequired" type="MCAI_MT900001UV01.ActOrderRequired" nillable="true" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG" />
      <xs:attribute name="contextConductionInd" type="bl" use="optional" />
      <xs:attribute name="negationInd" type="bl" use="optional" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="detectedIssueManagement" type="MCAI_MT900001UV01.DetectedIssueManagement" nillable="true" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="MITGT" />
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false" />
   </xs:complexType>
   <xs:complexType name="MCAI_MT900001UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="role" type="MCAI_MT900001UV01.Role" nillable="true" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ" />
   </xs:complexType>
</xs:schema>