Product/Production/Adapters/Framework/AdapterCommonDataLayerEJB/src/main/resources/xml-resources/web-service-references/DODConnectorService/wsdl/localhost_8080/DODConnectorService/DODConnectorService.xsd_58.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT201306UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.0.3
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.2 2007/03/06 06:56:44 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.2 2007/03/06 06:56:45 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.0.3. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://localhost:8080/DODConnectorService/DODConnectorService?xsd=4" />
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectAdministrativeGender">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="CE" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectBirthPlaceAddress">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="AD_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectBirthPlaceName">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="EN_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectBirthTime">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="IVL_TS_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectDeceasedTime">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="IVL_TS_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectId">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.LivingSubjectName">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="EN_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.MatchAlgorithm">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.MatchCriterionList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1" />
         <xs:element name="matchAlgorithm" type="PRPA_MT201306UV.MatchAlgorithm" nillable="true" minOccurs="0" maxOccurs="1" />
         <xs:element name="matchWeight" type="PRPA_MT201306UV.MatchWeight" nillable="true" minOccurs="0" maxOccurs="1" />
         <xs:element name="minimumDegreeMatch" type="PRPA_MT201306UV.MinimumDegreeMatch" nillable="true" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.MatchWeight">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.MinimumDegreeMatch">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.MothersMaidenName">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="PN_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.OtherIDsScopingOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.ParameterList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1" />
         <xs:element name="livingSubjectAdministrativeGender" type="PRPA_MT201306UV.LivingSubjectAdministrativeGender" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectBirthPlaceAddress" type="PRPA_MT201306UV.LivingSubjectBirthPlaceAddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectBirthPlaceName" type="PRPA_MT201306UV.LivingSubjectBirthPlaceName" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectBirthTime" type="PRPA_MT201306UV.LivingSubjectBirthTime" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectDeceasedTime" type="PRPA_MT201306UV.LivingSubjectDeceasedTime" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectId" type="PRPA_MT201306UV.LivingSubjectId" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="livingSubjectName" type="PRPA_MT201306UV.LivingSubjectName" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="mothersMaidenName" type="PRPA_MT201306UV.MothersMaidenName" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="otherIDsScopingOrganization" type="PRPA_MT201306UV.OtherIDsScopingOrganization" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="patientAddress" type="PRPA_MT201306UV.PatientAddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="patientStatusCode" type="PRPA_MT201306UV.PatientStatusCode" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="patientTelecom" type="PRPA_MT201306UV.PatientTelecom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="principalCareProviderId" type="PRPA_MT201306UV.PrincipalCareProviderId" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="principalCareProvisionId" type="PRPA_MT201306UV.PrincipalCareProvisionId" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.PatientAddress">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="AD_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.PatientStatusCode">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.PatientTelecom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="TEL_explicit" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.PrincipalCareProviderId">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.PrincipalCareProvisionId">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded" />
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.QueryByParameter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="queryId" type="II" minOccurs="1" maxOccurs="1" />
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1" />
         <xs:element name="modifyCode" type="CS" minOccurs="0" maxOccurs="1" />
         <xs:element name="responseElementGroupId" type="II" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="responseModalityCode" type="CS" minOccurs="0" maxOccurs="1" />
         <xs:element name="responsePriorityCode" type="CS" minOccurs="0" maxOccurs="1" />
         <xs:element name="initialQuantity" type="INT" minOccurs="0" maxOccurs="1" />
         <xs:element name="initialQuantityCode" type="CE" minOccurs="0" maxOccurs="1" />
         <xs:element name="executionAndDeliveryTime" type="TS_explicit" minOccurs="0" maxOccurs="1" />
         <xs:element name="matchCriterionList" type="PRPA_MT201306UV.MatchCriterionList" nillable="true" minOccurs="0" maxOccurs="1" />
         <xs:element name="parameterList" type="PRPA_MT201306UV.ParameterList" minOccurs="1" maxOccurs="1" />
         <xs:element name="sortControl" type="PRPA_MT201306UV.SortControl" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
   <xs:complexType name="PRPA_MT201306UV.SortControl">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements" />
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1" />
         <xs:element name="elementName" type="SC" minOccurs="0" maxOccurs="1" />
         <xs:element name="directionCode" type="CS" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes" />
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
   </xs:complexType>
</xs:schema>