Product/Production/Common/CONNECTCoreLib/src/main/java/META-INF/wsdl/NhincComponentAuditRepository.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AuditRepositoryManager" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository" 
    xmlns:ns="http://nhinc.services.com/schema/auditmessage" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:audit="urn:gov:hhs:fha:nhinc:common:auditlog" 
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:nccomadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository">
            <xsd:import schemaLocation="../schemas/nhinc/common/AuditLog.xsd" 
                        namespace="urn:gov:hhs:fha:nhinc:common:auditlog" />
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter" schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
        </xsd:schema>
    </types>
    <message name="QueryAuditEventsRequestMessage">
        <part name="QueryAuditEventsRequest" element="nccomadapter:FindCommunitiesAndAuditEventsRequest"/>
    </message>
    <message name="QueryAuditEventsResponseMessage">
        <part name="QueryAuditEventsResponse" element="nccomadapter:FindCommunitiesAndAuditEventsResponse"/>
    </message>
    <message name="LogEventRequestMessage">
        <part name="LogEventRequest" element="audit:LogEventRequest"/>
    </message>
    <message name="LogEventResponseMessage">
        <part name="LogEventResponse" element="audit:LogEventResponse"/>
    </message>
    <portType name="AuditRepositoryManagerPortType">
        <operation name="QueryAuditEvents">
            <input name="QueryAuditEventsRequest" 
                   message="tns:QueryAuditEventsRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:QueryAuditEventsRequest"/>
            <output name="QueryAuditEventsResponse" 
                    message="tns:QueryAuditEventsResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:QueryAuditEventsResponse"/>
        </operation>
        <operation name="LogEvent">
            <input name="LogEventRequest" message="tns:LogEventRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:LogEventRequest"/>
            <output name="LogEventResponse" message="tns:LogEventResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:LogEventResponse"/>
        </operation>
    </portType>
    <binding name="AuditRepositoryManagerBinding" 
             type="tns:AuditRepositoryManagerPortType">
        <soap:binding style="document" 
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="QueryAuditEvents">
            <soap:operation style="document" 
                            soapAction="urn:QueryAuditEvents"/>
            <input name="QueryAuditEventsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="QueryAuditEventsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="LogEvent">
            <soap:operation soapAction="urn:LogEvent"/>
            <input name="LogEventRequest">
                <soap:body use="literal"/>
            </input>
            <output name="LogEventResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AuditRepositoryManagerService">
        <port name="AuditRepositoryManagerPort" 
              binding="tns:AuditRepositoryManagerBinding">
            <soap:address 
                location="http://localhost:${NhincHttpPort}/NhinConnect/AuditRepositoryManagerService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="AuditRepositoryManager">
        <plnk:role name="AuditRepositoryManagerPortTypeRole" 
                   portType="tns:AuditRepositoryManagerPortType"/>
    </plnk:partnerLinkType>
</definitions>
