Product/Production/Adapters/DocumentQuery_a0/src/main/java/META-INF/NhincComponentPatientCorrelationSecured.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="PatientCorrelation" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:ncpc="urn:gov:hhs:fha:nhinc:common:patientcorrelation" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:hl7="urn:hl7-org:v3" 
    xmlns:pc="urn:hl7-org:v3" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   	xmlns:wsaw="http://www.w3.org/2005/08/addressing"
   	xmlns:ihe="urn:ihe:iti:xds-b:2007" 
   	xmlns:sxnmp="http://www.sun.com/wsbpel/2.0/process/executable/SUNExtension/NMProperty"
   	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
   	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:sc1="http://schemas.sun.com/2006/03/wss/client"
    >
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation">
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/nhinc/common/PatientCorrelationSecured.xsd"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata" schemaLocation="../schemas/nhinc/gateway/SamlTokenData.xsd"/>
        </xsd:schema>
    </types>
    <message name="RetrievePatientCorrelationsRequestMessage">
        <part name="RetrievePatientCorrelationsRequest"
              element="pc:RetrievePatientCorrelationsRequest"/>
    </message>
    <message name="RetrievePatientCorrelationsResponseMessage">
        <part name="RetrievePatientCorrelationsResponse"
              element="pc:RetrievePatientCorrelationsResponse"/>
    </message>
    <message name="AddPatientCorrelationRequestMessage">
        <part name="AddPatientCorrelationRequest"
              element="pc:AddPatientCorrelationRequest"/>
    </message>
    <message name="AddPatientCorrelationResponseMessage">
        <part name="AddPatientCorrelationResponse"
              element="pc:AddPatientCorrelationResponse"/>
    </message>
    <message name="RemovePatientCorrelationRequestMessage">
        <part name="RemovePatientCorrelationRequest"
              element="pc:RemovePatientCorrelationRequest"/>
    </message>
    <message name="RemovePatientCorrelationResponseMessage">
        <part name="RemovePatientCorrelationResponse"
              element="pc:RemovePatientCorrelationResponse"/>
    </message>
    <portType name="PatientCorrelationSecuredPortType">
        <operation name="RetrievePatientCorrelations">
            <input name="RetrievePatientCorrelationsRequest"
                   message="tns:RetrievePatientCorrelationsRequestMessage"/>
            <output name="RetrievePatientCorrelationsResponse"
                    message="tns:RetrievePatientCorrelationsResponseMessage"/>
        </operation>
        <operation name="AddPatientCorrelation">
            <input name="AddPatientCorrelationRequest"
                   message="tns:AddPatientCorrelationRequestMessage"/>
            <output name="AddPatientCorrelationResponse"
                    message="tns:AddPatientCorrelationResponseMessage"/>
        </operation>
        <operation name="RemovePatientCorrelation">
            <input name="RemovePatientCorrelationRequest"
                   message="tns:RemovePatientCorrelationRequestMessage"/>
            <output name="RemovePatientCorrelationResponse"
                    message="tns:RemovePatientCorrelationResponseMessage"/>
        </operation>
    </portType>
    <binding name="PatientCorrelationSecuredBinding" type="tns:PatientCorrelationSecuredPortType">
        <wsp1:PolicyReference URI="#PatientCorrelationSecuredBindingPolicy"/>
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RetrievePatientCorrelations">
            <soap:operation soapAction="RetrievePatientCorrelations"/>
            <input name="RetrievePatientCorrelationsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrievePatientCorrelationsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddPatientCorrelation">
            <soap:operation soapAction="AddPatientCorrelation"/>
            <input name="AddPatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="AddPatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RemovePatientCorrelation">
            <soap:operation soapAction="RemovePatientCorrelation"/>
            <input name="RemovePatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RemovePatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientCorrelationServiceSecured">
        <port name="PatientCorrelationSecuredPort"
              binding="tns:PatientCorrelationSecuredBinding">
            <soap:address
                location="https://localhost:${HttpsDefaultPort}/PatientCorrelationServiceSecured"/>
        </port>
    </service>

    <plnk:partnerLinkType name="PatientCorrelationSecured">
        <plnk:role name="PatientCorrelationSecuredPortTypeRole"
                   portType="tns:PatientCorrelationSecuredPortType"/>
    </plnk:partnerLinkType>
    <wsp1:Policy wsu:Id="PatientCorrelationSecuredBindingPolicy">
        <wsp1:ExactlyOne>
            <wsp1:All>
                <sc1:KeyStore wspp:visibility="private" aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreClientAliasSelector" callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
                <sc1:TrustStore wspp:visibility="private" certSelector = "gov.hhs.fha.nhinc.callback.TrustStoreAliasSelector" callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
                <sc1:CallbackHandlerConfiguration wspp:visibility="private">
                    <sc1:CallbackHandler name="samlHandler" classname="gov.hhs.fha.nhinc.callback.SamlCallbackHandler"/>
                </sc1:CallbackHandlerConfiguration>
            </wsp1:All>
        </wsp1:ExactlyOne>
    </wsp1:Policy>
</definitions>
