Product/Production/Gateway/GatewayInternalWeb/src/main/resources/xml-resources/web-services/PatientCorrelationFacadeDteService/wsdl/NhincComponentPatientCorrelationFacadeDte.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentPatientCorrelationFacadeDte" targetNamespace="urn:gov:hhs:fha:nhinc:componentpatientcorrelationfacadedte"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:componentpatientcorrelationfacadedte" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:hl7="urn:hl7-org:v3" xmlns:ncpcf="urn:gov:hhs:fha:nhinc:common:patientcorrelationfacade" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:componentpatientcorrelationfacadedte">
            <xsd:import schemaLocation="../schemas/nhinc/common/PatientCorrelationFacadeDte.xsd" namespace="urn:hl7-org:v3"/>
            <xsd:import schemaLocation="../schemas/nhinc/common/PatientCorrelationFacade.xsd" namespace="urn:gov:hhs:fha:nhinc:common:patientcorrelationfacade"/>
        </xsd:schema>
    </types>

    <message name="CreatePixRetrieveRequestMessage">
        <part name="CreatePixRetrieveRequest" element="hl7:CreatePixRetrieveRequest"/>
    </message>
    <message name="CreatePixRetrieveResponseMessage">
        <part name="CreatePixRetrieveResponse"  element="hl7:CreatePixRetrieveResponse"/>
    </message>

    <message name="CreateFacadeRetrieveResultRequestMessage">
        <part name="CreateFacadeRetrieveResultRequest" element="hl7:CreateFacadeRetrieveResultRequest"/>
    </message>
    <message name="CreateFacadeRetrieveResultResponseMessage">
        <part name="CreateFacadeRetrieveResultResponse"  element="hl7:CreateFacadeRetrieveResultResponse"/>
    </message>

    <message name="CreatePixAddRequestMessage">
        <part name="CreatePixAddRequest" element="hl7:CreatePixAddRequest"/>
    </message>
    <message name="CreatePixAddResponseMessage">
        <part name="CreatePixAddResponse"  element="hl7:CreatePixAddResponse"/>
    </message>

    <message name="CreateAckRequestMessage">
        <part name="CreateAckRequest" element="hl7:CreateAckRequest"/>
    </message>
    <message name="CreateAckResponseMessage">
        <part name="CreateAckResponse" element="hl7:CreateAckResponse"/>
    </message>
    
    <portType name="PatientCorrelationFacadeDte">
        <operation name="CreatePixRetrieve">
            <input name="CreatePixRetrieveInput" message="tns:CreatePixRetrieveRequestMessage"/>
            <output name="CreatePixRetrieveOutput" message="tns:CreatePixRetrieveResponseMessage"/>
        </operation>
        <operation name="CreateFacadeRetrieveResult">
            <input name="CreateFacadeRetrieveResultInput" message="tns:CreateFacadeRetrieveResultRequestMessage"/>
            <output name="CreateFacadeRetrieveResultOutput" message="tns:CreateFacadeRetrieveResultResponseMessage"/>
        </operation>
        <operation name="CreatePixAdd">
            <input name="CreatePixAddInput" message="tns:CreatePixAddRequestMessage"/>
            <output name="CreatePixAddOutput" message="tns:CreatePixAddResponseMessage"/>
        </operation>
        <operation name="CreateAck">
            <input name="CreateAckInput" message="tns:CreateAckRequestMessage"/>
            <output name="CreateAckOutput" message="tns:CreateAckResponseMessage"/>
        </operation>
    </portType>
    <binding name="PatientCorrelationFacadeDteBinding" type="tns:PatientCorrelationFacadeDte">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreatePixRetrieve">
            <soap:operation soapAction="urn:CreatePixRetrieve"/>
            <input name="CreatePixRetrieveInput">
                <soap:body use="literal"/>
            </input>
            <output name="CreatePixRetrieveOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateFacadeRetrieveResult">
            <soap:operation soapAction="urn:CreateFacadeRetrieveResult"/>
            <input name="CreateFacadeRetrieveResultInput">
                <soap:body use="literal"/>
            </input>
            <output name="CreateFacadeRetrieveResultOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreatePixAdd">
            <soap:operation soapAction="urn:CreatePixAdd"/>
            <input name="CreatePixAddInput">
                <soap:body use="literal"/>
            </input>
            <output name="CreatePixAddOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateAck">
            <soap:operation soapAction="urn:CreateAck"/>
            <input name="CreateAckInput">
                <soap:body use="literal"/>
            </input>
            <output name="CreateAckOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentPatientCorrelationFacadeDteService">
        <port name="PatientCorrelationFacadeDteBindingPort" binding="tns:PatientCorrelationFacadeDteBinding">
            <soap:address location="http://localhost:${NhincHttpPort}/PatientCorrelationFacadeDteService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentPatientCorrelationFacadeDte2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="PatientCorrelationFacadeDteRole" portType="tns:PatientCorrelationFacadeDte"/>
    </plnk:partnerLinkType>
</definitions>
