Product/Production/Examples/NhinInterfaceTestHelperEJB/src/conf/xml-resources/web-services/SubjectDiscovery/wsdl/NhinSubjectDiscovery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PIXConsumer" targetNamespace="urn:ihe:iti:pixv3:2007"
   xmlns:tns="urn:ihe:iti:pixv3:2007" 
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3"
   xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
   xmlns:sxnmp="http://www.sun.com/wsbpel/2.0/process/executable/SUNExtension/NMProperty">
  <wsdl:documentation>
     Example WSDL for PIX Consumer, receiving update notifications
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201301UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201302UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201303UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201304UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201309UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201310UV.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/MCCI_IN000002UV01.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata" 
                xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata">
      <!-- Include schema defining the Saml Token Data -->
      <xsd:include schemaLocation="../schemas/nhinc/gateway/SamlTokenData.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PRPA_IN201301UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201301UV"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201302UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201302UV"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201303UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201303UV"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201304UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201304UV"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201309UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201309UV"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201310UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201310UV"/>
  </wsdl:message>
  <wsdl:message name="MCCI_IN000002UV01_Message">
    <wsdl:part name="Body" element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>
  <wsdl:portType name="PIXConsumer_PortType">
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <wsdl:input message="tns:PRPA_IN201301UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <wsdl:input message="tns:PRPA_IN201302UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
      <wsdl:input message="tns:PRPA_IN201303UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201303UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <wsdl:input message="tns:PRPA_IN201304UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <wsdl:input message="tns:PRPA_IN201309UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201309UV"/>
      <wsdl:output message="tns:PRPA_IN201310UV_Message" 
                   wsaw:Action="urn:hl7-org:v3:PRPA_IN201310UV"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PIXConsumer_Binding_Soap" type="tns:PIXConsumer_PortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#PIXConsumer_Binding_SoapPolicy"/>
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201303UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201309UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference 
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PIXConsumer_Service">
    <wsdl:port name="PIXConsumer_Port_Soap" binding="tns:PIXConsumer_Binding_Soap">
      <soap12:address location="https://localhost:${HttpsDefaultPort}/PIXConsumer_Soap"/>
    </wsdl:port>
  </wsdl:service>
  <!-- Define action property on each receiving message -->
  <vprop:property name="action" type="xsd:string"/>
  <vprop:propertyAlias propertyName="tns:action" 
     messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties">
        <vprop:query>action</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias propertyName="tns:action" 
     messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties">
        <vprop:query>action</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias propertyName="tns:action" 
     messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties">
        <vprop:query>action</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias propertyName="tns:action" 
     messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties">
        <vprop:query>action</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias propertyName="tns:action" 
     messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties">
        <vprop:query>action</vprop:query>
  </vprop:propertyAlias>
  <!-- Define resource property on each receiving message -->
  <vprop:property name="resource" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:resource">
        <vprop:query>resource</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:resource">
        <vprop:query>resource</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:resource">
        <vprop:query>resource</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:resource">
        <vprop:query>resource</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:resource">
        <vprop:query>resource</vprop:query>
  </vprop:propertyAlias>
  <!-- Define purposeForUseRoleCode property on each receiving message -->
  <vprop:property name="purposeForUseRoleCode" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseRoleCode">
        <vprop:query>purposeForUseRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseRoleCode">
        <vprop:query>purposeForUseRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseRoleCode">
        <vprop:query>purposeForUseRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseRoleCode">
        <vprop:query>purposeForUseRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseRoleCode">
        <vprop:query>purposeForUseRoleCode</vprop:query>
  </vprop:propertyAlias>
  <!-- Define purposeForUseCodeSystem property on each receiving message -->
  <vprop:property name="purposeForUseCodeSystem" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystem">
        <vprop:query>purposeForUseCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystem">
        <vprop:query>purposeForUseCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystem">
        <vprop:query>purposeForUseCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystem">
        <vprop:query>purposeForUseCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystem">
        <vprop:query>purposeForUseCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <!-- Define purposeForUseCodeSystemName property on each receiving message -->
  <vprop:property name="purposeForUseCodeSystemName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystemName">
        <vprop:query>purposeForUseCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystemName">
        <vprop:query>purposeForUseCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystemName">
        <vprop:query>purposeForUseCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystemName">
        <vprop:query>purposeForUseCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseCodeSystemName">
        <vprop:query>purposeForUseCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define purposeForUseDisplayName property on each receiving message -->
  <vprop:property name="purposeForUseDisplayName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseDisplayName">
        <vprop:query>purposeForUseDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseDisplayName">
        <vprop:query>purposeForUseDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseDisplayName">
        <vprop:query>purposeForUseDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseDisplayName">
        <vprop:query>purposeForUseDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:purposeForUseDisplayName">
        <vprop:query>purposeForUseDisplayName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userFirstName property on each receiving message -->
  <vprop:property name="userFirstName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userFirstName">
        <vprop:query>userFirstName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userFirstName">
        <vprop:query>userFirstName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userFirstName">
        <vprop:query>userFirstName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userFirstName">
        <vprop:query>userFirstName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userFirstName">
        <vprop:query>userFirstName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userMiddleName property on each receiving message -->
  <vprop:property name="userMiddleName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userMiddleName">
        <vprop:query>userMiddleName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userMiddleName">
        <vprop:query>userMiddleName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userMiddleName">
        <vprop:query>userMiddleName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userMiddleName">
        <vprop:query>userMiddleName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userMiddleName">
        <vprop:query>userMiddleName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userLastName property on each receiving message -->
  <vprop:property name="userLastName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userLastName">
        <vprop:query>userLastName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userLastName">
        <vprop:query>userLastName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userLastName">
        <vprop:query>userLastName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userLastName">
        <vprop:query>userLastName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userLastName">
        <vprop:query>userLastName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userName property on each receiving message -->
  <vprop:property name="userName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userName">
        <vprop:query>userName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userName">
        <vprop:query>userName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userName">
        <vprop:query>userName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userName">
        <vprop:query>userName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userName">
        <vprop:query>userName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userOrganization property on each receiving message -->
  <vprop:property name="userOrganization" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userOrganization">
        <vprop:query>userOrganization</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userOrganization">
        <vprop:query>userOrganization</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userOrganization">
        <vprop:query>userOrganization</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userOrganization">
        <vprop:query>userOrganization</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userOrganization">
        <vprop:query>userOrganization</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userRoleCode property on each receiving message -->
  <vprop:property name="userRoleCode" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCode">
        <vprop:query>userRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCode">
        <vprop:query>userRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCode">
        <vprop:query>userRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCode">
        <vprop:query>userRoleCode</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCode">
        <vprop:query>userRoleCode</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userRoleCodeSystem property on each receiving message -->
  <vprop:property name="userRoleCodeSystem" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystem">
        <vprop:query>userRoleCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystem">
        <vprop:query>userRoleCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystem">
        <vprop:query>userRoleCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystem">
        <vprop:query>userRoleCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystem">
        <vprop:query>userRoleCodeSystem</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userRoleCodeSystemName property on each receiving message -->
  <vprop:property name="userRoleCodeSystemName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystemName">
        <vprop:query>userRoleCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystemName">
        <vprop:query>userRoleCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystemName">
        <vprop:query>userRoleCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystemName">
        <vprop:query>userRoleCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeSystemName">
        <vprop:query>userRoleCodeSystemName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define userRoleCodeDisplayName property on each receiving message -->
  <vprop:property name="userRoleCodeDisplayName" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeDisplayName">
        <vprop:query>userRoleCodeDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeDisplayName">
        <vprop:query>userRoleCodeDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeDisplayName">
        <vprop:query>userRoleCodeDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeDisplayName">
        <vprop:query>userRoleCodeDisplayName</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:userRoleCodeDisplayName">
        <vprop:query>userRoleCodeDisplayName</vprop:query>
  </vprop:propertyAlias>
  <!-- Define expirationDate property on each receiving message -->
  <vprop:property name="expirationDate" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:expirationDate">
        <vprop:query>expirationDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:expirationDate">
        <vprop:query>expirationDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:expirationDate">
        <vprop:query>expirationDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:expirationDate">
        <vprop:query>expirationDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:expirationDate">
        <vprop:query>expirationDate</vprop:query>
  </vprop:propertyAlias>
  <!-- Define signDate property on each receiving message -->
  <vprop:property name="signDate" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:signDate">
        <vprop:query>signDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:signDate">
        <vprop:query>signDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:signDate">
        <vprop:query>signDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:signDate">
        <vprop:query>signDate</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:signDate">
        <vprop:query>signDate</vprop:query>
  </vprop:propertyAlias>
  <!-- Define contentReference property on each receiving message -->
  <vprop:property name="contentReference" type="xsd:string"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:contentReference">
        <vprop:query>contentReference</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:contentReference">
        <vprop:query>contentReference</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:contentReference">
        <vprop:query>contentReference</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:contentReference">
        <vprop:query>contentReference</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:contentReference">
        <vprop:query>contentReference</vprop:query>
  </vprop:propertyAlias>
  <!-- Define content property on each receiving message -->
  <vprop:property name="content" type="xsd:base64Binary"/>
  <vprop:propertyAlias messageType="tns:PRPA_IN201301UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:content">
        <vprop:query>content</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201302UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:content">
        <vprop:query>content</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201303UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:content">
        <vprop:query>content</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201304UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:content">
        <vprop:query>content</vprop:query>
  </vprop:propertyAlias>
  <vprop:propertyAlias messageType="tns:PRPA_IN201309UV_Message" part="Body"
     sxnmp:nmProperty="org.glassfish.openesb.outbound.custom.properties" 
     propertyName="tns:content">
        <vprop:query>content</vprop:query>
  </vprop:propertyAlias>
  <wsp:Policy wsu:Id="PIXConsumer_Binding_SoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
        <sc:KeyStore wspp:visibility="private" 
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector" 
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
        <sc:TrustStore wspp:visibility="private" 
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:RequireClientCertificate/>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:SamlToken 
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV20Token11/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
            <sp:RequireSignatureConfirmation/>
          </wsp:Policy>
        </sp:Wss11>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>
