Product/Production/Adapters/Framework/AdapterCommonDataLayerEJB/src/main/resources/wsdl/DODConnector/DODConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:adapter:commondatalayer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hl7="urn:hl7-org:v3" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="CommonDataLayerService" targetNamespace="urn:gov:hhs:fha:nhinc:adapter:commondatalayer">
	<wsdl:documentation>
     WSDL for Common Data Layer Service Consumer, receiving request for data
  </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:adapter:commondatalayer">
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/nhinc/hl7/HL7CommonDataLayerMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
    <wsdl:message name="GetProviderInfoResponse">
        <wsdl:part name="output" element="hl7:PatientDemographics_PRPA_MT201303UV02Response"/>
    </wsdl:message>
    <wsdl:message name="GetProviderInfoRequest">
        <wsdl:part name="param0" element="hl7:PatientDemographics_PRPA_IN201307UV02Request"/>
    </wsdl:message>
	<wsdl:message name="GetEncountersRequest">
		<wsdl:part name="param0" element="hl7:FindEncounters_PRPA_IN900300UV02Request"/>
	</wsdl:message>
	<wsdl:message name="GetEncountersResponse">
		<wsdl:part name="output" element="hl7:FindEncounters_PRPA_MT900350UV02Response"/>
	</wsdl:message>
	<wsdl:message name="GetProceduresRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01ProceduresRequest"/>
	</wsdl:message>
	<wsdl:message name="GetProceduresResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetMedicationsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01MedicationsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMedicationsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetAllergiesRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01AllergiesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetAllergiesResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetVitalsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01VitalsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetVitalsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetProblemsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01ProblemsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetProblemsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetTestResultsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01TestResultsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetTestResultsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetAdmissionsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01AppointmentsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetAdmissionsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetAppointmentsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01AppointmentsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetAppointmentsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetImmunizationsRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01ImmunizationsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetImmunizationsResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetFamilyHistoryRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01FamilyHistoryRequest"/>
	</wsdl:message>
	<wsdl:message name="GetFamilyHistoryResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetSocialHistoryRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01SocialHistoryRequest"/>
	</wsdl:message>
	<wsdl:message name="GetSocialHistoryResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetInsurancesRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01Request"/>
	</wsdl:message>
	<wsdl:message name="GetInsurancesResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetOrdersRequest">
		<wsdl:part name="param0" element="hl7:CareRecord_QUPC_IN043100UV01OrdersRequest"/>
	</wsdl:message>
	<wsdl:message name="GetOrdersResponse">
		<wsdl:part name="output" element="hl7:CareRecord_QUPC_IN043200UV01Response"/>
	</wsdl:message>
	<wsdl:message name="GetPatienInfoRequest">
		<wsdl:part name="param0" element="hl7:PatientDemographics_PRPA_IN201307UV02Request"/>
	</wsdl:message>
	<wsdl:message name="GetPatienInfoResponse">
		<wsdl:part name="output" element="hl7:PatientDemographics_PRPA_MT201303UV02Response"/>
	</wsdl:message>
	<wsdl:message name="FindPatientsRequest">
		<wsdl:part name="param0" element="hl7:FindPatients_PRPA_IN201305UV02Request"/>
	</wsdl:message>
	<wsdl:message name="FindPatientsResponse">
		<wsdl:part name="output" element="hl7:FindPatients_PRPA_MT201310UV02Response"/>
	</wsdl:message>
	<wsdl:portType name="DODConnectorPortType">
         <wsdl:operation name="GetProviderInfo">
			<wsdl:input message="tns:GetPatienInfoRequest"/>
			<wsdl:output message="tns:GetPatienInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetEncounters">
			<wsdl:input message="tns:GetEncountersRequest"/>
			<wsdl:output message="tns:GetEncountersResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetProcedures">
			<wsdl:input message="tns:GetProceduresRequest"/>
			<wsdl:output message="tns:GetProceduresResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetMedications">
			<wsdl:input message="tns:GetMedicationsRequest"/>
			<wsdl:output message="tns:GetMedicationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllergies">
			<wsdl:input message="tns:GetAllergiesRequest"/>
			<wsdl:output message="tns:GetAllergiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetVitals">
			<wsdl:input message="tns:GetVitalsRequest"/>
			<wsdl:output message="tns:GetVitalsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetProblems">
			<wsdl:input message="tns:GetProblemsRequest"/>
			<wsdl:output message="tns:GetProblemsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetTestResults">
			<wsdl:input message="tns:GetTestResultsRequest"/>
			<wsdl:output message="tns:GetTestResultsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetAdmissions">
			<wsdl:input message="tns:GetAdmissionsRequest"/>
			<wsdl:output message="tns:GetAdmissionsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetAppointments">
			<wsdl:input message="tns:GetAppointmentsRequest"/>
			<wsdl:output message="tns:GetAppointmentsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetImmunizations">
			<wsdl:input message="tns:GetImmunizationsRequest"/>
			<wsdl:output message="tns:GetImmunizationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetFamilyHistory">
			<wsdl:input message="tns:GetFamilyHistoryRequest"/>
			<wsdl:output message="tns:GetFamilyHistoryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetSocialHistory">
			<wsdl:input message="tns:GetSocialHistoryRequest"/>
			<wsdl:output message="tns:GetSocialHistoryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetInsurances">
			<wsdl:input message="tns:GetInsurancesRequest"/>
			<wsdl:output message="tns:GetInsurancesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetOrders">
			<wsdl:input message="tns:GetOrdersRequest"/>
			<wsdl:output message="tns:GetOrdersResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetPatienInfo">
			<wsdl:input message="tns:GetPatienInfoRequest"/>
			<wsdl:output message="tns:GetPatienInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FindPatients">
			<wsdl:input message="tns:FindPatientsRequest"/>
			<wsdl:output message="tns:FindPatientsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DODConnectorPortTypeBinding" type="tns:DODConnectorPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetEncounters">
			<soap:operation soapAction="urn:GetEncounters" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProcedures">
			<soap:operation soapAction="urn:Procedures" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMedications">
			<soap:operation soapAction="urn:Medications" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllergies">
			<soap:operation soapAction="urn:Allergies" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetVitals">
			<soap:operation soapAction="urn:Vitals" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProblems">
			<soap:operation soapAction="urn:Problems" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTestResults">
			<soap:operation soapAction="urn:TestResults" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAdmissions">
			<soap:operation soapAction="urn:Admissions" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAppointments">
			<soap:operation soapAction="urn:Appointments" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetImmunizations">
			<soap:operation soapAction="urn:Immunizations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFamilyHistory">
			<soap:operation soapAction="urn:FamilyHistory" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSocialHistory">
			<soap:operation soapAction="urn:SocialHistory" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInsurances">
			<soap:operation soapAction="urn:Insurances" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrders">
			<soap:operation soapAction="urn:Orders" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPatienInfo">
			<soap:operation soapAction="urn:GetPatienInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindPatients">
			<soap:operation soapAction="urn:FindPatients" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="GetProviderInfo">
			<soap:operation soapAction="urn:GetProviderInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DODConnectorService">
		<wsdl:port name="CommonDataLayerPort" binding="tns:DODConnectorPortTypeBinding">
			<soap:address location="http://localhost:${HttpDefaultPort}/DODConnector/DODConnectorService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
