Product/Production/Gateway/HIEM_20/src/main/resources/xml-resources/web-services/GatewaySubscriptionReferenceRepository/wsdl/NhincComponentSubscriptionReferenceRepository.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentSubscriptionReferenceRepository" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentsubscriptionreferencerepository"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentsubscriptionreferencerepository" 
    xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentsubscriptionreferencerepository">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscription" schemaLocation="../schemas/nhinc/common/Subscription.xsd"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="../schemas/nhinc/common/NhincCommon.xsd"/>
        </xsd:schema>
    </types>
    <message name="StoreSubscriptionReferenceRequest">
        <part name="SubscriptionItem" element="ncsub:SubscriptionItem"/>
    </message>
    <message name="StoreSubscriptionReferenceResponse">
        <part name="SubscriptionReference" element="ncsub:SubscriptionReference"/>
    </message>
    <message name="DeleteSubscriptionReferenceRequest">
        <part name="DeleteSubscriptionMessage" element="ncsub:DeleteSubscriptionMessageRequest"/>
    </message>
    <message name="DeleteSubscriptionReferenceResponse">
        <part name="Acknowledgement" element="nccommon:Acknowledgement"/>
    </message>
    <message name="RetrieveByCriteriaRequest">
        <part name="SubscriptionCriteria" element="ncsub:SubscriptionCriteria"/>
    </message>
    <message name="RetrieveByCriteriaResponse">
        <part name="SubscriptionItems" element="ncsub:SubscriptionItems"/>
    </message>
    <message name="RetrieveBySubscriptionReferenceRequest">
        <part name="RetrieveBySubscriptionReferenceMessage" element="ncsub:RetrieveBySubscriptionReferenceRequestMessage"/>
    </message>
    <message name="RetrieveBySubscriptionReferenceResponse">
        <part name="SubscriptionItem" element="ncsub:SubscriptionItem"/>
    </message>
    <message name="RetrieveByParentSubscriptionReferenceRequest">
        <part name="RetrieveByParentSubscriptionReferenceMessage" element="ncsub:RetrieveByParentSubscriptionReferenceMessage"/>
    </message>
    <message name="RetrieveByParentSubscriptionReferenceResponse">
        <part name="SubscriptionItems" element="ncsub:SubscriptionItems"/>
    </message>
    <portType name="NhincComponentSubscriptionReferenceRepositoryPortType">
        <operation name="StoreSubscriptionReference">
            <input name="StoreSubscriptionReferenceRequest" message="tns:StoreSubscriptionReferenceRequest"/>
            <output name="StoreSubscriptionReferenceResponse" message="tns:StoreSubscriptionReferenceResponse"/>
        </operation>
        <operation name="DeleteSubscriptionReference">
            <input name="DeleteSubscriptionReferenceRequest" message="tns:DeleteSubscriptionReferenceRequest"/>
            <output name="DeleteSubscriptionReferenceResponse" message="tns:DeleteSubscriptionReferenceResponse"/>
        </operation>
        <operation name="RetrieveByCriteria">
            <input name="RetrieveByCriteriaRequest" message="tns:RetrieveByCriteriaRequest"/>
            <output name="RetrieveByCriteriaResponse" message="tns:RetrieveByCriteriaResponse"/>
        </operation>
        <operation name="RetrieveBySubscriptionReference">
            <input name="RetrieveBySubscriptionReferenceRequest" message="tns:RetrieveBySubscriptionReferenceRequest"/>
            <output name="RetrieveBySubscriptionReferenceResponse" message="tns:RetrieveBySubscriptionReferenceResponse"/>
        </operation>
        <operation name="RetrieveByParentSubscriptionReference">
            <input name="RetrieveByParentSubscriptionReferenceRequest" message="tns:RetrieveByParentSubscriptionReferenceRequest"/>
            <output name="RetrieveByParentSubscriptionReferenceResponse" message="tns:RetrieveByParentSubscriptionReferenceResponse"/>
        </operation>
    </portType>
    <binding name="NhincComponentSubscriptionReferenceRepositoryBinding" type="tns:NhincComponentSubscriptionReferenceRepositoryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StoreSubscriptionReference">
            <soap:operation soapAction="urn:StoreSubscriptionReference"/>
            <input name="StoreSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="StoreSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteSubscriptionReference">
            <soap:operation soapAction="urn:DeleteSubscriptionReference"/>
            <input name="DeleteSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeleteSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RetrieveByCriteria">
            <soap:operation soapAction="urn:RetrieveByCriteria"/>
            <input name="RetrieveByCriteriaRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveByCriteriaResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RetrieveBySubscriptionReference">
            <soap:operation soapAction="urn:RetrieveBySubscriptionReference"/>
            <input name="RetrieveBySubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveBySubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RetrieveByParentSubscriptionReference">
            <soap:operation soapAction="urn:RetrieveByParentSubscriptionReference"/>
            <input name="RetrieveByParentSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveByParentSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentSubscriptionReferenceRepositoryService">
        <port name="NhincComponentSubscriptionReferenceRepositoryPortTypeBindingPort" binding="tns:NhincComponentSubscriptionReferenceRepositoryBinding">
            <soap:address location="http://localhost:${NhincHttpPort}/NhinConnect/NhincComponentSubscriptionReferenceRepository"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentSubscriptionReferenceRepository">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentSubscriptionReferenceRepositoryPortTypeRole" portType="tns:NhincComponentSubscriptionReferenceRepositoryPortType"/>
    </plnk:partnerLinkType>
</definitions>
