Product/Production/Adapters/UniversalClient/UniversalClientGUI/DocViewerRequestServicesService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.universalclient.nhinc.fha.hhs.gov/" xmlns:tns="http://ws.universalclient.nhinc.fha.hhs.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getNHINRequestStatus" type="tns:getNHINRequestStatus"/>

  <xs:element name="getNHINRequestStatusResponse" type="tns:getNHINRequestStatusResponse"/>

  <xs:element name="requestAllNHINDocuments" type="tns:requestAllNHINDocuments"/>

  <xs:element name="requestAllNHINDocumentsResponse" type="tns:requestAllNHINDocumentsResponse"/>

  <xs:complexType name="requestAllNHINDocuments">
    <xs:sequence>
      <xs:element name="arg0" type="tns:docViewerRequestType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docViewerRequestType">
    <xs:sequence>
      <xs:element name="adhocqueryrequest" type="tns:adhocQueryRequest" minOccurs="0"/>
      <xs:element name="assertion" type="tns:assertionType" minOccurs="0"/>
      <xs:element name="homeCommunityId" type="xs:string" minOccurs="0"/>
      <xs:element name="patientId" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="adhocQueryRequest">
    <xs:complexContent>
      <xs:extension base="tns:registryRequestType">
        <xs:sequence>
          <xs:element name="adhocQuery" type="tns:adhocQueryType" minOccurs="0"/>
          <xs:element name="federation" type="xs:string" minOccurs="0"/>
          <xs:element name="maxResults" type="xs:integer" minOccurs="0"/>
          <xs:element name="responseOption" type="tns:responseOptionType" minOccurs="0"/>
          <xs:element name="startIndex" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="registryRequestType">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="requestSlotList" type="tns:slotListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="adhocQueryType">
    <xs:complexContent>
      <xs:extension base="tns:registryObjectType">
        <xs:sequence>
          <xs:element name="queryExpression" type="tns:queryExpressionType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="registryObjectType">
    <xs:complexContent>
      <xs:extension base="tns:identifiableType">
        <xs:sequence>
          <xs:element name="description" type="tns:internationalStringType" minOccurs="0"/>
          <xs:element name="lid" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="tns:internationalStringType" minOccurs="0"/>
          <xs:element name="objectType" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="versionInfo" type="tns:versionInfoType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="identifiableType">
    <xs:sequence>
      <xs:element name="home" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="queryExpressionType">
    <xs:sequence>
      <xs:element name="queryLanguage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="internationalStringType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="versionInfoType">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="versionName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseOptionType">
    <xs:sequence>
      <xs:element name="returnType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="slotListType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="assertionType">
    <xs:sequence>
      <xs:element name="address" type="tns:addressType" minOccurs="0"/>
      <xs:element name="authorized" type="xs:boolean"/>
      <xs:element name="claimFormRaw" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="claimFormRef" type="xs:string" minOccurs="0"/>
      <xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
      <xs:element name="dateOfSignature" type="xs:string" minOccurs="0"/>
      <xs:element name="expirationDate" type="xs:string" minOccurs="0"/>
      <xs:element name="explanationNonClaimantSignature" type="xs:string" minOccurs="0"/>
      <xs:element name="haveSecondWitnessSignature" type="xs:boolean"/>
      <xs:element name="haveSignature" type="xs:boolean"/>
      <xs:element name="haveWitnessSignature" type="xs:boolean"/>
      <xs:element name="homeCommunity" type="tns:homeCommunityType" minOccurs="0"/>
      <xs:element name="personName" type="tns:personNameType" minOccurs="0"/>
      <xs:element name="phoneNumber" type="tns:phoneType" minOccurs="0"/>
      <xs:element name="purposeOfDisclosure" type="xs:string" minOccurs="0"/>
      <xs:element name="purposeOfDisclosureCoded" type="tns:ceType" minOccurs="0"/>
      <xs:element name="SSN" type="xs:string" minOccurs="0"/>
      <xs:element name="secondWitnessAddress" type="tns:addressType" minOccurs="0"/>
      <xs:element name="secondWitnessName" type="tns:personNameType" minOccurs="0"/>
      <xs:element name="secondWitnessPhone" type="tns:phoneType" minOccurs="0"/>
      <xs:element name="userInfo" type="tns:userType" minOccurs="0"/>
      <xs:element name="witnessAddress" type="tns:addressType" minOccurs="0"/>
      <xs:element name="witnessName" type="tns:personNameType" minOccurs="0"/>
      <xs:element name="witnessPhone" type="tns:phoneType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="addressType" type="tns:ceType" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ceType">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="originalText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="homeCommunityType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="homeCommunityId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personNameType">
    <xs:sequence>
      <xs:element name="familyName" type="xs:string" minOccurs="0"/>
      <xs:element name="givenName" type="xs:string" minOccurs="0"/>
      <xs:element name="nameType" type="tns:ceType" minOccurs="0"/>
      <xs:element name="secondNameOrInitials" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneType">
    <xs:sequence>
      <xs:element name="areaCode" type="xs:string" minOccurs="0"/>
      <xs:element name="countryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="extension" type="xs:string" minOccurs="0"/>
      <xs:element name="localNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumberType" type="tns:ceType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="org" type="tns:homeCommunityType" minOccurs="0"/>
      <xs:element name="personName" type="tns:personNameType" minOccurs="0"/>
      <xs:element name="role" type="xs:string" minOccurs="0"/>
      <xs:element name="roleCoded" type="tns:ceType" minOccurs="0"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestAllNHINDocumentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:docViewerResponseType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docViewerResponseType">
    <xs:sequence>
      <xs:element name="statusCode" type="xs:int"/>
      <xs:element name="statusDesc" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNHINRequestStatus">
    <xs:sequence>
      <xs:element name="arg0" type="tns:docViewerStatusRequestType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docViewerStatusRequestType">
    <xs:sequence>
      <xs:element name="patientId" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNHINRequestStatusResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:docViewerStatusResponseType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docViewerStatusResponseType">
    <xs:sequence>
      <xs:element name="displayObjects" type="tns:retrievedDocumentDisplayObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retrievedDocumentDisplayObject">
    <xs:sequence>
      <xs:element name="availableInLocalStore" type="xs:boolean"/>
      <xs:element name="creationDate" type="xs:string" minOccurs="0"/>
      <xs:element name="documentStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="documentType" type="xs:string" minOccurs="0"/>
      <xs:element name="hasBeenAccessed" type="xs:boolean"/>
      <xs:element name="orgId" type="xs:string" minOccurs="0"/>
      <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
      <xs:element name="patientId" type="xs:string" minOccurs="0"/>
      <xs:element name="repositoryId" type="xs:string" minOccurs="0"/>
      <xs:element name="requestingUser" type="xs:string" minOccurs="0"/>
      <xs:element name="selected" type="xs:boolean"/>
      <xs:element name="uniqueDocumentId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

