Product/Production/Gateway/NhinInterfaceTestWeb/src/main/resources/xml-resources/web-services/SubjectDiscovery/wsdl/NhinSubjectDiscovery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PIXConsumer" targetNamespace="urn:ihe:iti:pixv3:2007"
   xmlns:tns="urn:ihe:iti:pixv3:2007" 
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3"
   xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
  <wsdl:documentation>
     Example WSDL for PIX Consumer, receiving update notifications
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201301UV02.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201302UV02.xsd"/>
    </xsd:schema>

    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201304UV02.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201309UV02.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201310UV02.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
      <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata"
                xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata">
      <!-- Include schema defining the Saml Token Data -->
      <xsd:include schemaLocation="../schemas/nhinc/gateway/SamlTokenData.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PRPA_IN201301UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201301UV02"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201302UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201302UV02"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201304UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201304UV02"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201309UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201309UV02"/>
  </wsdl:message>
  <wsdl:message name="PRPA_IN201310UV_Message">
    <wsdl:part name="Body" element="hl7:PRPA_IN201310UV02"/>
  </wsdl:message>
  <wsdl:message name="MCCI_IN000002UV01_Message">
    <wsdl:part name="Body" element="hl7:MCCI_IN000002UV01"/>
  </wsdl:message>
  <wsdl:portType name="PIXConsumer_PortType">
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <wsdl:input message="tns:PRPA_IN201301UV_Message"
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message"
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <wsdl:input message="tns:PRPA_IN201302UV_Message"
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message"
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <wsdl:input message="tns:PRPA_IN201304UV_Message"
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV"/>
      <wsdl:output message="tns:MCCI_IN000002UV01_Message"
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <wsdl:input message="tns:PRPA_IN201309UV_Message"
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201309UV"/>
      <wsdl:output message="tns:PRPA_IN201310UV_Message"
                   wsaw:Action="urn:hl7-org:v3:PRPA_IN201310UV"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PIXConsumer_Binding_Soap" type="tns:PIXConsumer_PortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#PIXConsumer_Binding_SoapPolicy"/>
    <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201309UV"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <wsp:PolicyReference
             URI="#PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PIXConsumer_Service">
    <wsdl:port name="PIXConsumer_Port_Soap" binding="tns:PIXConsumer_Binding_Soap">
      <soap12:address location="https://localhost:${HttpsDefaultPort}/PIXConsumer_Soap"/>
    </wsdl:port>
  </wsdl:service>

  <wsp:Policy wsu:Id="PIXConsumer_Binding_SoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
        <sc:KeyStore wspp:visibility="private"
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector"
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
        <sc:TrustStore wspp:visibility="private"
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:RequireClientCertificate/>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens>
          <wsp:Policy>
            <sp:SamlToken
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV20Token11/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
            <sp:RequireSignatureConfirmation/>
          </wsp:Policy>
        </sp:Wss11>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_PIXConsumer_PRPA_IN201301UV_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
            </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>

