Product/Production/Adapters/Framework/NHINAdapterServiceEJB/src/main/resources/wsdl/schemas/ebRS/query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Header: /cvsroot/ebxmlrr/ebxmlrr-spec/misc/3.0/schema/query.xsd,v 1.13 2005/03/29 08:52:10 farrukh_najmi Exp $ -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Import the rim.xsd file with XML schema mappaing from RIM -->
	<import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="rim.xsd"/>
	<import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="rs.xsd"/>
	<complexType name="ResponseOptionType">
		<attribute name="returnType" default="RegistryObject">
			<simpleType>
				<restriction base="NCName">
					<enumeration value="ObjectRef"/>
					<enumeration value="RegistryObject"/>
					<enumeration value="LeafClass"/>
					<enumeration value="LeafClassWithRepositoryItem"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="returnComposedObjects" type="boolean" default="false"/>
	</complexType>
	<element name="ResponseOption" type="tns:ResponseOptionType"/>
	<element name="AdhocQueryRequest">
		<annotation>
			<documentation xml:lang="en">An Ad hoc query request specifies an ad hoc query.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="rs:RegistryRequestType">
					<sequence>
						<element ref="tns:ResponseOption" minOccurs="1" maxOccurs="1"/>
						<element ref="rim:AdhocQuery"/>
						<element name="RepositoryUniqueType" type="rim:LongName">
                                <annotation>
                                    <documentation>This identifies which repository the doc belongs in</documentation>
                                </annotation>
                            </element>
					</sequence>
					<attribute name="federated" type="boolean" use="optional" default="false"/>
					<attribute name="federation" type="anyURI" use="optional"/>
					<attribute name="startIndex" type="integer" default="0"/>
					<attribute name="maxResults" type="integer" default="-1"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="AdhocQueryResponse">
		<annotation>
			<documentation xml:lang="en">
        The response includes a RegistryObjectList which has zero or more
        RegistryObjects that match the query specified in AdhocQueryRequest.
      </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="rs:RegistryResponseType">
					<sequence>
						<element ref="rim:RegistryObjectList"/>
					</sequence>
					<attribute name="startIndex" type="integer" default="0"/>
					<attribute name="totalResultCount" type="integer" use="optional"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="FilterQueryType" abstract="true">
		<sequence>
			<element name="PrimaryFilter" type="tns:FilterType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="BranchType" abstract="true">
		<complexContent>
			<extension base="tns:FilterQueryType"/>
		</complexContent>
	</complexType>
	<complexType name="InternationalStringBranchType">
		<complexContent>
			<extension base="tns:BranchType">
				<sequence>
					<element name="LocalizedStringFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlotBranchType">
		<complexContent>
			<extension base="tns:BranchType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RegistryObjectQueryType">
		<complexContent>
			<extension base="tns:FilterQueryType">
				<sequence>
					<element name="SlotBranch" type="tns:SlotBranchType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="NameBranch" type="tns:InternationalStringBranchType" minOccurs="0" maxOccurs="1"/>
					<element name="DescriptionBranch" type="tns:InternationalStringBranchType" minOccurs="0" maxOccurs="1"/>
					<element name="VersionInfoFilter" type="tns:FilterType" minOccurs="0" maxOccurs="1"/>
					<element ref="tns:ClassificationQuery" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="tns:ExternalIdentifierQuery" minOccurs="0" maxOccurs="unbounded"/>
					<element name="ObjectTypeQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="StatusQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="SourceAssociationQuery" type="tns:AssociationQueryType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="TargetAssociationQuery" type="tns:AssociationQueryType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="RegistryObjectQuery" type="tns:RegistryObjectQueryType"/>
	<complexType name="AssociationQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="AssociationTypeQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="SourceObjectQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="TargetObjectQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AssociationQuery" type="tns:AssociationQueryType"/>
	<complexType name="AuditableEventQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="AffectedObjectQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="EventTypeQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="UserQuery" type="tns:UserQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AuditableEventQuery" type="tns:AuditableEventQueryType"/>
	<complexType name="ClassificationQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element ref="tns:ClassificationSchemeQuery" minOccurs="0" maxOccurs="1"/>
					<element name="ClassifiedObjectQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="1"/>
					<element ref="tns:ClassificationNodeQuery" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ClassificationQuery" type="tns:ClassificationQueryType"/>
	<complexType name="ClassificationNodeQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="ParentQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="ChildrenQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ClassificationNodeQuery" type="tns:ClassificationNodeQueryType"/>
	<complexType name="ClassificationSchemeQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="ChildrenQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="NodeTypeQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ClassificationSchemeQuery" type="tns:ClassificationSchemeQueryType"/>
	<complexType name="ExternalIdentifierQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element ref="tns:RegistryObjectQuery" minOccurs="0" maxOccurs="1"/>
					<element name="IdentificationSchemeQuery" type="tns:ClassificationSchemeQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ExternalIdentifierQuery" type="tns:ExternalIdentifierQueryType"/>
	<complexType name="ExternalLinkQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<element name="ExternalLinkQuery" type="tns:ExternalLinkQueryType"/>
	<complexType name="ExtrinsicObjectQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="ContentVersionInfoFilter" type="tns:FilterType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ExtrinsicObjectQuery" type="tns:ExtrinsicObjectQueryType"/>
	<complexType name="OrganizationQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="AddressFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="TelephoneNumberFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="EmailAddressFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="ParentQuery" type="tns:OrganizationQueryType" minOccurs="0" maxOccurs="1"/>
					<element name="ChildOrganizationQuery" type="tns:OrganizationQueryType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="PrimaryContactQuery" type="tns:PersonQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="OrganizationQuery" type="tns:OrganizationQueryType"/>
	<complexType name="RegistryPackageQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType"/>
		</complexContent>
	</complexType>
	<element name="RegistryPackageQuery" type="tns:RegistryPackageQueryType"/>
	<complexType name="ServiceQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element ref="tns:ServiceBindingQuery" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ServiceQuery" type="tns:ServiceQueryType"/>
	<complexType name="ServiceBindingQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element ref="tns:ServiceQuery" minOccurs="0" maxOccurs="1"/>
					<element ref="tns:SpecificationLinkQuery" minOccurs="0" maxOccurs="unbounded"/>
					<element name="TargetBindingQuery" type="tns:ServiceBindingQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ServiceBindingQuery" type="tns:ServiceBindingQueryType"/>
	<complexType name="SpecificationLinkQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="UsageDescriptionBranch" type="tns:InternationalStringBranchType" minOccurs="0" maxOccurs="1"/>
					<element ref="tns:ServiceBindingQuery" minOccurs="0" maxOccurs="1"/>
					<element name="SpecificationObjectQuery" type="tns:RegistryObjectQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SpecificationLinkQuery" type="tns:SpecificationLinkQueryType"/>
	<complexType name="PersonQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="AddressFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="PersonNameFilter" type="tns:FilterType" minOccurs="0" maxOccurs="1"/>
					<element name="TelephoneNumberFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="EmailAddressFilter" type="tns:FilterType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PersonQuery" type="tns:PersonQueryType"/>
	<complexType name="UserQueryType">
		<complexContent>
			<extension base="tns:PersonQueryType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<element name="UserQuery" type="tns:UserQueryType"/>
	<complexType name="RegistryQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="OperatorQuery" type="tns:OrganizationQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="RegistryQuery" type="tns:RegistryQueryType"/>
	<complexType name="FederationQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<element name="FederationQuery" type="tns:FederationQueryType"/>
	<complexType name="AdhocQueryQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="QueryExpressionBranch" type="tns:QueryExpressionBranchType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AdhocQueryQuery" type="tns:AdhocQueryQueryType"/>
	<complexType name="QueryExpressionBranchType">
		<complexContent>
			<extension base="tns:BranchType">
				<sequence>
					<element name="QueryLanguageQuery" type="tns:ClassificationNodeQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NotificationQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element ref="tns:RegistryObjectQuery" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="NotificationQuery" type="tns:NotificationQueryType"/>
	<complexType name="SubscriptionQueryType">
		<complexContent>
			<extension base="tns:RegistryObjectQueryType">
				<sequence>
					<element name="SelectorQuery" type="tns:AdhocQueryQueryType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SubscriptionQuery" type="tns:SubscriptionQueryType"/>
	<!-- The Filter type hierarchy -->
	<complexType name="FilterType">
		<attribute name="negate" type="boolean" default="false"/>
	</complexType>
	<element name="Filter" type="tns:FilterType" abstract="true"/>
	<complexType name="CompoundFilterType">
		<complexContent>
			<extension base="tns:FilterType">
				<sequence>
					<element name="LeftFilter" type="tns:FilterType" minOccurs="1" maxOccurs="1"/>
					<element name="RightFilter" type="tns:FilterType" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute name="logicalOperator" use="required">
					<simpleType>
						<restriction base="NCName">
							<enumeration value="AND"/>
							<enumeration value="OR"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="CompoundFilter" type="tns:CompoundFilterType"/>
	<complexType name="SimpleFilterType" abstract="true">
		<complexContent>
			<extension base="tns:FilterType">
				<attribute name="domainAttribute" type="string" use="required"/>
				<attribute name="comparator" use="required">
					<simpleType>
						<restriction base="NCName">
							<enumeration value="LE"/>
							<enumeration value="LT"/>
							<enumeration value="GE"/>
							<enumeration value="GT"/>
							<enumeration value="EQ"/>
							<enumeration value="NE"/>
							<enumeration value="Like"/>
							<enumeration value="NotLike"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BooleanFilterType">
		<complexContent>
			<extension base="tns:SimpleFilterType">
				<attribute name="value" type="boolean" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="BooleanFilter" type="tns:BooleanFilterType"/>
	<complexType name="IntegerFilterType">
		<complexContent>
			<extension base="tns:SimpleFilterType">
				<attribute name="value" type="integer" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="IntegerFilter" type="tns:IntegerFilterType"/>
	<complexType name="FloatFilterType">
		<complexContent>
			<extension base="tns:SimpleFilterType">
				<attribute name="value" type="float" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="FloatFilter" type="tns:FloatFilterType"/>
	<complexType name="DateTimeFilterType">
		<complexContent>
			<extension base="tns:SimpleFilterType">
				<attribute name="value" type="dateTime" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="DateTimeFilter" type="tns:DateTimeFilterType"/>
	<complexType name="StringFilterType">
		<complexContent>
			<extension base="tns:SimpleFilterType">
				<attribute name="value" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="StringFilter" type="tns:StringFilterType"/>
</schema>
