Product/Production/Adapters/General/CONNECTAdapterWeb/src/main/resources/xml-resources/web-service-references/EntitySubjectDiscoverySecured/wsdl/EntitySubjectDiscoverySecured.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:entitysubjectdiscoverysecured"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3"
   xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   name="EntitySubjectDiscoverySecured"
   targetNamespace="urn:gov:hhs:fha:nhinc:entitysubjectdiscoverysecured">
    <wsdl:documentation>
     WSDL for Entity interface of Subject Discovery
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/nhinc/hl7/HL7PatientDiscoveryMessages.xsd"/>
            <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
            <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201310UV02.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
                targetNamespace="urn:gov:hhs:fha:nhinc:gateway:samltokendata"
                xmlns:samlData="urn:gov:hhs:fha:nhinc:gateway:samltokendata">
      <!-- Include schema defining the Saml Token Data -->
            <xsd:include schemaLocation="../schemas/nhinc/gateway/SamlTokenData.xsd"/>
        </xsd:schema>

    </wsdl:types>
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVRequestMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201301UVSecuredRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVResponseMessage">
        <wsdl:part name="Body"
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>

    <wsdl:message name="PIXConsumer_PRPA_IN201302UVRequestMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201302UVSecuredRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201302UVResponseMessage">
        <wsdl:part name="Body"
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>

    <!--<wsdl:message name="PIXConsumer_PRPA_IN201303UVRequestMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201303UVSecuredRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201303UVResponseMessage">
        <wsdl:part name="Body"
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>-->

    <wsdl:message name="PIXConsumer_PRPA_IN201304UVRequestMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201304UVSecuredRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201304UVResponseMessage">
        <wsdl:part name="Body"
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>

    <wsdl:message name="PIXConsumer_PRPA_IN201309UVRequestMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201309UVSecuredRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201309UVResponseMessage">
        <wsdl:part name="Body"
               element="hl7:PIXConsumer_PRPA_IN201309UVResponse"/>
    </wsdl:message>

    <wsdl:portType name="EntitySubjectDiscoverySecuredPortType">
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201301UVRequestMessage"
                  wsaw:Action="hl7:PIXConsumer_PRPA_IN201301UVSecuredRequest"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201301UVResponseMessage"
                   wsaw:Action="hl7:MCCI_IN000002UV01"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201302UVRequestMessage"
                  wsaw:Action="hl7:PIXConsumer_PRPA_IN201302UVSecuredRequest"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201302UVResponseMessage"
                   wsaw:Action="hl7:MCCI_IN000002UV01"/>
        </wsdl:operation>
  <!--      <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201303UVRequestMessage"
                  wsaw:Action="hl7:PIXConsumer_PRPA_IN201303UVSecuredRequest"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201303UVResponseMessage"
                   wsaw:Action="hl7:MCCI_IN000002UV01"/>
        </wsdl:operation>-->
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201304UVRequestMessage"
                  wsaw:Action="hl7:PIXConsumer_PRPA_IN201304UVSecuredRequest"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201304UVResponseMessage"
                   wsaw:Action="hl7:MCCI_IN000002UV01"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201309UVRequestMessage"
                  wsaw:Action="hl7:PIXConsumer_PRPA_IN201309UVSecuredRequest"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201309UVResponseMessage"
                   wsaw:Action="hl7:MCCI_IN000002UV01"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EntitySubjectDiscoverySecuredBindingSoap12"
                type="tns:EntitySubjectDiscoverySecuredPortType">
        <soap12:binding style="document"
                     transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#PIXConsumer_Binding_SoapPolicy"/>
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <soap12:operation soapAction="urn:PIXConsumer_PRPA_IN201301UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <soap12:operation soapAction="urn:PIXConsumer_PRPA_IN201302UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
   <!--     <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <soap12:operation soapAction="urn:PIXConsumer_PRPA_IN201303UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>-->
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <soap12:operation soapAction="urn:PIXConsumer_PRPA_IN201304UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <soap12:operation soapAction="urn:PIXConsumer_PRPA_IN201309UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse" >
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap_Output_Policy"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="EntitySubjectDiscoverySecured">
        <wsdl:port name="EntitySubjectDiscoverySecuredPortSoap12"
               binding="tns:EntitySubjectDiscoverySecuredBindingSoap12">
            <soap12:address
          location="https://localhost:${HttpsDefaultPort}/NhinConnect/EntitySubjectDiscoverySecured"/>
        </wsdl:port>
    </wsdl:service>

    <wsp:Policy wsu:Id="PIXConsumer_Binding_SoapPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
                <sc:KeyStore wspp:visibility="private"
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector"
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
                <sc:TrustStore wspp:visibility="private"
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:EndorsingSupportingTokens>
                    <wsp:Policy>
                        <sp:SamlToken
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV20Token11/>
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:RequireSignatureConfirmation/>
                    </wsp:Policy>
                </sp:Wss11>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <plnk:partnerLinkType name="EntitySubjectDiscoverySecured">
    <!-- A partner link type is automatically generated when a new port type is added.
         Partner link types are used by BPEL processes. In a BPEL process, a partner
         link represents the interaction between the BPEL process and a partner service.
         Each partner link is associated with a partner link type. A partner link type
         characterizes the conversational relationship between two services. The
         partner link type can have one or two roles.-->
        <plnk:role name="EntitySubjectDiscoverySecuredPortTypeRole"
               portType="tns:EntitySubjectDiscoverySecuredPortType"/>
    </plnk:partnerLinkType>

</wsdl:definitions>

