Current/Product/Production/Examples/WSDLClientFileIssue_OldESB/SampleService1EJB/src/conf/xml-resources/web-service-references/uddi_v3_service/wsdl/uddi_sub_v3_portType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:uddi-org:sub_v3_portType" xmlns:uddi_sub="urn:uddi-org:sub_v3" xmlns:uddi="urn:uddi-org:api_v3" targetNamespace="urn:uddi-org:sub_v3_portType">
	<documentation>
	                This WSDL document defines the portTypes for the UDDI V3 Subscription APIs.
	</documentation>
	<types>
		<xsd:schema targetNamespace="urn:uddi-org:sub_v3_portType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:uddi-org:api_v3" schemaLocation="../schemas/uddi/uddi_v3.xsd"/>
			<xsd:import namespace="urn:uddi-org:sub_v3" schemaLocation="../schemas/uddi/uddi_v3subscription.xsd"/>
		</xsd:schema>
	</types>
	<message name="delete_subscriptionMessage">
		<part name="body" element="uddi_sub:delete_subscription"/>
	</message>
	<message name="dispositionReportFaultMessage">
		<part name="body" element="uddi:dispositionReport"/>
	</message>
	<message name="successMessage"/>
	<message name="get_subscriptionResultsMessage">
		<part name="body" element="uddi_sub:get_subscriptionResults"/>
	</message>
	<message name="get_subscriptionsMessage">
		<part name="body" element="uddi_sub:get_subscriptions"/>
	</message>
	<message name="save_subscriptionMessage">
		<part name="body" element="uddi_sub:save_subscription"/>
	</message>
	<message name="subscriptionResultsListMessage">
		<part name="body" element="uddi_sub:subscriptionResultsList"/>
	</message>
	<message name="subscriptionsMessage">
		<part name="body" element="uddi_sub:subscriptions"/>
	</message>
	<portType name="UDDI_Subscription_PortType">
		<documentation>This portType defines all of the UDDI subscription operations.</documentation>
		<operation name="delete_subscription">
			<input message="tns:delete_subscriptionMessage"/>
			<output message="tns:successMessage"/>
			<fault name="error" message="tns:dispositionReportFaultMessage"/>
		</operation>
		<operation name="get_subscriptionResults">
			<input message="tns:get_subscriptionResultsMessage"/>
			<output message="tns:subscriptionResultsListMessage"/>
			<fault name="error" message="tns:dispositionReportFaultMessage"/>
		</operation>
		<operation name="get_subscriptions">
			<input message="tns:get_subscriptionsMessage"/>
			<output message="tns:subscriptionsMessage"/>
			<fault name="error" message="tns:dispositionReportFaultMessage"/>
		</operation>
		<operation name="save_subscription">
			<input message="tns:save_subscriptionMessage"/>
			<output message="tns:subscriptionsMessage"/>
			<fault name="error" message="tns:dispositionReportFaultMessage"/>
		</operation>
	</portType>
	<!-- 
	Copyright (c) 2000-2002 by Accenture, Ariba, Inc., Commerce One, Inc. Fujitsu Limited, Hewlett-Packard Company, i2 Technologies, Inc., Intel Corporation, 
	International Business Machines Corporation, Microsoft Corporation, Oracle Corporation, SAP AG, Sun Microsystems, Inc., and VeriSign, Inc.  All Rights Reserved.
	
	Copyright (c) OASIS Open 2002-2004. All Rights Reserved.
	Version 3.0.2 
	-->
</definitions>
