Current/Product/Production/Examples/DynamicPolicyExample/Interfaces/src/wsdl/NhincComponentTokenInfoManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentTokenInfoManager" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponenttokeninfomanager"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponenttokeninfomanager" 
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponenttokeninfomanager">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="../schemas/nhinc/common/NhincCommon.xsd"/>
        </xsd:schema>
    </types>
    <message name="RetrieveInfoOperationRequest">
        <part name="request" element="nccommon:TokenRetrieveInfo"/>
    </message>
    <message name="RetrieveInfoOperationResponse">
        <part name="assertOut" element="nccommon:Assertion"/>
    </message>
    <message name="StoreInfoOperationRequest">
        <part name="infoIn" element="nccommon:TokenCreationInfo"/>
    </message>
    <portType name="NhincComponentTokenInfoManagerPortType">
        <operation name="RetrieveInfoOperation">
            <input name="RetrieveInfoOperationRequest" message="tns:RetrieveInfoOperationRequest"/>
            <output name="RetrieveInfoOperationResponse" message="tns:RetrieveInfoOperationResponse"/>
        </operation>
        <operation name="StoreInfoOperation">
            <input name="StoreInfoOperationRequest" message="tns:StoreInfoOperationRequest"/>
        </operation>
    </portType>
    <binding name="NhincComponentTokenInfoManagerBinding" type="tns:NhincComponentTokenInfoManagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RetrieveInfoOperation">
            <soap:operation soapAction="RetrieveInfoOperation"/>
            <input name="RetrieveInfoOperationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveInfoOperationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="StoreInfoOperation">
            <soap:operation soapAction="StoreInfoOperation"/>
            <input name="StoreInfoOperationRequest">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="NhincComponentTokenInfoManagerService">
        <port name="NhincComponentTokenInfoManagerPort" binding="tns:NhincComponentTokenInfoManagerBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NhinConnect/NhincComponentTokenInfoManagerService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentTokenInfoManager">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentTokenInfoManagerPortTypeRole" portType="tns:NhincComponentTokenInfoManagerPortType"/>
    </plnk:partnerLinkType>
</definitions>
