Current/Product/Production/Examples/WSN/Broker/src/conf/xml-resources/web-service-references/SubscriptionSink/wsdl/SubscriptionSink.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SubscriptionSink" targetNamespace="http://j2ee.netbeans.org/wsdl/Interfaces/SubscriptionSink"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://j2ee.netbeans.org/wsdl/Interfaces/SubscriptionSink" 
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Interfaces/SubscriptionSink">
            <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="schemas/docs.oasis-open.org/wsn/b-2.xsd"/>
            <xsd:element name="EchoInput" type="xsd:string"></xsd:element>
            <xsd:element name="EchoOutput" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="SubscribeRequest">
        <part name="subscribe" element="wsnt:Subscribe"/>
    </message>
    <message name="SubscribeResponse">
        <part name="subscribeResponse" element="wsnt:SubscribeResponse"/>
    </message>
    <message name="EchoRequest">
        <part name="MsgIn" element="tns:EchoInput"/>
    </message>
    <message name="EchoResponse">
        <part name="MsgOut" element="tns:EchoOutput"/>
    </message>
    <portType name="SubscriptionSinkPortType">
        <operation name="Subscribe">
            <input name="SubscribeRequest" message="tns:SubscribeRequest"/>
            <output name="SubscribeResponse" message="tns:SubscribeResponse"/>
        </operation>
        <operation name="Echo">
            <input name="MessageInput" message="tns:EchoRequest"/>
            <output name="MessageOutput" message="tns:EchoResponse"/>
        </operation>
    </portType>
    <binding name="SubscriptionSinkPortTypeBinding" type="tns:SubscriptionSinkPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Subscribe">
            <soap:operation soapAction="urn:Subscribe"/>
            <input name="SubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SubscribeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Echo">
            <soap:operation soapAction="urn:Echo"/>
            <input name="MessageInput">
                <soap:body use="literal"/>
            </input>
            <output name="MessageOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SubscriptionSinkService">
        <port name="SubscriptionSinkPortTypeBindingPort" binding="tns:SubscriptionSinkPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="SubscriptionSink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SubscriptionSinkPortTypeRole" portType="tns:SubscriptionSinkPortType"/>
    </plnk:partnerLinkType>
</definitions>
