Product/Production/Adapters/Framework/AdapterDocumentAssemblyProxyEJB/src/main/resources/wsdl/DocumentManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- This wsdl file is for a Document Manager -->
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ihe="urn:ihe:iti:xds-b:2007"
    xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
	xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
    xmlns:hl7="urn:hl7-org:v3"
	xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
    xmlns:docmgr="urn:gov:hhs:fha:nhinc:common:docmgr"
    targetNamespace="urn:ihe:iti:xds-b:2007"
    name="DocumentManager">
	<wsdl:documentation>Document Manager</wsdl:documentation>
	<wsdl:types>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="urn:ihe:iti:xds-b:2007"
            xmlns:ihe="urn:ihe:iti:xds-b:2007">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/ihe/XDS.b_DocumentRepository.xsd"/>
        </xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
			xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schemas/ebRS/query.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
			xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schemas/ebRS/rs.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schemas/ebRS/lcm.xsd"/>
		</xsd:schema>
		<!-- While no elements are directly used from this schema in the WSDL, it needs to be present here in order for
		code generating toolkits to work properly -->
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
			xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="../schemas/ebRS/rim.xsd"/>
		</xsd:schema>
        <xsd:schema>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:docmgr"
                  schemaLocation="../schemas/nhinc/common/DocManager.xsd"/>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryForDocument_Message">
		<wsdl:documentation>Registry Stored Query</wsdl:documentation>
		<wsdl:part name="body" element="query:AdhocQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="queryForDocumentResponse_Message">
		<wsdl:documentation>Registry Stored Query Response</wsdl:documentation>
		<wsdl:part name="body" element="query:AdhocQueryResponse"/>
	</wsdl:message>
    <wsdl:message name="retrieveDocument_Message">
        <wsdl:documentation>Retrieve Document Set</wsdl:documentation>
        <wsdl:part name="body" element="ihe:RetrieveDocumentSetRequest"/>
    </wsdl:message>
    <wsdl:message name="retrieveDocumentResponse_Message">
        <wsdl:documentation>Retrieve Document Set Response</wsdl:documentation>
        <wsdl:part name="body" element="ihe:RetrieveDocumentSetResponse"/>
    </wsdl:message>
    <wsdl:message name="storeDocument_Message">
        <wsdl:documentation>Provide and Register Document Set</wsdl:documentation>
        <wsdl:part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest"/>
    </wsdl:message>
    <wsdl:message name="storeDocumentResponse_Message">
        <wsdl:documentation>Provide And Register Document Set Response</wsdl:documentation>
        <wsdl:part name="body" element="rs:RegistryResponse"/>
    </wsdl:message>
    <wsdl:message name="archiveDocument_Message">
        <wsdl:documentation>Archive Document</wsdl:documentation>
        <wsdl:part name="body" element="docmgr:ArchiveDocumentRequest"/>
    </wsdl:message>
    <wsdl:message name="archiveDocumentResponse_Message">
        <wsdl:documentation>Archive Document Response</wsdl:documentation>
        <wsdl:part name="body" element="rs:RegistryResponse"/>
    </wsdl:message>
    <wsdl:message name="updateDocumentSlot_Message">
        <wsdl:documentation>Update Document Slot</wsdl:documentation>
        <wsdl:part name="body" element="docmgr:UpdateDocumentSlotRequest"/>
    </wsdl:message>
    <wsdl:message name="updateDocumentSlotResponse_Message">
        <wsdl:documentation>Update Document Slot Response</wsdl:documentation>
        <wsdl:part name="body" element="rs:RegistryResponse"/>
    </wsdl:message>
    <wsdl:message name="generateUniqueIdRequestMessage">
        <wsdl:documentation>Generate unique id for documents</wsdl:documentation>
        <wsdl:part name="request" element="docmgr:GenerateUniqueIdRequest"/>
    </wsdl:message>
    <wsdl:message name="generateUniqueIdResponseMessage">
        <wsdl:documentation>Generate unique id for documents</wsdl:documentation>
        <wsdl:part name="response" element="docmgr:GenerateUniqueIdResponse"/>
    </wsdl:message>
	<wsdl:portType name="DocumentManager_PortType">
        <wsdl:operation name="DocumentManager_queryForDocument">
			<wsdl:input message="ihe:queryForDocument_Message"
				name="QueryForDocument"/>
			<wsdl:output message="ihe:queryForDocumentResponse_Message"
				name="QueryForDocumentResponse"/>
		</wsdl:operation>
        <wsdl:operation name="DocumentManager_retrieveDocument">
            <wsdl:input message="ihe:retrieveDocument_Message"
                name="RetrieveDocument"/>
            <wsdl:output message="ihe:retrieveDocumentResponse_Message"
                name="RetrieveDocumentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_storeDocument">
            <wsdl:input message="ihe:storeDocument_Message"
                name="StoreDocument"/>
            <wsdl:output message="ihe:storeDocumentResponse_Message"
                name="StoreDocumentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_archiveDocument">
            <wsdl:input message="ihe:archiveDocument_Message"
                name="ArchiveDocument"/>
            <wsdl:output message="ihe:archiveDocumentResponse_Message"
                name="ArchiveDocumentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_updateDocumentSlot">
            <wsdl:input message="ihe:updateDocumentSlot_Message"
                name="UpdateDocumentSlot"/>
            <wsdl:output message="ihe:updateDocumentSlotResponse_Message"
                name="UpdateDocumentSlotResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GenerateUniqueId">
            <wsdl:input message="ihe:generateUniqueIdRequestMessage"
                name="GenerateUniqueIdRequest"/>
            <wsdl:output message="ihe:generateUniqueIdResponseMessage"
                name="GenerateUniqueIdResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentManager_Binding_Soap"
             type="ihe:DocumentManager_PortType">
	 <soap:binding style="document"
                   transport="http://java.sun.com/xml/ns/jaxws/2003/05/soap/bindings/HTTP/"/>
		<wsdl:operation name="DocumentManager_queryForDocument">
			<soap:operation soapAction="urn:ihe:iti:2007:QueryForDocument"/>
			<wsdl:input name="QueryForDocument">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="QueryForDocumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="DocumentManager_retrieveDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:RetrieveDocument"/>
            <wsdl:input name="RetrieveDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RetrieveDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_storeDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:StoreDocument"/>
            <wsdl:input name="StoreDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="StoreDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_archiveDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:ArchiveDocument"/>
            <wsdl:input name="ArchiveDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ArchiveDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocumentManager_updateDocumentSlot">
            <soap:operation soapAction="urn:ihe:iti:2007:UpdateDocumentSlot"/>
            <wsdl:input name="UpdateDocumentSlot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDocumentSlotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GenerateUniqueId">
            <soap:operation soapAction="urn:ihe:iti:2007:GenerateUniqueId"/>
            <wsdl:input name="GenerateUniqueIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GenerateUniqueIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentManager_Service">
		<wsdl:port name="DocumentManager_Port_Soap"
              binding="ihe:DocumentManager_Binding_Soap">
			<soap:address
               location="http://localhost:${HttpDefaultPort}/DocumentManager/DocumentManager_Service"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
