Product/Production/Examples/DynamicPolicyExample/NhincProxyCA/src/jbiasa/NhinSubjectDiscovery.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:ihe:iti:pixv3:2007" 
   xmlns:wsoap11="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3" 
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   xmlns:sc1="http://schemas.sun.com/2006/03/wss/client"
   name="PIXConsumer" targetNamespace="urn:ihe:iti:pixv3:2007">
    <wsdl:documentation>
     Example WSDL for PIX Consumer, receiving update notifications
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201301UV.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201302UV.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201303UV.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/PRPA_IN201304UV.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
      <!-- Include the message schema -->
            <xsd:include schemaLocation="../schemas/HL7V3/multicacheschemas/MCCI_IN000002UV01.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PRPA_IN201301UV_Message">
        <wsdl:part name="Body" element="hl7:PRPA_IN201301UV"/>
    </wsdl:message>
    <wsdl:message name="PRPA_IN201302UV_Message">
        <wsdl:part name="Body" element="hl7:PRPA_IN201302UV"/>
    </wsdl:message>
    <wsdl:message name="PRPA_IN201303UV_Message">
        <wsdl:part name="Body" element="hl7:PRPA_IN201303UV"/>
    </wsdl:message>
    <wsdl:message name="PRPA_IN201304UV_Message">
        <wsdl:part name="Body" element="hl7:PRPA_IN201304UV"/>
    </wsdl:message>
    <wsdl:message name="MCCI_IN000002UV01_Message">
        <wsdl:part name="Body" element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:portType name="PIXConsumer_PortType">
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsdl:input message="tns:PRPA_IN201301UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV"/>
            <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsdl:input message="tns:PRPA_IN201302UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV"/>
            <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsdl:input message="tns:PRPA_IN201303UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201303UV"/>
            <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsdl:input message="tns:PRPA_IN201304UV_Message" 
                  wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV"/>
            <wsdl:output message="tns:MCCI_IN000002UV01_Message" 
                   wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PIXConsumer_Binding_Soap11" type="tns:PIXConsumer_PortType">
        <wsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#PIXConsumer_Binding_Soap11Policy"/>
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsoap11:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV"/>
            <wsdl:input>
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsoap11:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV"/>
            <wsdl:input>
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsoap11:operation soapAction="urn:hl7-org:v3:PRPA_IN201303UV"/>
            <wsdl:input>
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsoap11:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV"/>
            <wsdl:input>
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PIXConsumer_Service">
        <wsdl:port name="PIXConsumer_Port_Soap11" binding="tns:PIXConsumer_Binding_Soap11">
            <wsoap11:address location="https://localhost:9081/PIXConsumer_Soap11"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="PIXConsumer_Binding_Soap11Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc1:KeyStore wspp:visibility="private" aliasSelector="xwss.saml.KeyStoreClientAliasSelector" callbackHandler="xwss.saml.KeyStoreCallbackHandler"/>
                <sc1:TrustStore wspp:visibility="private" certSelector = "xwss.saml.TrustStoreAliasSelector" callbackHandler="xwss.saml.TrustStoreCallbackHandler"/>
                <sc1:CallbackHandlerConfiguration wspp:visibility="private">
                    <sc1:CallbackHandler name="samlHandler" classname="xwss.saml.SamlCallbackHandler"/>
                </sc1:CallbackHandlerConfiguration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
