Product/SoapUI_Test/RegressionSuite/target1/schemas/nhinc/common/SubscriptionDte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:gov:hhs:fha:nhinc:common:subscriptiondte"
            xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscriptiondte"
            elementFormDefault="qualified" 
            xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription" 
            xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" 
            xmlns:ncentity="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"
            xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" 
            xmlns:subb2ovCdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" 
            xmlns:subb2ovDoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" 
            xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc"
            xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments"
            xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
            xmlns:nccommonadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter">
    <xsd:import schemaLocation="../../../schemas/nhinc/common/Subscription.xsd" namespace="urn:gov:hhs:fha:nhinc:common:subscription"/>
    <xsd:import schemaLocation="../../../schemas/nhinc/common/NhincCommon.xsd" namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon"/>
    <xsd:import schemaLocation="../../../schemas/nhinc/common/NhincCommonEntity.xsd" namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"/>
    <xsd:import schemaLocation="../../../schemas/docs.oasis-open.org/wsn/b-2.xsd" namespace="http://docs.oasis-open.org/wsn/b-2"/>
    <xsd:import schemaLocation="../../../schemas/nhinc/common/SubscriptionB2OverrideForCdc.xsd" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc"/>
    <xsd:import schemaLocation="../../../schemas/nhinc/common/SubscriptionB2OverrideForDocuments.xsd" namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments"/>
    <xsd:import schemaLocation="../../../schemas/nhinc/common/NhincCommonAdapter.xsd" namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"/>
    <xsd:import schemaLocation="../../../schemas/ebRS/rim.xsd" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
    <xsd:complexType name="CreateAckRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:Empty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAckRequest" type="tns:CreateAckRequestType" />
    
    <xsd:complexType name="CreateAckResponseType">
        <xsd:sequence>
            <xsd:element ref="nccommon:Acknowledgement"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAckResponse" type="tns:CreateAckResponseType" />
    
    
    <xsd:complexType name="CreateAgencyNotifyDocumentRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify"/>
            <xsd:element ref="ncsub:SubscriptionReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencyNotifyDocumentRequest" type="tns:CreateAgencyNotifyDocumentRequestType" />
    
    <xsd:complexType name="CreateAgencyNotifyDocumentResponseType">
        <xsd:sequence>
            <xsd:element ref="nccommonadapter:NotifySubscribersOfDocumentRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencyNotifyDocumentResponse" type="tns:CreateAgencyNotifyDocumentResponseType" />
    
    
    <xsd:complexType name="CreateBaseUnsubscribeRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:Empty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateBaseUnsubscribeRequest" type="tns:CreateBaseUnsubscribeRequestType" />
        
    <xsd:complexType name="CreateBaseUnsubscribeResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Unsubscribe"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateBaseUnsubscribeResponse" type="tns:CreateBaseUnsubscribeResponseType" />
    
    
    <xsd:complexType name="CreateChildSubscriptionItemRequestType">
        <xsd:sequence>
            <xsd:element name="ParentSubscriptionItem" type="ncsub:SubscriptionItemType">
            </xsd:element>
            <xsd:element name="TargetPatientId" type="nccommon:QualifiedSubjectIdentifierType">
            </xsd:element>
            <xsd:element name="TargetCommunityId" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateChildSubscriptionItemRequest" type="tns:CreateChildSubscriptionItemRequestType" />

    <xsd:complexType name="CreateChildSubscriptionItemResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateChildSubscriptionItemResponse" type="tns:CreateChildSubscriptionItemResponseType" />


    <xsd:complexType name="CreateSubscribeResponseRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionReference">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateSubscribeResponseRequest" type="tns:CreateSubscribeResponseRequestType" />
    
    <xsd:complexType name="CreateSubscribeResponseResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:SubscribeResponse">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateSubscribeResponseResponse" type="tns:CreateSubscribeResponseResponseType" />
    
    
    <xsd:complexType name="CreateUnsubscribeResponseRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:Empty">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateUnsubscribeResponseRequest" type="tns:CreateUnsubscribeResponseRequestType" />
    
    <xsd:complexType name="CreateUnsubscribeResponseResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:UnsubscribeResponse">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateUnsubscribeResponseResponse" type="tns:CreateUnsubscribeResponseResponseType" />
    
    
    <xsd:complexType name="TransformEntityNotifyDocumentToSubscriptionCriteriaRequestType">
        <xsd:sequence>
            <xsd:element name="NotifyDocument" type="subb2ovDoc:NotifyDocumentType">
            </xsd:element>
            <xsd:element name="RegistryObjectList" type="rim:RegistryObjectListType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityNotifyDocumentToSubscriptionCriteriaRequest" type="tns:TransformEntityNotifyDocumentToSubscriptionCriteriaRequestType" />
    
    <xsd:complexType name="TransformEntityNotifyDocumentToSubscriptionCriteriaResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionCriteria">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityNotifyDocumentToSubscriptionCriteriaResponse" type="tns:TransformEntityNotifyDocumentToSubscriptionCriteriaResponseType" />
    
    
    <xsd:complexType name="TransformEntitySubscribeDocumentToInternalSubscriptionItemRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscribeDocumentRequest">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntitySubscribeDocumentToInternalSubscriptionItemRequest" type="tns:TransformEntitySubscribeDocumentToInternalSubscriptionItemRequestType" />
    
    <xsd:complexType name="TransformEntitySubscribeDocumentToInternalSubscriptionItemResponseType">
        <xsd:sequence>
        <xsd:element ref="ncsub:SubscriptionItem">
        </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntitySubscribeDocumentToInternalSubscriptionItemResponse" type="tns:TransformEntitySubscribeDocumentToInternalSubscriptionItemResponseType" />
    
    <xsd:complexType name="TransformEntityUnsubscribeToInternalSubscriptionReferenceRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:Unsubscribe">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityUnsubscribeToInternalSubscriptionReferenceRequest" type="tns:TransformEntityUnsubscribeToInternalSubscriptionReferenceRequestType" />
    
    <xsd:complexType name="TransformEntityUnsubscribeToInternalSubscriptionReferenceResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionReference">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityUnsubscribeToInternalSubscriptionReferenceResponse" type="tns:TransformEntityUnsubscribeToInternalSubscriptionReferenceResponseType" />
    
    
    <xsd:complexType name="TransformInternalSubscriptionItemToNhinSubscribeRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformInternalSubscriptionItemToNhinSubscribeRequest" type="tns:TransformInternalSubscriptionItemToNhinSubscribeRequestType" />

    <xsd:complexType name="TransformInternalSubscriptionItemToNhinSubscribeResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Subscribe">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformInternalSubscriptionItemToNhinSubscribeResponse" type="tns:TransformInternalSubscriptionItemToNhinSubscribeResponseType" />


    <xsd:complexType name="TransformNhinNotifyToInternalSubscriptionReferenceRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinNotifyToInternalSubscriptionReferenceRequest" type="tns:TransformNhinNotifyToInternalSubscriptionReferenceRequestType" />

    <xsd:complexType name="TransformNhinNotifyToInternalSubscriptionReferenceResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionReference">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinNotifyToInternalSubscriptionReferenceResponse" type="tns:TransformNhinNotifyToInternalSubscriptionReferenceResponseType" />


    <xsd:complexType name="TransformNhinSubscribeToInternalSubscribeRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Subscribe">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinSubscribeToInternalSubscribeRequest" type="tns:TransformNhinSubscribeToInternalSubscribeRequestType" />

    <xsd:complexType name="TransformNhinSubscribeToInternalSubscribeResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinSubscribeToInternalSubscribeResponse" type="tns:TransformNhinSubscribeToInternalSubscribeResponseType" />


    <xsd:complexType name="TransformUnsubscribeToSubscriptionReferenceRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Unsubscribe">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformUnsubscribeToSubscriptionReferenceRequest" type="tns:TransformUnsubscribeToSubscriptionReferenceRequestType" />

    <xsd:complexType name="TransformUnsubscribeToSubscriptionReferenceResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionReference">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformUnsubscribeToSubscriptionReferenceResponse" type="tns:TransformUnsubscribeToSubscriptionReferenceResponseType" />


    <xsd:complexType name="TransformNhinSubscribeResponseToSubscriptionReferenceRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:SubscribeResponse">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinSubscribeResponseToSubscriptionReferenceRequest" type="tns:TransformNhinSubscribeResponseToSubscriptionReferenceRequestType" />

    <xsd:complexType name="TransformNhinSubscribeResponseToSubscriptionReferenceResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionReference">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformNhinSubscribeResponseToSubscriptionReferenceResponse" type="tns:TransformNhinSubscribeResponseToSubscriptionReferenceResponseType" />


    <xsd:complexType name="TransformInternalSubscriptionItemToNhinNotifyRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformInternalSubscriptionItemToNhinNotifyRequest" type="tns:TransformInternalSubscriptionItemToNhinNotifyRequestType" />

    <xsd:complexType name="TransformInternalSubscriptionItemToNhinNotifyResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformInternalSubscriptionItemToNhinNotifyResponse" type="tns:TransformInternalSubscriptionItemToNhinNotifyResponseType" />


    <xsd:complexType name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequestType">
        <xsd:sequence>
            <xsd:element ref="ncentity:SubscribeCdcBioPackageRequest">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequest" type="tns:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequestType" />

    <xsd:complexType name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponse" type="tns:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponseType" />

    <xsd:complexType name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequestType">
        <xsd:sequence>
                        <xsd:element name="NotifyCdcBioPackage" type="subb2ovCdc:NotifyCdcBioPackageType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequest" type="tns:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequestType" />

    <xsd:complexType name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponseType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionCriteria">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponse" type="tns:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponseType" />

    <xsd:complexType name="DetermineRootTopicFromNotifyRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DetermineRootTopicFromNotifyRequest" type="tns:DetermineRootTopicFromNotifyRequestType" />

    <xsd:complexType name="DetermineRootTopicFromNotifyResponseType">
        <xsd:sequence>
            <xsd:element name="RootTopic" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DetermineRootTopicFromNotifyResponse" type="tns:DetermineRootTopicFromNotifyResponseType" />

    <xsd:complexType name="CreateAgencyNotifyCdcBioPackageRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify"/>
            <xsd:element ref="ncsub:SubscriptionReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencyNotifyCdcBioPackageRequest" type="tns:CreateAgencyNotifyCdcBioPackageRequestType" />

    <xsd:complexType name="CreateAgencyNotifyCdcBioPackageResponseType">
        <xsd:sequence>
            <xsd:element ref="nccommonadapter:NotifySubscribersOfCdcBioPackageRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencyNotifyCdcBioPackageResponse" type="tns:CreateAgencyNotifyCdcBioPackageResponseType" />



    <xsd:complexType name="CreateAgencySubscribeDocumentRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Subscribe"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencySubscribeDocumentRequest" type="tns:CreateAgencySubscribeDocumentRequestType" />
    
    <xsd:complexType name="CreateAgencySubscribeDocumentResponseType">
        <xsd:sequence>
            <xsd:element name="subscribe" type="ncsub:SubscribeDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencySubscribeDocumentResponse" type="tns:CreateAgencySubscribeDocumentResponseType" />


    <xsd:complexType name="CreateAgencySubscribeCdcBioPackageRequestType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Subscribe"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencySubscribeCdcBioPackageRequest" type="tns:CreateAgencySubscribeCdcBioPackageRequestType" />

    <xsd:complexType name="CreateAgencySubscribeCdcBioPackageResponseType">
        <xsd:sequence>
            <xsd:element name="subscribe" type="subb2ovCdc:SubscribeCdcBioPackageType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateAgencySubscribeCdcBioPackageResponse" type="tns:CreateAgencySubscribeCdcBioPackageResponseType" />




    <xsd:complexType name="CreateNhinNotifyDocumentRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
            <xsd:element name="notify" type="subb2obdoc:NotifyDocumentType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateNhinNotifyDocumentRequest" type="tns:CreateNhinNotifyDocumentRequestType" />

    <xsd:complexType name="CreateNhinNotifyDocumentResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateNhinNotifyDocumentResponse" type="tns:CreateNhinNotifyDocumentResponseType" />

    <xsd:complexType name="CreateNhinNotifyCdcBioPackageRequestType">
        <xsd:sequence>
            <xsd:element ref="ncsub:SubscriptionItem">
            </xsd:element>
            <xsd:element name="notify" type="subb2obcdc:NotifyCdcBioPackageType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateNhinNotifyCdcBioPackageRequest" type="tns:CreateNhinNotifyCdcBioPackageRequestType" />

    <xsd:complexType name="CreateNhinNotifyCdcBioPackageResponseType">
        <xsd:sequence>
            <xsd:element ref="wsnt:Notify">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateNhinNotifyCdcBioPackageResponse" type="tns:CreateNhinNotifyCdcBioPackageResponseType" />


</xsd:schema>
