Product/Production/Common/Interfaces/src/wsdl/NhincComponentInternalSubscriptionDte.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentInternalSubscriptionDte" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform" 
    xmlns:subdte="urn:gov:hhs:fha:nhinc:common:subscriptiondte" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform">
            <xsd:import schemaLocation="../schemas/nhinc/common/SubscriptionDte.xsd" namespace="urn:gov:hhs:fha:nhinc:common:subscriptiondte"/>
        </xsd:schema>
    </types>
    
    <message name="CreateAckRequestMessage">
        <part name="CreateAckRequest" element="subdte:CreateAckRequest"/>
    </message>
    <message name="CreateAckResponseMessage">
        <part name="CreateAckResponse" element="subdte:CreateAckResponse"/>
    </message>

    <message name="CreateAgencyNotifyDocumentRequestMessage">
        <part name="CreateAgencyNotifyDocumentRequest" element="subdte:CreateAgencyNotifyDocumentRequest"/>
    </message>
    <message name="CreateAgencyNotifyDocumentResponseMessage">
        <part name="CreateAgencyNotifyDocumentResponse" element="subdte:CreateAgencyNotifyDocumentResponse"/>
    </message>

    <message name="CreateBaseUnsubscribeRequestMessage">
        <part name="CreateBaseUnsubscribeRequest" element="subdte:CreateBaseUnsubscribeRequest"/>
    </message>
    <message name="CreateBaseUnsubscribeResponseMessage">
        <part name="CreateBaseUnsubscribeResponse" element="subdte:CreateBaseUnsubscribeResponse"/>
    </message>

    <message name="CreateChildSubscriptionItemRequestMessage">
        <part name="CreateChildSubscriptionItem" element="subdte:CreateChildSubscriptionItemRequest"/>
    </message>
    <message name="CreateChildSubscriptionItemResponseMessage">
        <part name="CreateChildSubscriptionItem" element="subdte:CreateChildSubscriptionItemResponse"/>
    </message>

    <message name="CreateSubscribeResponseRequestMessage">
        <part name="CreateSubscribeResponse" element="subdte:CreateSubscribeResponseRequest"/>
    </message>
    <message name="CreateSubscribeResponseResponseMessage">
        <part name="CreateSubscribeResponse" element="subdte:CreateSubscribeResponseResponse"/>
    </message>

    <message name="CreateUnsubscribeResponseRequestMessage">
        <part name="CreateUnsubscribeResponse" element="subdte:CreateUnsubscribeResponseRequest"/>
    </message>
    <message name="CreateUnsubscribeResponseResponseMessage">
        <part name="CreateUnsubscribeResponse" element="subdte:CreateUnsubscribeResponseResponse"/>
    </message>

    <message name="TransformEntityNotifyDocumentToSubscriptionCriteriaRequestMessage">
        <part name="TransformEntityNotifyDocumentToSubscriptionCriteria" element="subdte:TransformEntityNotifyDocumentToSubscriptionCriteriaRequest"/>
    </message>
    <message name="TransformEntityNotifyDocumentToSubscriptionCriteriaResponseMessage">
        <part name="TransformEntityNotifyDocumentToSubscriptionCriteria" element="subdte:TransformEntityNotifyDocumentToSubscriptionCriteriaResponse"/>
    </message>

    <message name="TransformEntitySubscribeDocumentToInternalSubscriptionItemRequestMessage">
        <part name="TransformEntitySubscribeDocumentToInternalSubscriptionItem" element="subdte:TransformEntitySubscribeDocumentToInternalSubscriptionItemRequest"/>
    </message>
    <message name="TransformEntitySubscribeDocumentToInternalSubscriptionItemResponseMessage">
        <part name="TransformEntitySubscribeDocumentToInternalSubscriptionItem" element="subdte:TransformEntitySubscribeDocumentToInternalSubscriptionItemResponse"/>
    </message>

    <message name="TransformEntityUnsubscribeToInternalSubscriptionReferenceRequestMessage">
        <part name="TransformEntityUnsubscribeToInternalSubscriptionReference" element="subdte:TransformEntityUnsubscribeToInternalSubscriptionReferenceRequest"/>
    </message>
    <message name="TransformEntityUnsubscribeToInternalSubscriptionReferenceResponseMessage">
        <part name="TransformEntityUnsubscribeToInternalSubscriptionReference" element="subdte:TransformEntityUnsubscribeToInternalSubscriptionReferenceResponse"/>
    </message>

    <message name="TransformInternalSubscriptionItemToNhinSubscribeRequestMessage">
        <part name="TransformInternalSubscriptionItemToNhinSubscribe" element="subdte:TransformInternalSubscriptionItemToNhinSubscribeRequest"/>
    </message>
    <message name="TransformInternalSubscriptionItemToNhinSubscribeResponseMessage">
        <part name="TransformInternalSubscriptionItemToNhinSubscribe" element="subdte:TransformInternalSubscriptionItemToNhinSubscribeResponse"/>
    </message>

    <message name="TransformNhinNotifyToInternalSubscriptionReferenceRequestMessage">
        <part name="TransformNhinNotifyToInternalSubscriptionReference" element="subdte:TransformNhinNotifyToInternalSubscriptionReferenceRequest"/>
    </message>
    <message name="TransformNhinNotifyToInternalSubscriptionReferenceResponseMessage">
        <part name="TransformNhinNotifyToInternalSubscriptionReference" element="subdte:TransformNhinNotifyToInternalSubscriptionReferenceResponse"/>
    </message>

    <message name="TransformNhinSubscribeToInternalSubscribeRequestMessage">
        <part name="TransformNhinSubscribeToInternalSubscribe" element="subdte:TransformNhinSubscribeToInternalSubscribeRequest"/>
    </message>
    <message name="TransformNhinSubscribeToInternalSubscribeResponseMessage">
        <part name="TransformNhinSubscribeToInternalSubscribe" element="subdte:TransformNhinSubscribeToInternalSubscribeResponse"/>
    </message>

    <message name="TransformUnsubscribeToSubscriptionReferenceRequestMessage">
        <part name="TransformUnsubscribeToSubscriptionReference" element="subdte:TransformUnsubscribeToSubscriptionReferenceRequest"/>
    </message>
    <message name="TransformUnsubscribeToSubscriptionReferenceResponseMessage">
        <part name="TransformUnsubscribeToSubscriptionReference" element="subdte:TransformUnsubscribeToSubscriptionReferenceResponse"/>
    </message>

    <message name="TransformNhinSubscribeResponseToSubscriptionReferenceRequestMessage">
        <part name="TransformNhinSubscribeResponseToSubscriptionReference" element="subdte:TransformNhinSubscribeResponseToSubscriptionReferenceRequest"/>
    </message>
    <message name="TransformNhinSubscribeResponseToSubscriptionReferenceResponseMessage">
        <part name="TransformNhinSubscribeResponseToSubscriptionReference" element="subdte:TransformNhinSubscribeResponseToSubscriptionReferenceResponse"/>
    </message>

    <message name="TransformInternalSubscriptionItemToNhinNotifyRequestMessage">
        <part name="TransformInternalSubscriptionItemToNhinNotify" element="subdte:TransformInternalSubscriptionItemToNhinNotifyRequest"/>
    </message>
    <message name="TransformInternalSubscriptionItemToNhinNotifyResponseMessage">
        <part name="TransformInternalSubscriptionItemToNhinNotify" element="subdte:TransformInternalSubscriptionItemToNhinNotifyResponse"/>
    </message>

    <message name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequestMessage">
        <part name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItem" element="subdte:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequest"/>
    </message>
    <message name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponseMessage">
        <part name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItem" element="subdte:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponse"/>
    </message>

    <message name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequestMessage">
        <part name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteria" element="subdte:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequest"/>
    </message>
    <message name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponseMessage">
        <part name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteria" element="subdte:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponse"/>
    </message>

    <message name="DetermineRootTopicFromNotifyRequestMessage">
        <part name="DetermineRootTopicFromNotify" element="subdte:DetermineRootTopicFromNotifyRequest"/>
    </message>
    <message name="DetermineRootTopicFromNotifyResponseMessage">
        <part name="DetermineRootTopicFromNotify" element="subdte:DetermineRootTopicFromNotifyResponse"/>
    </message>

    <message name="CreateAgencyNotifyCdcBioPackageRequestMessage">
        <part name="CreateAgencyNotifyCdcBioPackage" element="subdte:CreateAgencyNotifyCdcBioPackageRequest"/>
    </message>
    <message name="CreateAgencyNotifyCdcBioPackageResponseMessage">
        <part name="CreateAgencyNotifyCdcBioPackage" element="subdte:CreateAgencyNotifyCdcBioPackageResponse"/>
    </message>
    <message name="CreateAgencySubscribeDocumentRequestMessage">
        <part name="CreateAgencySubscribeDocumentRequest" element="subdte:CreateAgencySubscribeDocumentRequest"/>
    </message>
    <message name="CreateAgencySubscribeDocumentResponseMessage">
        <part name="CreateAgencySubscribeDocumentResponse" element="subdte:CreateAgencySubscribeDocumentResponse"/>
    </message>
    <message name="CreateAgencySubscribeCdcBioPackageRequestMessage">
        <part name="CreateAgencySubscribeCdcBioPackageRequest" element="subdte:CreateAgencySubscribeCdcBioPackageRequest"/>
    </message>
    <message name="CreateAgencySubscribeCdcBioPackageResponseMessage">
        <part name="CreateAgencySubscribeCdcBioPackageResponse" element="subdte:CreateAgencySubscribeCdcBioPackageResponse"/>
    </message>
    <message name="CreateNhinNotifyDocumentRequestMessage">
        <part name="CreateNhinNotifyDocumentRequest" element="subdte:CreateNhinNotifyDocumentRequest"/>
    </message>
    <message name="CreateNhinNotifyDocumentResponseMessage">
        <part name="CreateNhinNotifyDocumentResponse" element="subdte:CreateNhinNotifyDocumentResponse"/>
    </message>
    <message name="CreateNhinNotifyCdcBioPackageRequestMessage">
        <part name="CreateNhinNotifyCdcBioPackageRequest" element="subdte:CreateNhinNotifyCdcBioPackageRequest"/>
    </message>
    <message name="CreateNhinNotifyCdcBioPackageResponseMessage">
        <part name="CreateNhinNotifyCdcBioPackageResponse" element="subdte:CreateNhinNotifyCdcBioPackageResponse"/>
    </message>
    <portType name="NhincComponentInternalSubscriptionDtePortType">
        <operation name="CreateAck">
            <input name="CreateAckRequest" message="tns:CreateAckRequestMessage"/>
            <output name="CreateAckResponse" message="tns:CreateAckResponseMessage"/>
        </operation>
        <operation name="CreateAgencyNotifyDocument">
            <input name="CreateAgencyNotifyDocumentRequest" message="tns:CreateAgencyNotifyDocumentRequestMessage"/>
            <output name="CreateAgencyNotifyDocumentResponse" message="tns:CreateAgencyNotifyDocumentResponseMessage"/>
        </operation>
        <operation name="CreateBaseUnsubscribe">
            <input name="CreateBaseUnsubscribeRequest" message="tns:CreateBaseUnsubscribeRequestMessage"/>
            <output name="CreateBaseUnsubscribeResponse" message="tns:CreateBaseUnsubscribeResponseMessage"/>
        </operation>
        <operation name="CreateChildSubscriptionItem">
            <input name="CreateChildSubscriptionItemRequest" message="tns:CreateChildSubscriptionItemRequestMessage"/>
            <output name="CreateChildSubscriptionItemResponse" message="tns:CreateChildSubscriptionItemResponseMessage"/>
        </operation>
        <operation name="CreateSubscribeResponse">
            <input name="CreateSubscribeResponseRequest" message="tns:CreateSubscribeResponseRequestMessage"/>
            <output name="CreateSubscribeResponseResponse" message="tns:CreateSubscribeResponseResponseMessage"/>
        </operation>
        <operation name="CreateUnsubscribeResponse">
            <input name="CreateUnsubscribeResponseRequest" message="tns:CreateUnsubscribeResponseRequestMessage"/>
            <output name="CreateUnsubscribeResponseResponse" message="tns:CreateUnsubscribeResponseResponseMessage"/>
        </operation>
        <operation name="TransformEntityNotifyDocumentToSubscriptionCriteria">
            <input name="TransformEntityNotifyDocumentToSubscriptionCriteriaRequest" message="tns:TransformEntityNotifyDocumentToSubscriptionCriteriaRequestMessage"/>
            <output name="TransformEntityNotifyDocumentToSubscriptionCriteriaResponse" message="tns:TransformEntityNotifyDocumentToSubscriptionCriteriaResponseMessage"/>
        </operation>
        <operation name="TransformEntitySubscribeDocumentToInternalSubscriptionItem">
            <input name="TransformEntitySubscribeDocumentToInternalSubscriptionItemRequest" message="tns:TransformEntitySubscribeDocumentToInternalSubscriptionItemRequestMessage"/>
            <output name="TransformEntitySubscribeDocumentToInternalSubscriptionItemResponse" message="tns:TransformEntitySubscribeDocumentToInternalSubscriptionItemResponseMessage"/>
        </operation>
        <operation name="TransformEntityUnsubscribeToInternalSubscriptionReference">
            <input name="TransformEntityUnsubscribeToInternalSubscriptionReferenceRequest" message="tns:TransformEntityUnsubscribeToInternalSubscriptionReferenceRequestMessage"/>
            <output name="TransformEntityUnsubscribeToInternalSubscriptionReferenceResponse" message="tns:TransformEntityUnsubscribeToInternalSubscriptionReferenceResponseMessage"/>
        </operation>
        <operation name="TransformInternalSubscriptionItemToNhinSubscribe">
            <input name="TransformInternalSubscriptionItemToNhinSubscribeRequest" message="tns:TransformInternalSubscriptionItemToNhinSubscribeRequestMessage"/>
            <output name="TransformInternalSubscriptionItemToNhinSubscribeResponse" message="tns:TransformInternalSubscriptionItemToNhinSubscribeResponseMessage"/>
        </operation>
        <operation name="TransformNhinNotifyToInternalSubscriptionReference">
            <input name="TransformNhinNotifyToInternalSubscriptionReferenceRequest" message="tns:TransformNhinNotifyToInternalSubscriptionReferenceRequestMessage"/>
            <output name="TransformNhinNotifyToInternalSubscriptionReferenceResponse" message="tns:TransformNhinNotifyToInternalSubscriptionReferenceResponseMessage"/>
        </operation>
        <operation name="TransformNhinSubscribeToInternalSubscribe">
            <input name="TransformNhinSubscribeToInternalSubscribeRequest" message="tns:TransformNhinSubscribeToInternalSubscribeRequestMessage"/>
            <output name="TransformNhinSubscribeToInternalSubscribeResponse" message="tns:TransformNhinSubscribeToInternalSubscribeResponseMessage"/>
        </operation>
        <operation name="TransformUnsubscribeToSubscriptionReference">
            <input name="TransformUnsubscribeToSubscriptionReferenceRequest" message="tns:TransformUnsubscribeToSubscriptionReferenceRequestMessage"/>
            <output name="TransformUnsubscribeToSubscriptionReferenceResponse" message="tns:TransformUnsubscribeToSubscriptionReferenceResponseMessage"/>
        </operation>
        <operation name="TransformNhinSubscribeResponseToSubscriptionReference">
            <input name="TransformNhinSubscribeResponseToSubscriptionReferenceRequest" message="tns:TransformNhinSubscribeResponseToSubscriptionReferenceRequestMessage"/>
            <output name="TransformNhinSubscribeResponseToSubscriptionReferenceResponse" message="tns:TransformNhinSubscribeResponseToSubscriptionReferenceResponseMessage"/>
        </operation>
        <operation name="TransformInternalSubscriptionItemToNhinNotify">
            <input name="TransformInternalSubscriptionItemToNhinNotifyRequest" message="tns:TransformInternalSubscriptionItemToNhinNotifyRequestMessage"/>
            <output name="TransformInternalSubscriptionItemToNhinNotifyResponse" message="tns:TransformInternalSubscriptionItemToNhinNotifyResponseMessage"/>
        </operation>
        <operation name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItem">
            <input name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequest" message="tns:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequestMessage"/>
            <output name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponse" message="tns:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponseMessage"/>
        </operation>
        <operation name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteria">
            <input name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequest" message="tns:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequestMessage"/>
            <output name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponse" message="tns:TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponseMessage"/>
        </operation>
        <operation name="DetermineRootTopicFromNotify">
            <input name="DetermineRootTopicFromNotifyRequest" message="tns:DetermineRootTopicFromNotifyRequestMessage"/>
            <output name="DetermineRootTopicFromNotifyResponse" message="tns:DetermineRootTopicFromNotifyResponseMessage"/>
        </operation>
        <operation name="CreateAgencyNotifyCdcBioPackage">
            <input name="CreateAgencyNotifyCdcBioPackageRequest" message="tns:CreateAgencyNotifyCdcBioPackageRequestMessage"/>
            <output name="CreateAgencyNotifyCdcBioPackageResponse" message="tns:CreateAgencyNotifyCdcBioPackageResponseMessage"/>
        </operation>
        <operation name="CreateAgencySubscribeDocument">
            <input name="CreateAgencySubscribeDocumentRequest" message="tns:CreateAgencySubscribeDocumentRequestMessage"/>
            <output name="CreateAgencySubscribeDocumentResponse" message="tns:CreateAgencySubscribeDocumentResponseMessage"/>
        </operation>
        <operation name="CreateAgencySubscribeCdcBioPackage">
            <input name="CreateAgencySubscribeCdcBioPackageRequest" message="tns:CreateAgencySubscribeCdcBioPackageRequestMessage"/>
            <output name="CreateAgencySubscribeCdcBioPackageResponse" message="tns:CreateAgencySubscribeCdcBioPackageResponseMessage"/>
        </operation>
        <operation name="CreateNhinNotifyDocument">
            <input name="CreateNhinNotifyDocumentRequest" message="tns:CreateNhinNotifyDocumentRequestMessage"/>
            <output name="CreateNhinNotifyDocumentResponse" message="tns:CreateNhinNotifyDocumentResponseMessage"/>
        </operation>
        <operation name="CreateNhinNotifyCdcBioPackage">
            <input name="CreateNhinNotifyCdcBioPackageRequest" message="tns:CreateNhinNotifyCdcBioPackageRequestMessage"/>
            <output name="CreateNhinNotifyCdcBioPackageResponse" message="tns:CreateNhinNotifyCdcBioPackageResponseMessage"/>
        </operation>
    </portType>
    <binding name="NhincComponentInternalSubscriptionDteBinding" type="tns:NhincComponentInternalSubscriptionDtePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateAck">
            <soap:operation soapAction="urn:CreateAck"/>
            <input name="CreateAckRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateAckResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateAgencyNotifyDocument">
            <soap:operation soapAction="urn:CreateAgencyNotifyDocument"/>
            <input name="CreateAgencyNotifyDocumentRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateAgencyNotifyDocumentResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateBaseUnsubscribe">
            <soap:operation soapAction="urn:CreateBaseUnsubscribe"/>
            <input name="CreateBaseUnsubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateBaseUnsubscribeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateChildSubscriptionItem">
            <soap:operation soapAction="urn:CreateChildSubscriptionItem"/>
            <input name="CreateChildSubscriptionItemRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateChildSubscriptionItemResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateSubscribeResponse">
            <soap:operation soapAction="urn:CreateSubscribeResponse"/>
            <input name="CreateSubscribeResponseRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateSubscribeResponseResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateUnsubscribeResponse">
            <soap:operation soapAction="urn:CreateUnsubscribeResponse"/>
            <input name="CreateUnsubscribeResponseRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateUnsubscribeResponseResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityNotifyDocumentToSubscriptionCriteria">
            <soap:operation soapAction="urn:TransformEntityNotifyDocumentToSubscriptionCriteria"/>
            <input name="TransformEntityNotifyDocumentToSubscriptionCriteriaRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityNotifyDocumentToSubscriptionCriteriaResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntitySubscribeDocumentToInternalSubscriptionItem">
            <soap:operation soapAction="urn:TransformEntitySubscribeDocumentToInternalSubscriptionItem"/>
            <input name="TransformEntitySubscribeDocumentToInternalSubscriptionItemRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntitySubscribeDocumentToInternalSubscriptionItemResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityUnsubscribeToInternalSubscriptionReference">
            <soap:operation soapAction="urn:TransformEntityUnsubscribeToInternalSubscriptionReference"/>
            <input name="TransformEntityUnsubscribeToInternalSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityUnsubscribeToInternalSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformInternalSubscriptionItemToNhinSubscribe">
            <soap:operation soapAction="urn:TransformInternalSubscriptionItemToNhinSubscribe"/>
            <input name="TransformInternalSubscriptionItemToNhinSubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformInternalSubscriptionItemToNhinSubscribeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinNotifyToInternalSubscriptionReference">
            <soap:operation soapAction="urn:TransformNhinNotifyToInternalSubscriptionReference"/>
            <input name="TransformNhinNotifyToInternalSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinNotifyToInternalSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinSubscribeToInternalSubscribe">
            <soap:operation soapAction="urn:TransformNhinSubscribeToInternalSubscribe"/>
            <input name="TransformNhinSubscribeToInternalSubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinSubscribeToInternalSubscribeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformUnsubscribeToSubscriptionReference">
            <soap:operation soapAction="urn:TransformUnsubscribeToSubscriptionReference"/>
            <input name="TransformUnsubscribeToSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformUnsubscribeToSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinSubscribeResponseToSubscriptionReference">
            <soap:operation soapAction="urn:TransformNhinSubscribeResponseToSubscriptionReference"/>
            <input name="TransformNhinSubscribeResponseToSubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinSubscribeResponseToSubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformInternalSubscriptionItemToNhinNotify">
            <soap:operation soapAction="urn:TransformInternalSubscriptionItemToNhinNotify"/>
            <input name="TransformInternalSubscriptionItemToNhinNotifyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformInternalSubscriptionItemToNhinNotifyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItem">
            <soap:operation soapAction="urn:TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItem"/>
            <input name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntitySubscribeCdcBioPackageToInternalSubscriptionItemResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteria">
            <soap:operation soapAction="urn:TransformEntityNotifyCdcBioPackageToSubscriptionCriteria"/>
            <input name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityNotifyCdcBioPackageToSubscriptionCriteriaResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DetermineRootTopicFromNotify">
            <soap:operation soapAction="urn:DetermineRootTopicFromNotify"/>
            <input name="DetermineRootTopicFromNotifyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DetermineRootTopicFromNotifyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateAgencyNotifyCdcBioPackage">
            <soap:operation soapAction="urn:CreateAgencyNotifyCdcBioPackage"/>
            <input name="CreateAgencyNotifyCdcBioPackageRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateAgencyNotifyCdcBioPackageResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateAgencySubscribeDocument">
            <soap:operation soapAction="urn:CreateAgencySubscribeDocument"/>
            <input name="CreateAgencySubscribeDocumentRequest">
                <soap:body/>
            </input>
            <output name="CreateAgencySubscribeDocumentResponse">
                <soap:body/>
            </output>
        </operation>
        <operation name="CreateAgencySubscribeCdcBioPackage">
            <soap:operation soapAction="urn:CreateAgencySubscribeCdcBioPackage"/>
            <input name="CreateAgencySubscribeCdcBioPackageRequest">
                <soap:body/>
            </input>
            <output name="CreateAgencySubscribeCdcBioPackageResponse">
                <soap:body/>
            </output>
        </operation>
        <operation name="CreateNhinNotifyDocument">
            <soap:operation soapAction="urn:CreateNhinNotifyDocument"/>
            <input name="CreateNhinNotifyDocumentRequest">
                <soap:body/>
            </input>
            <output name="CreateNhinNotifyDocumentResponse">
                <soap:body/>
            </output>
        </operation>
        <operation name="CreateNhinNotifyCdcBioPackage">
            <soap:operation soapAction="urn:CreateNhinNotifyCdcBioPackage"/>
            <input name="CreateNhinNotifyCdcBioPackageRequest">
                <soap:body/>
            </input>
            <output name="CreateNhinNotifyCdcBioPackageResponse">
                <soap:body/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentInternalSubscriptionDteService">
        <port name="NhincComponentInternalSubscriptionDtePort" binding="tns:NhincComponentInternalSubscriptionDteBinding">
            <soap:address location="http://localhost:${NhincHttpPort}/NhincComponentInternalSubscriptionDteService/SubscriptionDteService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentInternalSubscriptionDte">
        <plnk:role name="NhincComponentInternalSubscriptionDtePortTypeRole" portType="tns:NhincComponentInternalSubscriptionDtePortType"/>
    </plnk:partnerLinkType>
</definitions>
