Product/Production/Common/Interfaces/src/wsdl/NhincComponentAuditLogDte.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentAuditLogDte" 
targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentaditlogdte"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentaditlogdte" 
    xmlns:auditlog="urn:gov:hhs:fha:nhinc:common:auditlog" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:adtmsg="http://nhinc.services.com/schema/auditmessage" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:hiemauditlog="urn:gov:hhs:fha:nhinc:common:hiemauditlog">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Interfaces/NhincComponentAuditLogDte">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:auditlog" schemaLocation="../schemas/nhinc/common/AuditLog.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentaditlogdte">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:hiemauditlog" schemaLocation="../schemas/nhinc/common/HiemAuditLog.xsd"/>
        </xsd:schema>
    </types>
    <message name="TransformSubjectAddedToGenericAuditRequestMessage">
        <part name="TransformSubjectAddedToGenericAuditRequest" element="auditlog:LogSubjectAddedRequest"/>
    </message>
    <message name="GenericAuditMessage">
        <part name="GenericAuditResponse" element="auditlog:LogEventRequest"/>
    </message>
    <message name="TransformSubjectRevisedToGenericAuditRequestMessage">
        <part name="TransformSubjectRevisedToGenericAuditRequest" element="auditlog:LogSubjectRevisedRequest"/>
    </message>
 <!--   <message name="TransformSubjectRevokedToGenericAuditRequestMessage">
        <part name="TransformSubjectRevokedToGenericAuditRequest" element="auditlog:LogSubjectRevokedRequest"/>
    </message>-->
    <message name="TransformAdhocQueryRequestToGenericAuditRequestMessage">
        <part name="TransformAdhocQueryRequestToGenericAuditRequest" element="auditlog:LogAdhocQueryRequest"/>
    </message>
    <message name="TransformAdhocQueryResponseToGenericAuditRequestMessage">
        <part name="TransformAdhocQueryResponseToGenericAuditResponse" element="auditlog:LogAdhocQueryResultRequest"/>
    </message>
    <message name="TransformDocRetrieveRequestToGenericAuditRequestMessage">
        <part name="TransformDocRetrieveRequestToGenericAuditRequest" element="auditlog:LogDocRetrieveRequest"/>
    </message>
    <message name="TransformDocRetrieveResponseToGenericAuditRequestMessage">
        <part name="TransformDocRetrieveResponseToGenericAuditRequest" element="auditlog:LogDocRetrieveResultRequest"/>
    </message>
    <message name="TransformFindAuditEventsToGenericAuditRequestMessage">
        <part name="TransformFindAuditEventsToGenericAuditRequest" element="auditlog:LogFindAuditEventsRequest"/>
    </message>
    <message name="TransformAckToGenericAuditRequestMessage">
        <part name="TransformAckToGenericAuditRequest" element="auditlog:LogNhinSubjectDiscoveryAckRequest"/>
    </message>
    <message name="TransformSubjectReidentRequestToGenericAuditRequestMessage">
        <part name="TransformSubjectReidentRequestToGenericAuditRequest" element="auditlog:LogSubjectReidentificationRequest"/>
    </message>
    <message name="TransformSubjectReidentResponseToGenericAuditRequestMessage">
        <part name="TransformSubjectReidentResponseTpGenericAuditRequest" element="auditlog:LogSubjectReidentificationResponse"/>
    </message>
    <message name="TransformNhinSubscribeRequestToGenericAuditRequestMessage">
        <part name="TransformNhinSubscribeRequestToGenericAuditRequest" element="hiemauditlog:LogNhinSubscribeRequest"/>
    </message>
    <message name="TransformNhinNotifyRequestToGenericAuditRequestMessage">
        <part name="TransformNhinNotifyRequestToGenericAuditRequest" element="hiemauditlog:LogNhinNotifyRequest"/>
    </message>
    <message name="TransformNhinUnsubscribeRequestToGenericAuditRequestMessage">
        <part name="TransformNhinUnsubscribeRequestToGenericAuditRequest" element="hiemauditlog:LogNhinUnsubscribeRequest"/>
    </message>
    <message name="TransformUnsubscribeResponseToGenericAuditRequestMessage">
        <part name="TransformUnsubscribeResponseToGenericAuditRequest" element="hiemauditlog:LogUnsubscribeResponse"/>
    </message>
    <message name="TransformSubscribeResponseToGenericAuditRequestMessage">
        <part name="TransformSubscribeResponseToGenericAuditRequest" element="hiemauditlog:LogSubscribeResponse"/>
    </message>
    <message name="TransformEntityDocSubscribeRequestToGenericAuditRequestMessage">
        <part name="TransformEntityDocSubscribeRequestToGenericAuditRequest" element="hiemauditlog:LogEntityDocumentSubscribeRequest"/>
    </message>
    <message name="TransformEntityCdcSubscribeRequestToGenericAuditRequestMessage">
        <part name="TransformEntityCdcSubscribeRequestToGenericAuditRequest" element="hiemauditlog:LogEntityCdcSubscribeRequest"/>
    </message>
    <message name="TransformEntityDocNotifyRequestToGenericAuditRequestMessage">
        <part name="TransformEntityDocNotifyRequestToGenericAuditRequest" element="hiemauditlog:LogEntityDocumentNotifyRequest"/>
    </message>
    <message name="TransformEntityCdcNotifyRequestToGenericAuditRequestMessage">
        <part name="TransformEntityCdcNotifyRequestToGenericAuditRequest" element="hiemauditlog:LogEntityCdcNotifyRequest"/>
    </message>
    <message name="TransformEntityNotifyResponseToGenericAuditRequestMessage">
        <part name="TransformEntityNotifyResponseToGenericAuditRequest" element="hiemauditlog:LogEntityNotifyResponse"/>
    </message>
    <message name="TransformEntityUnsubscribeRequestToGenericAuditRequestMessage">
        <part name="TransformEntityUnsubscribeRequestToGenericAuditRequest" element="hiemauditlog:LogEntityUnsubscribeRequest"/>
    </message>
    <portType name="NhincComponentAuditLogDtePortType">
        <operation name="TransformSubjectAddedToGenericAudit">
            <input name="TransformSubjectAddedToGenericAuditRequest" message="tns:TransformSubjectAddedToGenericAuditRequestMessage"/>
            <output name="TransformSubjectAddedToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformSubjectRevisedToGenericAudit">
            <input name="TransformSubjectRevisedToGenericAuditRequest" message="tns:TransformSubjectRevisedToGenericAuditRequestMessage"/>
            <output name="TransformSubjectRevisedToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
<!--        <operation name="TransformSubjectRevokedToGenericAudit">
            <input name="TransformSubjectRevokedToGenericAuditRequest" message="tns:TransformSubjectRevokedToGenericAuditRequestMessage"/>
            <output name="TransformSubjectRevokedToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>-->
        <operation name="TransformAdhocQueryRequestToGenericAudit">
            <input name="TransformAdhocQueryRequestToGenericAuditRequest" message="tns:TransformAdhocQueryRequestToGenericAuditRequestMessage"/>
            <output name="TransformAdhocQueryRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformAdhocQueryResponseToGenericAudit">
            <input name="TransformAdhocQueryResponseToGenericAuditRequest" message="tns:TransformAdhocQueryResponseToGenericAuditRequestMessage"/>
            <output name="TransformAdhocQueryResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformDocRetrieveRequestToGenericAudit">
            <input name="TransformDocRetrieveRequestToGenericAuditRequest" message="tns:TransformDocRetrieveRequestToGenericAuditRequestMessage"/>
            <output name="TransformDocRetrieveRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformDocRetrieveResponseToGenericAudit">
            <input name="TransformDocRetrieveResponseToGenericAuditRequest" message="tns:TransformDocRetrieveResponseToGenericAuditRequestMessage"/>
            <output name="TransformDocRetrieveResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformFindAuditEventsToGenericAudit">
            <input name="TransformFindAuditEventsToGenericAuditRequest" message="tns:TransformFindAuditEventsToGenericAuditRequestMessage"/>
            <output name="TransformFindAuditEventsToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformAckToGenericAudit">
            <input name="TransformAckToGenericAuditRequest" message="tns:TransformAckToGenericAuditRequestMessage"/>
            <output name="TransformAckToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformSubjectReidentRequestToGenericAudit">
            <input name="TransformSubjectReidentRequestToGenericAuditRequest" message="tns:TransformSubjectReidentRequestToGenericAuditRequestMessage"/>
            <output name="TransformSubjectReidentRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformSubjectReidentResponseToGenericAudit">
            <input name="TransformSubjectReidentResponseToGenericAuditRequest" message="tns:TransformSubjectReidentResponseToGenericAuditRequestMessage"/>
            <output name="TransformSubjectReidentResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformNhinSubscribeRequestToGenericAudit">
            <input name="TransformNhinSubscribeRequestToGenericAuditRequest" message="tns:TransformNhinSubscribeRequestToGenericAuditRequestMessage"/>
            <output name="TransformNhinSubscribeRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformNhinNotifyRequestToGenericAudit">
            <input name="TransformNhinNotifyRequestToGenericAuditRequest" message="tns:TransformNhinNotifyRequestToGenericAuditRequestMessage"/>
            <output name="TransformNhinNotifyRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformNhinUnsubscribeRequestToGenericAudit">
            <input name="TransformNhinUnsubscribeRequestToGenericAuditRequest" message="tns:TransformNhinUnsubscribeRequestToGenericAuditRequestMessage"/>
            <output name="TransformNhinUnsubscribeRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformUnsubscribeResponseToGenericAudit">
            <input name="TransformUnsubscribeResponseToGenericAuditRequest" message="tns:TransformUnsubscribeResponseToGenericAuditRequestMessage"/>
            <output name="TransformUnsubscribeResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformSubscribeResponseToGenericAudit">
            <input name="TransformSubscribeResponseToGenericAuditRequest" message="tns:TransformSubscribeResponseToGenericAuditRequestMessage"/>
            <output name="TransformSubscribeResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformEntityDocSubscribeRequestToGenericAudit">
            <input name="TransformEntityDocSubscribeRequestToGenericAuditRequest" message="tns:TransformEntityDocSubscribeRequestToGenericAuditRequestMessage"/>
            <output name="TransformEntityDocSubscribeRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformEntityCdcSubscribeRequestToGenericAudit">
            <input name="TransformEntityCdcSubscribeRequestToGenericAuditRequest" message="tns:TransformEntityCdcSubscribeRequestToGenericAuditRequestMessage"/>
            <output name="TransformEntityCdcSubscribeRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>        
        <operation name="TransformEntityDocNotifyRequestToGenericAudit">
            <input name="TransformEntityDocNotifyRequestToGenericAuditRequest" message="tns:TransformEntityDocNotifyRequestToGenericAuditRequestMessage"/>
            <output name="TransformEntityDocNotifyRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformEntityCdcNotifyRequestToGenericAudit">
            <input name="TransformEntityCdcNotifyRequestToGenericAuditRequest" message="tns:TransformEntityCdcNotifyRequestToGenericAuditRequestMessage"/>
            <output name="TransformEntityCdcNotifyRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformEntityNotifyResponseToGenericAudit">
            <input name="TransformEntityNotifyResponseToGenericAuditRequest" message="tns:TransformEntityNotifyResponseToGenericAuditRequestMessage"/>
            <output name="TransformEntityNotifyResponseToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
        <operation name="TransformEntityUnsubscribeRequestToGenericAudit">
            <input name="TransformEntityUnsubscribeRequestToGenericAuditRequest" message="tns:TransformEntityUnsubscribeRequestToGenericAuditRequestMessage"/>
            <output name="TransformEntityUnsubscribeRequestToGenericAuditResponse" message="tns:GenericAuditMessage"/>
        </operation>
    </portType>
    <binding name="NhincComponentAuditLogDteBinding" type="tns:NhincComponentAuditLogDtePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TransformSubjectAddedToGenericAudit">
            <soap:operation soapAction="urn:TransformSubjectAddedToGenericAuditRequest"/>
            <input name="TransformSubjectAddedToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectAddedToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubjectRevisedToGenericAudit">
            <soap:operation soapAction="urn:TransformSubjectRevisedToGenericAudit"/>
            <input name="TransformSubjectRevisedToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectRevisedToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
  <!--      <operation name="TransformSubjectRevokedToGenericAudit">
            <soap:operation soapAction="urn:TransformSubjectRevokedToGenericAudit"/>
            <input name="TransformSubjectRevokedToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectRevokedToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>-->
        <operation name="TransformAdhocQueryRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformAdhocQueryRequestToGenericAudit"/>
            <input name="TransformAdhocQueryRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformAdhocQueryRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformAdhocQueryResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformAdhocQueryResponseToGenericAudit"/>
            <input name="TransformAdhocQueryResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformAdhocQueryResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformDocRetrieveRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformDocRetrieveRequestToGenericAudit"/>
            <input name="TransformDocRetrieveRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformDocRetrieveRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformDocRetrieveResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformDocRetrieveResponseToGenericAudit"/>
            <input name="TransformDocRetrieveResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformDocRetrieveResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformFindAuditEventsToGenericAudit">
            <soap:operation soapAction="urn:TransformFindAuditEventsToGenericAudit"/>
            <input name="TransformFindAuditEventsToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformFindAuditEventsToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformAckToGenericAudit">
            <soap:operation soapAction="urn:TransformAckToGenericAudit"/>
            <input name="TransformAckToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformAckToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
                <operation name="TransformSubjectReidentRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformSubjectReidentRequestToGenericAuditRequest"/>
            <input name="TransformSubjectReidentRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectReidentRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubjectReidentResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformSubjectReidentResponseToGenericAuditRequest"/>
            <input name="TransformSubjectReidentResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectReidentResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinSubscribeRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformNhinSubscribeRequestToGenericAudit"/>
            <input name="TransformNhinSubscribeRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinSubscribeRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinNotifyRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformNhinNotifyRequestToGenericAudit"/>
            <input name="TransformNhinNotifyRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinNotifyRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNhinUnsubscribeRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformNhinUnsubscribeRequestToGenericAudit"/>
            <input name="TransformNhinUnsubscribeRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNhinUnsubscribeRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformUnsubscribeResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformUnsubscribeResponseToGenericAudit"/>
            <input name="TransformUnsubscribeResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformUnsubscribeResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubscribeResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformSubscribeResponseToGenericAudit"/>
            <input name="TransformSubscribeResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubscribeResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityDocSubscribeRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityDocSubscribeRequestToGenericAudit"/>
            <input name="TransformEntityDocSubscribeRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityDocSubscribeRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityCdcSubscribeRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityCdcSubscribeRequestToGenericAudit"/>
            <input name="TransformEntityCdcSubscribeRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityCdcSubscribeRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityDocNotifyRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityDocNotifyRequestToGenericAudit"/>
            <input name="TransformEntityDocNotifyRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityDocNotifyRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityCdcNotifyRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityCdcNotifyRequestToGenericAudit"/>
            <input name="TransformEntityCdcNotifyRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityCdcNotifyRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityNotifyResponseToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityNotifyResponseToGenericAudit"/>
            <input name="TransformEntityNotifyResponseToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityNotifyResponseToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformEntityUnsubscribeRequestToGenericAudit">
            <soap:operation soapAction="urn:TransformEntityUnsubscribeRequestToGenericAudit"/>
            <input name="TransformEntityUnsubscribeRequestToGenericAuditRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformEntityUnsubscribeRequestToGenericAuditResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentAuditLogDteService">
        <port name="NhincComponentAuditLogDtePort" binding="tns:NhincComponentAuditLogDteBinding">
            <soap:address location="http://localhost:${NhincHttpPort}/NhinConnect/NhincComponentAuditLogDte"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentAuditLogDte">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentAuditLogDtePortTypeRole" portType="tns:NhincComponentAuditLogDtePortType"/>
    </plnk:partnerLinkType>
</definitions>
