Product/Production/Common/Interfaces/src/wsdl/NhincComponentLiftManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentliftmanager" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:lift="urn:gov:hhs:fha:nhinc:gateway:lift" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" name="NhincComponentLiftManager" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentliftmanager">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentliftmanager">
			<xsd:import namespace="urn:gov:hhs:fha:nhinc:gateway:lift" schemaLocation="../schemas/nhinc/gateway/GatewayLift.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<message name="StartLiftTransactionRequestMessage">
		<part name="StartLiftTransactionRequest" element="lift:StartLiftTransactionRequest"/>
	</message>
	<message name="StartLiftTransactionResponseMessage">
		<part name="StartLiftTransactionResponse" element="lift:StartLiftTransactionResponse"/>
	</message>
	<message name="CompleteLiftTransactionRequestMessage">
		<part name="CompleteLiftTransactionRequest" element="lift:CompleteLiftTransactionRequest"/>
	</message>
	<message name="CompleteLiftTransactionResponseMessage">
		<part name="CompleteLiftTransactionResponse" element="lift:CompleteLiftTransactionResponse"/>
	</message>
	<message name="FailedLiftTransactionRequestMessage">
		<part name="FailedLiftTransactionRequest" element="lift:FailedLiftTransactionRequest"/>
	</message>
	<message name="FailedLiftTransactionResponseMessage">
		<part name="FailedLiftTransactionResponse" element="lift:FailedLiftTransactionResponse"/>
	</message>
	<portType name="NhincComponentLiftManagerPortType">
		<operation name="StartLiftTransaction">
			<input name="StartLiftTransactionRequest" message="tns:StartLiftTransactionRequestMessage"/>
			<output name="StartLiftTransactionResponse" message="tns:StartLiftTransactionResponseMessage"/>
		</operation>
		<operation name="CompleteLiftTransaction">
			<input name="CompleteLiftTransactionRequest" message="tns:CompleteLiftTransactionRequestMessage"/>
			<output name="CompleteLiftTransactionResponse" message="tns:CompleteLiftTransactionResponseMessage"/>
		</operation>
		<operation name="FailedLiftTransaction">
			<input name="FailedLiftTransactionRequest" message="tns:FailedLiftTransactionRequestMessage"/>
			<output name="FailedLiftTransactionResponse" message="tns:FailedLiftTransactionResponseMessage"/>
		</operation>
	</portType>
	<binding name="NhincComponentLiftManagerBindingSoap" type="tns:NhincComponentLiftManagerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="StartLiftTransaction">
			<soap:operation soapAction="urn:StartLiftTransaction"/>
			<input name="StartLiftTransactionRequest">
				<soap:body use="literal"/>
			</input>
			<output name="StartLiftTransactionResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CompleteLiftTransaction">
			<soap:operation soapAction="urn:CompleteLiftTransaction"/>
			<input name="CompleteLiftTransactionRequest">
				<soap:body use="literal"/>
			</input>
			<output name="CompleteLiftTransactionResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="FailedLiftTransaction">
			<soap:operation soapAction="urn:FailedLiftTransaction"/>
			<input name="FailedLiftTransactionRequest">
				<soap:body use="literal"/>
			</input>
			<output name="FailedLiftTransactionResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="NhincComponentLiftManager">
		<port name="NhincComponentLiftManagerPort" binding="tns:NhincComponentLiftManagerBindingSoap">
			<soap:address location="http://localhost:${NhincHttpPort}/NhinConnect/NhincComponentLiftManager"/>
		</port>
	</service>
	<plnk:partnerLinkType name="NhincComponentLiftManager">
		<plnk:role name="NhincComponentLiftManagerPortTypeRole" portType="tns:NhincComponentLiftManagerPortType"/>
	</plnk:partnerLinkType>
</definitions>
