Product/Production/Common/Interfaces/src/wsdl/NhincComponentPatientCorrelation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PatientCorrelation" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ncpc="urn:gov:hhs:fha:nhinc:common:patientcorrelation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:hl7="urn:hl7-org:v3" xmlns:pc="urn:hl7-org:v3">
	<types>
		<xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation">
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/nhinc/common/PatientCorrelation.xsd"/>
		</xsd:schema>
	</types>
	<message name="RetrievePatientCorrelationsRequestMessage">
		<part name="RetrievePatientCorrelationsRequest" element="pc:RetrievePatientCorrelationsRequest"/>
	</message>
	<message name="RetrievePatientCorrelationsResponseMessage">
		<part name="RetrievePatientCorrelationsResponse" element="pc:RetrievePatientCorrelationsResponse"/>
	</message>
	<message name="AddPatientCorrelationRequestMessage">
		<part name="AddPatientCorrelationRequest" element="pc:AddPatientCorrelationRequest"/>
	</message>
	<message name="AddPatientCorrelationResponseMessage">
		<part name="AddPatientCorrelationResponse" element="pc:AddPatientCorrelationResponse"/>
	</message>
	<portType name="PatientCorrelationPortType">
		<operation name="RetrievePatientCorrelations">
			<input name="RetrievePatientCorrelationsRequest" message="tns:RetrievePatientCorrelationsRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation:RetrievePatientCorrelationsRequestMessage"/>
			<output name="RetrievePatientCorrelationsResponse" message="tns:RetrievePatientCorrelationsResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation:RetrievePatientCorrelationsResponseMessage"/>
		</operation>
		<operation name="AddPatientCorrelation">
			<input name="AddPatientCorrelationRequest" message="tns:AddPatientCorrelationRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation:AddPatientCorrelationRequestMessage"/>
			<output name="AddPatientCorrelationResponse" message="tns:AddPatientCorrelationResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentpatientcorrelation:AddPatientCorrelationResponseMessage"/>
		</operation>
	</portType>
	<binding name="PatientCorrelationBinding" type="tns:PatientCorrelationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RetrievePatientCorrelations">
			<soap:operation soapAction="RetrievePatientCorrelations"/>
			<input name="RetrievePatientCorrelationsRequest">
				<soap:body use="literal"/>
			</input>
			<output name="RetrievePatientCorrelationsResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AddPatientCorrelation">
			<soap:operation soapAction="AddPatientCorrelation"/>
			<input name="AddPatientCorrelationRequest">
				<soap:body use="literal"/>
			</input>
			<output name="AddPatientCorrelationResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PatientCorrelationService">
		<port name="PatientCorrelationPort" binding="tns:PatientCorrelationBinding">
			<soap:address location="http://localhost:${NhincHttpPort}/PatientCorrelationService"/>
		</port>
	</service>
	<plnk:partnerLinkType name="PatientCorrelation">
		<plnk:role name="PatientCorrelationPortTypeRole" portType="tns:PatientCorrelationPortType"/>
	</plnk:partnerLinkType>
</definitions>
