Product/Production/Common/Interfaces/src/wsdl/NhincComponentInternalPolicyEngineTransform.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincInternalComponentPolicyEngineTransform" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform" 
    xmlns:pdte="urn:gov:hhs:fha:nhinc:common:policyenginedte" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:nccommadapt="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhincinternalcomponentpolicyenginetransform">
            <xsd:import schemaLocation="../schemas/nhinc/common/PolicyEngineDte.xsd" namespace="urn:gov:hhs:fha:nhinc:common:policyenginedte"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter" schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
        </xsd:schema>
    </types>
    <message name="TransformSubjectAddedToCheckPolicyRequestMessage">
        <part name="TransformSubjectAddedToCheckPolicyRequest" element="pdte:TransformSubjectAddedToCheckPolicyRequest"/>
    </message>
    <message name="TransformResponseMessage">
        <part name="TransformResponse" element="nccommadapt:CheckPolicyRequest"/>
    </message>
    <message name="TransformSubjectRevisedToCheckPolicyRequestMessage">
        <part name="TransformSubjectRevisedToCheckPolicyRequest" element="pdte:TransformSubjectRevisedToCheckPolicyRequest"/>
    </message>
 <!--   <message name="TransformSubjectRevokedToCheckPolicyRequestMessage">
        <part name="TransformSubjectRevokedToCheckPolicyRequest" element="pdte:TransformSubjectRevokedToCheckPolicyRequest"/>
    </message>-->
    <message name="TransformAdhocQueryToCheckPolicyRequestMessage">
        <part name="TransformAdhocQueryToCheckPolicyRequest" element="pdte:TransformAdhocQueryToCheckPolicyRequest"/>
    </message>
    <message name="TransformAdhocQueryResultToCheckPolicyRequestMessage">
        <part name="TransformAdhocQueryResultToCheckPolicyRequest" element="pdte:TransformAdhocQueryResultToCheckPolicyRequest"/>
    </message>
    <message name="TransformDocRetrieveToCheckPolicyRequestMessage">
        <part name="TransformDocRetrieveToCheckPolicyRequest" element="pdte:TransformDocRetrieveToCheckPolicyRequest"/>
    </message>
    <message name="TransformDocRetrieveResultToCheckPolicyRequestMessage">
        <part name="TransformDocRetrieveResultToCheckPolicyRequest" element="pdte:TransformDocRetrieveResultToCheckPolicyRequest"/>
    </message>
    <message name="TransformFindAuditEventsToCheckPolicyRequestMessage">
        <part name="TransformFindAuditEventsToCheckPolicyRequest" element="pdte:TransformFindAuditEventsToCheckPolicyRequest"/>
    </message>
    <message name="TransformSubjectReidentificationToCheckPolicyRequestMessage">
        <part name="TransformSubjectReidentificationToCheckPolicyRequest" element="pdte:TransformSubjectReidentificationToCheckPolicyRequest"/>
    </message>
    <message name="TransformSubscribeToCheckPolicyRequestMessage">
        <part name="TransformSubscribeToCheckPolicyRequest" element="pdte:TransformSubscribeToCheckPolicyRequest"/>
    </message>
    <message name="TransformUnsubscribeToCheckPolicyRequestMessage">
        <part name="TransformUnsubscribeToCheckPolicyRequest" element="pdte:TransformUnsubscribeToCheckPolicyRequest"/>
    </message>
    <message name="TransformNotifyToCheckPolicyRequestMessage">
        <part name="TransformNotifyToCheckPolicyRequest" element="pdte:TransformNotifyToCheckPolicyRequest"/>
    </message>
    
    <portType name="NhincInternalComponentPolicyEngineTransformPortType">
        <operation name="TransformSubjectAddedToCheckPolicy">
            <input name="TransformSubjectAddedToCheckPolicyRequest" message="tns:TransformSubjectAddedToCheckPolicyRequestMessage"/>
            <output name="TransformSubjectAddedToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformSubjectRevisedToCheckPolicy">
            <input name="TransformSubjectRevisedToCheckPolicyRequest" message="tns:TransformSubjectRevisedToCheckPolicyRequestMessage"/>
            <output name="TransformSubjectRevisedToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
<!--        <operation name="TransformSubjectRevokedToCheckPolicy">
            <input name="TransformSubjectRevokedToCheckPolicyRequest" message="tns:TransformSubjectRevokedToCheckPolicyRequestMessage"/>
            <output name="TransformSubjectRevokedToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>-->
        <operation name="TransformAdhocQueryToCheckPolicy">
            <input name="TransformAdhocQueryToCheckPolicyRequest" message="tns:TransformAdhocQueryToCheckPolicyRequestMessage"/>
            <output name="TransformAdhocQueryToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformAdhocQueryResultToCheckPolicy">
            <input name="TransformAdhocQueryResultToCheckPolicyRequest" message="tns:TransformAdhocQueryResultToCheckPolicyRequestMessage"/>
            <output name="TransformAdhocQueryResultToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformDocRetrieveToCheckPolicy">
            <input name="TransformDocRetrieveToCheckPolicyRequest" message="tns:TransformDocRetrieveToCheckPolicyRequestMessage"/>
            <output name="TransformDocRetrieveToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformDocRetrieveResultToCheckPolicy">
            <input name="TransformDocRetrieveResultToCheckPolicyRequest" message="tns:TransformDocRetrieveResultToCheckPolicyRequestMessage"/>
            <output name="TransformDocRetrieveResultToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformFindAuditEventsToCheckPolicy">
            <input name="TransformFindAuditEventsToCheckPolicyRequest" message="tns:TransformFindAuditEventsToCheckPolicyRequestMessage"/>
            <output name="TransformFindAuditEventsToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformSubjectReidentificationToCheckPolicy">
            <input name="TransformSubjectReidentificationToCheckPolicyRequest" message="tns:TransformSubjectReidentificationToCheckPolicyRequestMessage"/>
            <output name="TransformSubjectReidentificationToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformSubscribeToCheckPolicy">
            <input name="TransformSubscribeToCheckPolicyRequest" message="tns:TransformSubscribeToCheckPolicyRequestMessage"/>
            <output name="TransformSubscribeToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformUnsubscribeToCheckPolicy">
            <input name="TransformUnsubscribeToCheckPolicyRequest" message="tns:TransformUnsubscribeToCheckPolicyRequestMessage"/>
            <output name="TransformUnsubscribeToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
        <operation name="TransformNotifyToCheckPolicy">
            <input name="TransformNotifyToCheckPolicyRequest" message="tns:TransformNotifyToCheckPolicyRequestMessage"/>
            <output name="TransformNotifyToCheckPolicyResponse" message="tns:TransformResponseMessage"/>
        </operation>
    </portType>
    <binding name="NhincInternalComponentPolicyEngineTransformPortTypeBinding" type="tns:NhincInternalComponentPolicyEngineTransformPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TransformSubjectAddedToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubjectAddedToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectAddedToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubjectRevisedToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubjectRevisedToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectRevisedToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
   <!--     <operation name="TransformSubjectRevokedToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubjectRevokedToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectRevokedToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>-->
        <operation name="TransformAdhocQueryToCheckPolicy">
            <soap:operation/>
            <input name="TransformAdhocQueryToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformAdhocQueryToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformAdhocQueryResultToCheckPolicy">
            <soap:operation/>
            <input name="TransformAdhocQueryResultToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformAdhocQueryResultToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformDocRetrieveToCheckPolicy">
            <soap:operation/>
            <input name="TransformDocRetrieveToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformDocRetrieveToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformDocRetrieveResultToCheckPolicy">
            <soap:operation/>
            <input name="TransformDocRetrieveResultToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformDocRetrieveResultToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformFindAuditEventsToCheckPolicy">
            <soap:operation/>
            <input name="TransformFindAuditEventsToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformFindAuditEventsToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubjectReidentificationToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubjectReidentificationToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubjectReidentificationToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformSubscribeToCheckPolicy">
            <soap:operation/>
            <input name="TransformSubscribeToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformSubscribeToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformUnsubscribeToCheckPolicy">
            <soap:operation/>
            <input name="TransformUnsubscribeToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformUnsubscribeToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="TransformNotifyToCheckPolicy">
            <soap:operation/>
            <input name="TransformNotifyToCheckPolicyRequest">
                <soap:body use="literal"/>
            </input>
            <output name="TransformNotifyToCheckPolicyResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentInternalPolicyEngineTransformService">
        <port name="NhincInternalComponentPolicyEngineTransformPort" binding="tns:NhincInternalComponentPolicyEngineTransformPortTypeBinding">
            <soap:address location="http://localhost:${NhincHttpPort}/NhinConnect/PolicyEngineGatewayTransformationService"/>
        </port>
    </service>
</definitions>
