Product/Production/Common/Interfaces/src/wsdl/NhincComponentAuditRepositorySecured.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AuditRepositoryManager" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository" 
    xmlns:ns="http://nhinc.services.com/schema/auditmessage" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:audit="urn:gov:hhs:fha:nhinc:common:auditlog"
    xmlns:nccomadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository">
            <xsd:import schemaLocation="../schemas/nhinc/common/AuditLog.xsd"
                        namespace="urn:gov:hhs:fha:nhinc:common:auditlog" />
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter" schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
        </xsd:schema>
    </types>
    <message name="QueryAuditEventsRequestMessage">
        <part name="QueryAuditEventsRequest" element="nccomadapter:FindCommunitiesAndAuditEventsRequest"/>
    </message>
    <message name="QueryAuditEventsResponseMessage">
        <part name="QueryAuditEventsResponse" element="nccomadapter:FindCommunitiesAndAuditEventsResponse"/>
    </message>
    <message name="LogEventRequestMessage">
        <part name="LogEventRequest" element="audit:LogEventSecureRequest"/>
    </message>
    <message name="LogEventResponseMessage">
        <part name="LogEventResponse" element="audit:LogEventResponse"/>
    </message>
    <portType name="AuditRepositoryManagerSecuredPortType">
        <operation name="QueryAuditEvents">
            <input name="QueryAuditEventsSecuredRequest"
                   message="tns:QueryAuditEventsRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:QueryAuditEventsSecuredRequest"/>
            <output name="QueryAuditEventsSecuredResponse"
                    message="tns:QueryAuditEventsResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:QueryAuditEventsSecuredResponse"/>
        </operation>
        <operation name="LogEvent">
            <input name="LogEventSecuredRequest" message="tns:LogEventRequestMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:LogEventSecuredRequest"/>
            <output name="LogEventSecuredResponse" message="tns:LogEventResponseMessage" wsaw:Action="urn:gov:hhs:fha:nhinc:nhinccomponentauditrepository:LogEventSecuredResponse"/>
        </operation>
    </portType>
    <binding name="AuditRepositoryManagerSecuredBinding"
             type="tns:AuditRepositoryManagerSecuredPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#AuditRepository_Binding_SoapPolicy"/>
        <operation name="QueryAuditEvents">
            <soap:operation style="document"
                            soapAction="urn:QueryAuditEvents"/>
            <input name="QueryAuditEventsSecuredRequest">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#AuditRepository_Input_Policy"/>
            </input>
            <output name="QueryAuditEventsSecuredResponse">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#AuditRepository_Output_Policy"/>
            </output>
        </operation>
        <operation name="LogEvent">
            <soap:operation soapAction="urn:LogEvent"/>
            <input name="LogEventSecuredRequest">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#AuditRepository_Input_Policy"/>
            </input>
            <output name="LogEventSecuredResponse">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#AuditRepository_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="AuditRepositoryManagerSecuredService">
        <port name="AuditRepositoryManagerSecuredPort"
              binding="tns:AuditRepositoryManagerSecuredBinding">
            <soap:address
                location="https://localhost:${HttpsDefaultPort}/NhinConnect/AuditRepositoryManagerSecuredService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="AuditRepositoryManagerSecured">
        <plnk:role name="AuditRepositoryManagerSecuredPortTypeRole"
                   portType="tns:AuditRepositoryManagerSecuredPortType"/>
    </plnk:partnerLinkType>
    <wsp:Policy wsu:Id="AuditRepository_Binding_SoapPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private"
                     aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreServerAliasSelector"
                     callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
                <sc:TrustStore wspp:visibility="private"
                       callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:EndorsingSupportingTokens>
                    <wsp:Policy>
                        <sp:SamlToken
                sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV20Token11/>
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:RequireSignatureConfirmation/>
                    </wsp:Policy>
                </sp:Wss11>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AuditRepository_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AuditRepository_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>

