Product/Production/Common/Interfaces/src/wsdl/NhincComponentSubDiscTransforms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentSubDiscTransforms" 
    targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentsubdisctransforms"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentsubdisctransforms" 
    xmlns:hl7="urn:hl7-org:v3" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentsubdisctransforms">
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/nhinc/hl7/HL7PatientDiscoveryMessages.xsd"/>
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201305UV02.xsd"/>
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201302UV02.xsd"/>
            <xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/PRPA_IN201310UV02.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateAckRequestMessage">
        <part name="CreateAckRequest" element="hl7:CreateAckMsgRequest"/>
    </message>
    <message name="CreateAckResponseMessage">
        <part name="CreateAckResponse" element="hl7:MCCI_IN000002UV01"/>
    </message>
    <message name="Create201305RequestMessage">
        <part name="Create201305Request" element="hl7:Create201305Request"/>
    </message>
    <message name="Create201305ResponseMessage">
        <part name="Create201305Response" element="hl7:PRPA_IN201305UV02"/>
    </message>
    <message name="Create201302RequestMessage">
        <part name="Create201302Request" element="hl7:Create201302Request"/>
    </message>
    <message name="Create201302ResponseMessage">
        <part name="Create201302Response" element="hl7:PRPA_IN201302UV02"/>
    </message>
    <message name="Create201310RequestMessage">
        <part name="Create201310Request" element="hl7:Create201310Request"/>
    </message>
    <message name="Create201310ResponseMessage">
        <part name="Create201310Response" element="hl7:PRPA_IN201310UV02"/>
    </message>
    <message name="CreateFault201310RequestMessage">
        <part name="CreateFault201310Request" element="hl7:CreateFault201310Request"/>
    </message>
    <message name="CreateFault201310ResponseMessage">
        <part name="CreateFault201310Response" element="hl7:PRPA_IN201310UV02"/>
    </message>
    <portType name="NhincComponentSubDiscTransformsPortType">
        <operation name="CreateAck">
            <input name="CreateAckRequest" message="tns:CreateAckRequestMessage"/>
            <output name="CreateAckResponse" message="tns:CreateAckResponseMessage"/>
        </operation>
        <operation name="Create201305">
            <input name="Create201305Request" message="tns:Create201305RequestMessage"/>
            <output name="Create201305Response" message="tns:Create201305ResponseMessage"/>
        </operation>
        <operation name="Create201302">
            <input name="Create201302Request" message="tns:Create201302RequestMessage"/>
            <output name="Create201302Response" message="tns:Create201302ResponseMessage"/>
        </operation>
        <operation name="Create201310">
            <input name="Create201310Request" message="tns:Create201310RequestMessage"/>
            <output name="Create201310Response" message="tns:Create201310ResponseMessage"/>
        </operation>
        <operation name="CreateFault201310">
            <input name="CreateFault201310Request" message="tns:CreateFault201310RequestMessage"/>
            <output name="CreateFault201310Response" message="tns:CreateFault201310ResponseMessage"/>
        </operation>
    </portType>
    <binding name="NhincComponentSubDiscTransformsBindingSoap11" type="tns:NhincComponentSubDiscTransformsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateAck">
            <soap:operation soapAction="urn:CreateAck"/>
            <input name="CreateAckRequest">
                <soap:body use="literal"/>
            </input>
            <output name="CreateAckResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Create201305">
            <soap:operation soapAction="urn:Create201305"/>
            <input name="Create201305Request">
                <soap:body use="literal"/>
            </input>
            <output name="Create201305Response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Create201302">
            <soap:operation soapAction="urn:Create201302"/>
            <input name="Create201302Request">
                <soap:body use="literal"/>
            </input>
            <output name="Create201302Response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Create201310">
            <soap:operation soapAction="urn:Create201310"/>
            <input name="Create201310Request">
                <soap:body use="literal"/>
            </input>
            <output name="Create201310Response">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateFault201310">
            <soap:operation soapAction="urn:CreateFault201310"/>
            <input name="CreateFault201310Request">
                <soap:body use="literal"/>
            </input>
            <output name="CreateFault201310Response">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NhincComponentSubDiscTransforms">
        <port name="NhincComponentSubDiscTransformsBindingSoap11" 
          binding="tns:NhincComponentSubDiscTransformsBindingSoap11">
            <soap:address 
         location="http://localhost:${NhincHttpPort}/NhinConnect/NhincComponentSubDiscTransforms" />
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentSubDiscTransforms">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentSubDiscTransformsPortTypeRole" portType="tns:NhincComponentSubDiscTransformsPortType"/>
    </plnk:partnerLinkType>
</definitions>
