Product/Production/Adapters/UniversalClient/UniversalClientGUI/src/java/META-INF/DocumentManager.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://documentmanager.nhinc.fha.hhs.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://documentmanager.nhinc.fha.hhs.gov/" name="DocumentManagerService" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/transport/client">
<types>
<xsd:schema>
<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=4" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=5" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=6" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://documentmanager.nhinc.fha.hhs.gov/" schemaLocation="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager?xsd=7" />
</xsd:schema>
</types>
<message name="queryDynamicDocumentArchive">
<part name="parameters" element="tns:queryDynamicDocumentArchive" />
</message>
<message name="queryDynamicDocumentArchiveResponse">
<part name="parameters" element="tns:queryDynamicDocumentArchiveResponse" />
</message>
<message name="storeDynamicDocumentArchive">
<part name="parameters" element="tns:storeDynamicDocumentArchive" />
</message>
<message name="storeDynamicDocumentArchiveResponse">
<part name="parameters" element="tns:storeDynamicDocumentArchiveResponse" />
</message>
<message name="retrieveDynamicDocument">
<part name="parameters" element="tns:retrieveDynamicDocument" />
</message>
<message name="retrieveDynamicDocumentResponse">
<part name="parameters" element="tns:retrieveDynamicDocumentResponse" />
</message>
<message name="archiveDynamicDocument">
<part name="parameters" element="tns:archiveDynamicDocument" />
</message>
<message name="archiveDynamicDocumentResponse">
<part name="parameters" element="tns:archiveDynamicDocumentResponse" />
</message>
<message name="queryInboundRepository">
<part name="parameters" element="tns:queryInboundRepository" />
</message>
<message name="queryInboundRepositoryResponse">
<part name="parameters" element="tns:queryInboundRepositoryResponse" />
</message>
<message name="storeInboundDocument">
<part name="parameters" element="tns:storeInboundDocument" />
</message>
<message name="storeInboundDocumentResponse">
<part name="parameters" element="tns:storeInboundDocumentResponse" />
</message>
<message name="retrieveInboundDocument">
<part name="parameters" element="tns:retrieveInboundDocument" />
</message>
<message name="retrieveInboundDocumentResponse">
<part name="parameters" element="tns:retrieveInboundDocumentResponse" />
</message>
<message name="queryPolicyRepository">
<part name="parameters" element="tns:queryPolicyRepository" />
</message>
<message name="queryPolicyRepositoryResponse">
<part name="parameters" element="tns:queryPolicyRepositoryResponse" />
</message>
<message name="storePolicy">
<part name="parameters" element="tns:storePolicy" />
</message>
<message name="storePolicyResponse">
<part name="parameters" element="tns:storePolicyResponse" />
</message>
<message name="retrievePolicy">
<part name="parameters" element="tns:retrievePolicy" />
</message>
<message name="retrievePolicyResponse">
<part name="parameters" element="tns:retrievePolicyResponse" />
</message>
<portType name="DocumentManager">
<operation name="queryDynamicDocumentArchive">
<input message="tns:queryDynamicDocumentArchive" />
<output message="tns:queryDynamicDocumentArchiveResponse" />
</operation>
<operation name="storeDynamicDocumentArchive">
<input message="tns:storeDynamicDocumentArchive" />
<output message="tns:storeDynamicDocumentArchiveResponse" />
</operation>
<operation name="retrieveDynamicDocument">
<input message="tns:retrieveDynamicDocument" />
<output message="tns:retrieveDynamicDocumentResponse" />
</operation>
<operation name="archiveDynamicDocument">
<input message="tns:archiveDynamicDocument" />
<output message="tns:archiveDynamicDocumentResponse" />
</operation>
<operation name="queryInboundRepository">
<input message="tns:queryInboundRepository" />
<output message="tns:queryInboundRepositoryResponse" />
</operation>
<operation name="storeInboundDocument">
<input message="tns:storeInboundDocument" />
<output message="tns:storeInboundDocumentResponse" />
</operation>
<operation name="retrieveInboundDocument">
<input message="tns:retrieveInboundDocument" />
<output message="tns:retrieveInboundDocumentResponse" />
</operation>
<operation name="queryPolicyRepository">
<input message="tns:queryPolicyRepository" />
<output message="tns:queryPolicyRepositoryResponse" />
</operation>
<operation name="storePolicy">
<input message="tns:storePolicy" />
<output message="tns:storePolicyResponse" />
</operation>
<operation name="retrievePolicy">
<input message="tns:retrievePolicy" />
<output message="tns:retrievePolicyResponse" />
</operation>
</portType>
<binding name="DocumentManagerPortBinding" type="tns:DocumentManager">
    <wsp:PolicyReference URI="#DocumentManagerPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="queryDynamicDocumentArchive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="storeDynamicDocumentArchive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveDynamicDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="archiveDynamicDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="queryInboundRepository">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="storeInboundDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveInboundDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="queryPolicyRepository">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="storePolicy">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrievePolicy">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DocumentManagerService">
<port name="DocumentManagerPort" binding="tns:DocumentManagerPortBinding">
<soap:address location="http://nhin-int01.asu.edu:8080/DocumentManagerService/DocumentManager" />
</port>
</service>
    <wsp:Policy wsu:Id="DocumentManagerPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <tcp:AutomaticallySelectOptimalTransport/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>