Product/Production/Adapters/General/CONNECTAdapterWeb/src/main/resources/xml-resources/web-services/AdapterComponentRedactionEngine/wsdl/AdapterComponentRedactionEngine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AdapterComponentRedactionEngine"
    targetNamespace="urn:gov:hhs:fha:nhinc:adaptercomponentredaction"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:nccommonadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns="urn:gov:hhs:fha:nhinc:adaptercomponentredaction"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:adaptercomponentredaction">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
                schemaLocation="../schemas/nhinc/common/NhincCommonAdapter.xsd"/>
        </xsd:schema>
    </types>
    <message name="FilterDocQueryResultsRequest">
        <part name="FilterDocQueryResultsRequest"
            element="nccommonadapter:FilterDocQueryResultsRequest"/>
    </message>
    <message name="FilterDocQueryResultsResponse">
        <part name="FilterDocQueryResultsResponse"
            element="nccommonadapter:FilterDocQueryResultsResponse"/>
    </message>
    <message name="FilterDocRetrieveResultsRequest">
        <part name="FilterDocRetrieveResultsRequest"
            element="nccommonadapter:FilterDocRetrieveResultsRequest"/>
    </message>
    <message name="FilterDocRetrieveResultsResponse">
        <part name="FilterDocRetrieveResultsResponse"
            element="nccommonadapter:FilterDocRetrieveResultsResponse"/>
    </message>
    <portType name="AdapterComponentRedactionEnginePortType">
        <operation name="FilterDocQueryResults">
            <input name="FilterDocQueryResultsRequest"
                message="tns:FilterDocQueryResultsRequest"/>
            <output name="FilterDocQueryResultsResponse"
                message="tns:FilterDocQueryResultsResponse"/>
        </operation>
        <operation name="FilterDocRetrieveResults">
            <input name="FilterDocRetrieveResultsRequest"
                message="tns:FilterDocRetrieveResultsRequest"/>
            <output name="FilterDocRetrieveResultsResponse"
                message="tns:FilterDocRetrieveResultsResponse"/>
        </operation>
    </portType>
    <binding name="AdapterComponentRedactionEnginePortTypeBinding"
        type="tns:AdapterComponentRedactionEnginePortType">
        <soap12:binding style="document"
            transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <operation name="FilterDocQueryResults">
            <soap12:operation soapAction="urn:FilterDocQueryResults"/>
            <input name="FilterDocQueryResultsRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="FilterDocQueryResultsResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="FilterDocRetrieveResults">
            <soap12:operation soapAction="urn:FilterDocRetrieveResults"/>
            <input name="FilterDocRetrieveResultsRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="FilterDocRetrieveResultsResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AdapterComponentRedactionEngineService">
        <port name="AdapterComponentRedactionEnginePortTypeBindingPort"
            binding="tns:AdapterComponentRedactionEnginePortTypeBinding">
            <soap12:address location="http://localhost:${NhincHttpPort}/CONNECTAdapter/AdapterComponentRedactionService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="AdapterComponentRedactionEngine">
        <!-- A partner link type is automatically generated when a new port type is added.
        Partner link types are used by BPEL processes. In a BPEL process, a partner link
        represents the interaction between the BPEL process and a partner service. Each
        partner link is associated with a partner link type. A partner link type
        characterizes the conversational relationship between two services. The partner
        link type can have one or two roles.-->
        <plnk:role name="AdapterComponentRedactionEnginePortTypeRole"
            portType="tns:AdapterComponentRedactionEnginePortType"/>
    </plnk:partnerLinkType>
</definitions>
