Current/Product/Production/Common/Interfaces/src/wsdl/AdapterComponentSubscriptionRepository.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SubscriptionRepository" targetNamespace="urn:gov:hhs:fha:nhinc:adaptercomponentsubscriptionrepository"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:adaptercomponentsubscriptionrepository" 
    xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:subscription:subscriptionrepository">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscription" 
                        schemaLocation="../schemas/nhinc/common/Subscription.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:component:subscriptionrepository">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" 
                        schemaLocation="../schemas/nhinc/common/NhincCommon.xsd"/>
        </xsd:schema>
    </types>
    <message name="StoreSubscriptionRequest">
        <part name="subscriptionItem" 
              element="ncsub:SubscriptionItem"/>
    </message>
    <message name="StoreSubscriptionResponse">
        <part name="subscriptionReference" 
              element="ncsub:SubscriptionReference"/>
    </message>
    <message name="DeleteSubscriptionRequest">
        <part name="deleteSubscriptionMessage" 
              element="ncsub:DeleteSubscriptionMessageRequest"/>
    </message>
    <message name="DeleteSubscriptionResponse">
        <part name="ack" 
              element="nccommon:Acknowledgement"/>
    </message>
    <message name="RetrieveByCriteriaRequest">
        <part name="subscriptionCriteria" 
              element="ncsub:SubscriptionCriteria"/>
    </message>
    <message name="RetrieveByCriteriaResponse">
        <part name="subscriptionItems" 
              element="ncsub:SubscriptionItems"/>
    </message>
    <message name="RetrieveBySubscriptionReferenceRequest">
        <part name="retrieveBySubscriptionReferenceRequest" 
              element="ncsub:RetrieveBySubscriptionReferenceRequestMessage"/>
    </message>
    <message name="RetrieveBySubscriptionReferenceResponse">
        <part name="subscriptionItem" 
              element="ncsub:SubscriptionItem"/>
    </message>
    <portType name="AdapterSubscriptionRepositoryPortType">
        <operation name="StoreSubscription">
            <input name="StoreSubscriptionRequest" 
                   message="tns:StoreSubscriptionRequest"/>
            <output name="StoreSubscriptionResponse" 
                    message="tns:StoreSubscriptionResponse"/>
        </operation>
        <operation name="DeleteSubscription">
            <input name="DeleteSubscriptionRequest" 
                   message="tns:DeleteSubscriptionRequest"/>
            <output name="DeleteSubscriptionResponse" 
                    message="tns:DeleteSubscriptionResponse"/>
        </operation>
        <operation name="RetrieveByCriteria">
            <input name="RetrieveByCriteriaRequest" 
                   message="tns:RetrieveByCriteriaRequest"/>
            <output name="RetrieveByCriteriaResponse" 
                    message="tns:RetrieveByCriteriaResponse"/>
        </operation>
        <operation name="RetrieveBySubscriptionReference">
            <input name="RetrieveBySubscriptionReferenceRequest" 
                   message="tns:RetrieveBySubscriptionReferenceRequest"/>
            <output name="RetrieveBySubscriptionReferenceResponse" 
                    message="tns:RetrieveBySubscriptionReferenceResponse"/>
        </operation>
    </portType>
    <binding name="AdapterSubscriptionRepositoryBinding" 
             type="tns:AdapterSubscriptionRepositoryPortType">
        <soap:binding style="document" 
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StoreSubscription">
            <soap:operation soapAction="urn:StoreSubscription"/>
            <input name="StoreSubscriptionRequest">
                <soap:body use="literal"/>
            </input>
            <output name="StoreSubscriptionResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteSubscription">
            <soap:operation soapAction="urn:DeleteSubscription"/>
            <input name="DeleteSubscriptionRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeleteSubscriptionResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RetrieveByCriteria">
            <soap:operation soapAction="urn:RetrieveByCriteria"/>
            <input name="RetrieveByCriteriaRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveByCriteriaResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RetrieveBySubscriptionReference">
            <soap:operation soapAction="urn:RetrieveBySubscriptionReference"/>
            <input name="RetrieveBySubscriptionReferenceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrieveBySubscriptionReferenceResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AdapterSubscriptionRepositoryService">
        <port name="AdapterSubscriptionRepositoryPort" 
              binding="tns:AdapterSubscriptionRepositoryBinding">
            <soap:address 
               location="http://localhost:${HttpDefaultPort}/NhinConnect/AdapterSubscriptionRepositoryService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="AdapterSubscriptionRepository">
        <!-- A partner link type is automatically generated when a new port 
             type is added. Partner link types are used by BPEL processes. 
             In a BPEL process, a partner link represents the interaction 
             between the BPEL process and a partner service. Each partner 
             link is associated with a partner link type.  A partner link 
             type characterizes the conversational relationship between two 
             services. The partner link type can have one or two roles.-->
        <plnk:role name="AdapterSubscriptionRepositoryPortTypeRole" 
                   portType="tns:AdapterSubscriptionRepositoryPortType"/>
    </plnk:partnerLinkType>
</definitions>
