Current/Product/Production/Common/Interfaces/src/wsdl/HiemSubscriptionRepositoryUtil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HiemSubscriptionRepositoryUtil" targetNamespace="urn:gov:hhs:fha:nhinc:hiemsubscriptionrepositoryutil"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:gov:hhs:fha:nhinc:hiemsubscriptionrepositoryutil"
    xmlns:ns="urn:gov:hhs:fha:nhinc:gateway:hiemsubscriptionrepositoryutil"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:hiemsubscriptionrepositoryutil">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:gateway:hiemsubscriptionrepositoryutil" schemaLocation="../schemas/nhinc/gateway/HiemSubscriptionRepositoryUtil.xsd"/>
        </xsd:schema>
    </types>
    <message name="GetSubscriptionCountRequest">
        <part name="GetSubscriptionCountRequest" element="ns:GetSubscriptionCountRequest"/>
    </message>
    <message name="GetSubscriptionCountResponse">
        <part name="GetSubscriptionCountResponse" element="ns:GetSubscriptionCountResponse"/>
    </message>
    <message name="EmptySubscriptionRepositoryRequest">
        <part name="EmptySubscriptionRepositoryRequest" element="ns:EmptySubscriptionRepositoryRequest"/>
    </message>
    <message name="EmptySubscriptionRepositoryResponse">
        <part name="EmptySubscriptionRepositoryResponse" element="ns:EmptySubscriptionRepositoryResponse"/>
    </message>
<!--
    <message name="GetSubscriptionItemRequest">
        <part name="GetSubscriptionItemRequest" element="ns:GetSubscriptionItemRequest"/>
    </message>
    <message name="GetSubscriptionItemResponse">
        <part name="GetSubscriptionItemResponse" element="ns:GetSubscriptionItemResponse"/>
    </message>
-->
    <portType name="HiemSubscriptionRepositoryUtilPortType">
        <operation name="GetSubscriptionCount">
            <input name="GetSubscriptionCountRequest" message="tns:GetSubscriptionCountRequest"/>
            <output name="GetSubscriptionCountResponse" message="tns:GetSubscriptionCountResponse"/>
        </operation>
        <operation name="EmptySubscriptionRepository">
            <input name="EmptySubscriptionRepositoryRequest" message="tns:EmptySubscriptionRepositoryRequest"/>
            <output name="EmptySubscriptionRepositoryResponse" message="tns:EmptySubscriptionRepositoryResponse"/>
        </operation>
<!--
        <operation name="GetSubscriptionItem">
            <input name="GetSubscriptionItemRequest" message="tns:GetSubscriptionItemRequest"/>
            <output name="GetSubscriptionItemResponse" message="tns:GetSubscriptionItemResponse"/>
        </operation>
-->
    </portType>
    <binding name="HiemSubscriptionRepositoryUtilPortTypeBinding" type="tns:HiemSubscriptionRepositoryUtilPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetSubscriptionCount">
            <soap:operation soapAction="urn:GetSubscriptionCount"/>
            <input name="GetSubscriptionCountRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetSubscriptionCountResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="EmptySubscriptionRepository">
            <soap:operation soapAction="urn:EmptySubscriptionRepository"/>
            <input name="EmptySubscriptionRepositoryRequest">
                <soap:body use="literal"/>
            </input>
            <output name="EmptySubscriptionRepositoryResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
<!--
        <operation name="GetSubscriptionItem">
            <input name="GetSubscriptionItemRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetSubscriptionItemResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
-->
    </binding>
    <service name="HiemSubscriptionRepositoryUtilService">
        <port name="HiemSubscriptionRepositoryUtilPortTypeBindingPort" binding="tns:HiemSubscriptionRepositoryUtilPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/Nhinc/HiemSubscriptionRepositoryUtilService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="HiemSubscriptionRepositoryUtil">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HiemSubscriptionRepositoryUtilPortTypeRole" portType="tns:HiemSubscriptionRepositoryUtilPortType"/>
    </plnk:partnerLinkType>
</definitions>
