Current/Product/Production/Common/Interfaces/src/wsdl/NhincComponentInternalSubscriptionManagementOrch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NhincComponentInternalSubscriptionManagementOrch" targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentinternalsubscriptionmanagementorch"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:nhinccomponentinternalsubscriptionmanagementorch" 
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" 
    xmlns:nccommoninternalorch="urn:gov:hhs:fha:nhinc:common:nhinccommoninternalorch" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2">
    <import namespace="http://docs.oasis-open.org/wsrf/rw-2" 
            location="rw-2.wsdl"/>
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:nhinccomponentinternalsubscriptionmanagementorch">
            <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="../schemas/docs.oasis-open.org/wsn/b-2.xsd"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommoninternalorch" schemaLocation="../schemas/nhinc/common/NhincCommonInternalOrch.xsd"/>
        </xsd:schema>
    </types>
    <message name="SubscribeRequest">
        <part name="SubscribeRequest" element="nccommoninternalorch:SubscribeRequest"/>
    </message>
    <message name="SubscribeResponse">
        <part name="SubscribeResponse" element="wsnt:SubscribeResponse"/>
    </message>
    <message name="UnsubscribeRequest">
        <part name="UnsubscribeRequest" element="wsnt:Unsubscribe"/>
    </message>
    <message name="UnsubscribeResponse">
        <part name="UnsubscribeResponse" element="wsnt:UnsubscribeResponse"/>
    </message>
    <wsdl:message name="InvalidFilterFault">
        <wsdl:part name="InvalidFilterFault" 
               element="wsnt:InvalidFilterFault"/>
    </wsdl:message>
    <wsdl:message name="TopicExpressionDialectUnknownFault">
        <wsdl:part name="TopicExpressionDialectUnknownFault" 
               element="wsnt:TopicExpressionDialectUnknownFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidTopicExpressionFault">
        <wsdl:part name="InvalidTopicExpressionFault" 
               element="wsnt:InvalidTopicExpressionFault"/>
    </wsdl:message>
    <wsdl:message name="TopicNotSupportedFault">
        <wsdl:part name="TopicNotSupportedFault" 
               element="wsnt:TopicNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidProducerPropertiesExpressionFault">
        <wsdl:part name="InvalidProducerPropertiesExpressionFault" 
               element="wsnt:InvalidProducerPropertiesExpressionFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidMessageContentExpressionFault">
        <wsdl:part name="InvalidMessageContentExpressionFault" 
               element="wsnt:InvalidMessageContentExpressionFault"/>
    </wsdl:message>
    <wsdl:message name="UnacceptableInitialTerminationTimeFault">
        <wsdl:part name="UnacceptableInitialTerminationTimeFault" 
               element="wsnt:UnacceptableInitialTerminationTimeFault"/>
    </wsdl:message>
    <wsdl:message name="UnrecognizedPolicyRequestFault">
        <wsdl:part name="UnrecognizedPolicyRequestFault" 
               element="wsnt:UnrecognizedPolicyRequestFault"/>
    </wsdl:message>
    <wsdl:message name="UnsupportedPolicyRequestFault">
        <wsdl:part name="UnsupportedPolicyRequestFault" 
               element="wsnt:UnsupportedPolicyRequestFault"/>
    </wsdl:message>
    <wsdl:message name="NotifyMessageNotSupportedFault">
        <wsdl:part name="NotifyMessageNotSupportedFault" 
               element="wsnt:NotifyMessageNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="SubscribeCreationFailedFault">
        <wsdl:part name="SubscribeCreationFailedFault" 
               element="wsnt:SubscribeCreationFailedFault"/>
    </wsdl:message>
    <wsdl:message name="UnableToDestroySubscriptionFault">
        <wsdl:part name="UnableToDestroySubscriptionFault" 
               element="wsnt:UnableToDestroySubscriptionFault"/>
    </wsdl:message>
    <portType name="NhincComponentInternalNotificationProducerPortType">
        <operation name="Subscribe">
            <input name="SubscribeRequest" message="tns:SubscribeRequest"/>
            <output name="SubscribeResponse" message="tns:SubscribeResponse"/>
            <fault name="InvalidFilterFault" message="tns:InvalidFilterFault"/>
            <fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
            <fault name="TopicExpressionDialectUnknownFault" message="tns:TopicExpressionDialectUnknownFault" />
            <fault name="InvalidTopicExpressionFault" message="tns:InvalidTopicExpressionFault" />
            <fault name="TopicNotSupportedFault" message="tns:TopicNotSupportedFault" />
            <fault name="InvalidProducerPropertiesExpressionFault" message="tns:InvalidProducerPropertiesExpressionFault" />
            <fault name="InvalidMessageContentExpressionFault" message="tns:InvalidMessageContentExpressionFault" />
            <fault name="UnacceptableInitialTerminationTimeFault" message="tns:UnacceptableInitialTerminationTimeFault" />
            <fault name="UnrecognizedPolicyRequestFault" message="tns:UnrecognizedPolicyRequestFault" />
            <fault name="UnsupportedPolicyRequestFault" message="tns:UnsupportedPolicyRequestFault" />
            <fault name="NotifyMessageNotSupportedFault" message="tns:NotifyMessageNotSupportedFault" />
            <fault name="SubscribeCreationFailedFault" message="tns:SubscribeCreationFailedFault" />
        </operation>
    </portType>
    <portType name="NhincComponentInternalSubscriptionManagerPortType">
        <operation name="Unsubscribe">
            <input name="UnsubscribeRequest" message="tns:UnsubscribeRequest"/>
            <output name="UnsubscribeResponse" message="tns:UnsubscribeResponse"/>
            <fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
            <fault name="UnableToDestroySubscriptionFault" message="tns:UnableToDestroySubscriptionFault" />
        </operation>
    </portType>
    <binding name="NhincComponentInternalNotificationProducerPortTypeBindingSoap11" type="tns:NhincComponentInternalNotificationProducerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Subscribe">
            <soap:operation soapAction="urn:Subscribe"/>
            <input name="SubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="SubscribeResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidFilterFault">
                <soap:fault name="InvalidFilterFault" use="literal"/>
            </fault>
            <fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal"/>
            </fault>
            <fault name="TopicExpressionDialectUnknownFault">
                <soap:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
            </fault>
            <fault name="InvalidTopicExpressionFault">
                <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
            </fault>
            <fault name="TopicNotSupportedFault">
                <soap:fault name="TopicNotSupportedFault" use="literal"/>
            </fault>
            <fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal"/>
            </fault>
            <fault name="InvalidMessageContentExpressionFault">
                <soap:fault name="InvalidMessageContentExpressionFault" use="literal"/>
            </fault>
            <fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal"/>
            </fault>
            <fault name="UnrecognizedPolicyRequestFault">
                <soap:fault name="UnrecognizedPolicyRequestFault" use="literal"/>
            </fault>
            <fault name="UnsupportedPolicyRequestFault">
                <soap:fault name="UnsupportedPolicyRequestFault" use="literal"/>
            </fault>
            <fault name="NotifyMessageNotSupportedFault">
                <soap:fault name="NotifyMessageNotSupportedFault" use="literal"/>
            </fault>
            <fault name="SubscribeCreationFailedFault">
                <soap:fault name="SubscribeCreationFailedFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="NhincComponentInternalSubscriptionManagerPortTypeBindingSoap11" type="tns:NhincComponentInternalSubscriptionManagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Unsubscribe">
            <soap:operation soapAction="urn:Unsubscribe"/>
            <input name="UnsubscribeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="UnsubscribeResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal"/>
            </fault>
            <fault name="UnableToDestroySubscriptionFault">
                <soap:fault name="UnableToDestroySubscriptionFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NhincComponentInternalNotificationProducerService">
        <port name="NhincComponentInternalNotificationProducerPortTypeBindingPort" binding="tns:NhincComponentInternalNotificationProducerPortTypeBindingSoap11">
            <soap:address location="http://localhost:${HttpDefaultPort}/NhinConnect/NhincComponentInternalNotificationProducer"/>
        </port>
    </service>
    <service name="NhincComponentInternalSubscriptionManagerService">
        <port name="NhincComponentInternalSubscriptionManagerPortTypeBindingPort" binding="tns:NhincComponentInternalSubscriptionManagerPortTypeBindingSoap11">
            <soap:address location="http://localhost:${HttpDefaultPort}/NhinConnect/NhincComponentInternalSubscriptionManager"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NhincComponentInternalNotificationProducer">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentInternalNotificationProducerPortTypeRole" portType="tns:NhincComponentInternalNotificationProducerPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="NhincComponentInternalSubscriptionManagement">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NhincComponentInternalSubscriptionManagerPortTypeRole" portType="tns:NhincComponentInternalSubscriptionManagerPortType"/>
    </plnk:partnerLinkType>
</definitions>
