Product/Production/Gateway/GatewayWeb/src/main/java/META-INF/AdapterSubjectDiscoverySecured.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:gov:hhs:fha:nhinc:adaptersubjectdiscoverysecured" 
   xmlns:wsoap11="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:hl7="urn:hl7-org:v3" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:nccommonadapter="urn:gov:hhs:fha:nhinc:common:nhinccommonadapter"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:wsaws="http://www.w3.org/2005/08/addressing" 
   xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:sc1="http://schemas.sun.com/2006/03/wss/client"
   name="AdapterSubjectDiscoverySecured" 
   targetNamespace="urn:gov:hhs:fha:nhinc:adaptersubjectdiscoverysecured">
    <wsdl:documentation>
     WSDL for Adapter interface of Subject Discovery
    </wsdl:documentation>
    
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
            <xsd:include schemaLocation="../schemas/nhinc/hl7/HL7PatientDiscoveryMessages.xsd"/>
            <xsd:include schemaLocation="../schemas/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201301UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201301UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201301UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201301UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201302UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201302UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201302UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201302UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201302UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201303UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201303UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201303UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201303UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201303UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201304UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201304UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201304UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201304UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201304UVResponse" 
               element="hl7:MCCI_IN000002UV01"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201309UVRequestMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201309UVRequest" 
               element="hl7:PIXConsumer_PRPA_IN201309UVRequest"/>
    </wsdl:message>
    <wsdl:message name="PIXConsumer_PRPA_IN201309UVResponseMessage">
        <wsdl:part name="PIXConsumer_PRPA_IN201309UVResponse" 
               element="hl7:PIXConsumer_PRPA_IN201309UVResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="AdapterSubjectDiscoverySecuredPortType">
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201301UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" 
                   message="tns:PIXConsumer_PRPA_IN201301UVResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" 
                  message="tns:PIXConsumer_PRPA_IN201302UVRequestMessage"/>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse"  
                   message="tns:PIXConsumer_PRPA_IN201302UVResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201303UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201303UVResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201304UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201304UVResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest"
                  message="tns:PIXConsumer_PRPA_IN201309UVRequestMessage" />
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse"
                   message="tns:PIXConsumer_PRPA_IN201309UVResponseMessage" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="AdapterSubjectDiscoverySecuredBindingSoap11" 
                type="tns:AdapterSubjectDiscoverySecuredPortType">
        <wsoap11:binding style="document" 
                     transport="http://schemas.xmlsoap.org/soap/http"/>
                     <wsp:PolicyReference URI="#AdapterSubjectDiscoverySecuredBindingSoap11Policy"/>
        <wsdl:operation name="PIXConsumer_PRPA_IN201301UV">
            <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201301UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201301UVRequest" >
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201301UVResponse" >
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201302UV">
            <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201302UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201302UVRequest" >
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201302UVResponse" >
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201303UV">
            <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201303UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201303UVRequest" >
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201303UVResponse" >
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201304UV">
            <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201304UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201304UVRequest" >
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201304UVResponse" >
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PIXConsumer_PRPA_IN201309UV">
            <wsoap11:operation soapAction="urn:PIXConsumer_PRPA_IN201309UV"/>
            <wsdl:input name="PIXConsumer_PRPA_IN201309UVRequest" >
                <wsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PIXConsumer_PRPA_IN201309UVResponse" >
                <wsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="AdapterSubjectDiscoverySecured">
        <wsdl:port name="AdapterSubjectDiscoverySecuredPortSoap11" 
               binding="tns:AdapterSubjectDiscoverySecuredBindingSoap11">
            <wsoap11:address 
         location="https://localhost:${HttpsDefaultPort}/NhinConnect/AdapterSubjectDiscoverySecured"/>
        </wsdl:port>
    </wsdl:service>
    
<wsp1:Policy wsu:Id="AdapterSubjectDiscoverySecuredBindingSoap11Policy">
    <wsp1:ExactlyOne>
      <wsp1:All>
		<sc1:KeyStore wspp:visibility="private"
                    aliasSelector="gov.hhs.fha.nhinc.callback.KeyStoreClientAliasSelector"
                    callbackHandler="gov.hhs.fha.nhinc.callback.KeyStoreCallbackHandler"/>
		<sc1:TrustStore wspp:visibility="private"
                certSelector = "gov.hhs.fha.nhinc.callback.TrustStoreAliasSelector"
                callbackHandler="gov.hhs.fha.nhinc.callback.TrustStoreCallbackHandler"/>

        <sc1:CallbackHandlerConfiguration wspp:visibility="private">
          <sc1:CallbackHandler name="samlHandler" classname="gov.hhs.fha.nhinc.callback.SamlCallbackHandler"/>
        </sc1:CallbackHandlerConfiguration>
      </wsp1:All>
    </wsp1:ExactlyOne>
  </wsp1:Policy>
  
    <plnk:partnerLinkType name="AdapterSubjectDiscoverySecured">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
        <plnk:role name="AdapterSubjectDiscoverySecuredPortTypeRole" 
               portType="tns:AdapterSubjectDiscoverySecuredPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
