Product/Production/Gateway/PatientCorrelationFacade/xml-resources/web-service-references/NhincComponentPatientCorrelationFacade/wsdl/NhincComponentPatientCorrelationFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="PatientCorrelationFacade" 
    targetNamespace="urn:gov:hhs:fha:nhinc:componentpatientcorrelationfacade"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:gov:hhs:fha:nhinc:componentpatientcorrelationfacade" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" 
    xmlns:ncpc="urn:gov:hhs:fha:nhinc:common:patientcorrelationfacade" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema targetNamespace="urn:gov:hhs:fha:nhinc:component:patientcorrelationfacade" xmlns:tns="urn:gov:hhs:fha:nhinc:component:patientcorrelationfacade">
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="../schemas/nhinc/common/NhincCommon.xsd"/>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:patientcorrelationfacade" schemaLocation="../schemas/nhinc/common/PatientCorrelationFacade.xsd"/>
        </xsd:schema>
    </types>
    <message name="RetrievePatientCorrelationsRequestMessage">
        <part name="RetrievePatientCorrelationsRequest" element="ncpc:RetrievePatientCorrelationsRequest"/>
    </message>
    <message name="RetrievePatientCorrelationsResponseMessage">
        <part name="RetrievePatientCorrelationsResponse" element="ncpc:RetrievePatientCorrelationsResponse"/>
    </message>
    <message name="AddPatientCorrelationRequestMessage">
        <part name="AddPatientCorrelationRequest" element="ncpc:AddPatientCorrelationRequest"/>
    </message>
    <message name="AddPatientCorrelationResponseMessage">
        <part name="ack" element="nccommon:Acknowledgement"/>
    </message>
    <message name="RemovePatientCorrelationRequestMessage">
        <part name="RemovePatientCorrelationRequest" element="ncpc:RemovePatientCorrelationRequest"/>
    </message>
    <message name="RemovePatientCorrelationResponseMessage">
        <part name="ack" element="nccommon:Acknowledgement"/>
    </message>
    <portType name="PatientCorrelationFacadePortType">
        <operation name="RetrievePatientCorrelations">
            <input name="RetrievePatientCorrelationsRequest" message="tns:RetrievePatientCorrelationsRequestMessage"/>
            <output name="RetrievePatientCorrelationsResponse" message="tns:RetrievePatientCorrelationsResponseMessage"/>
        </operation>
        <operation name="AddPatientCorrelation">
            <input name="AddPatientCorrelationRequest" message="tns:AddPatientCorrelationRequestMessage"/>
            <output name="AddPatientCorrelationResponse" message="tns:AddPatientCorrelationResponseMessage"/>
        </operation>
        <operation name="RemovePatientCorrelation">
            <input name="RemovePatientCorrelationRequest" message="tns:RemovePatientCorrelationRequestMessage"/>
            <output name="RemovePatientCorrelationResponse" message="tns:RemovePatientCorrelationResponseMessage"/>
        </operation>
    </portType>
    <binding name="PatientCorrelationFacadeBinding" type="tns:PatientCorrelationFacadePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RetrievePatientCorrelations">
            <soap:operation soapAction="RetrievePatientCorrelations"/>
            <input name="RetrievePatientCorrelationsRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RetrievePatientCorrelationsResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddPatientCorrelation">
            <soap:operation soapAction="AddPatientCorrelation"/>
            <input name="AddPatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="AddPatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RemovePatientCorrelation">
            <soap:operation soapAction="RemovePatientCorrelation"/>
            <input name="RemovePatientCorrelationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="RemovePatientCorrelationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientCorrelationService">
        <port name="PatientCorrelationFacadePort" binding="tns:PatientCorrelationFacadeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/PatientCorrelationFacadeService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="PatientCorrelationFacadePartnerLinkType">
        <plnk:role name="PatientCorrelationPortTypeRole" portType="tns:PatientCorrelationFacadePortType"/>
    </plnk:partnerLinkType>
</definitions>
